[2013-10-28 05:42] supertylerc opened #1 "Branding"
Branding referencing Observium should be removed.

This includes logos, links, etc.  References to contributors should remain for posterity.

[2013-10-28 05:45] supertylerc opened #2 "Installation Documentation"
Documentation for fresh installation should be written.  It is quite different in many ways from the current method referenced via the Observium website.

[2013-10-28 08:06] #2 closed, assigned to nobody

[2013-10-28 20:14] paulgear opened #5 "discovery branding & version number"
Discovery displays:

Observium v0.SVN.ERROR Discovery

It should say LibreNMS and probably eliminate the version for now

[2013-10-28 20:23] paulgear opened #6 "Install documentation fixes/suggestions"
What I found while installing:
- Works fine on Debian 7 (wheezy)
- Should distinguish between local & remote DB more clearly
- aptitude is not the preferred installer on Debian or Ubuntu any more (to my knowledge); apt-get is the least common denominator
- need note about HTTPS access outbound
- do we really need to scp the SQL script to the DB server?
- editing instructions for config.php need to

[2013-10-28 20:29] paulgear opened #7 "Identify major functionality gaps"
Observium has moved on since r3251 (the last GPL-licensed revision).  We need to work out what functionality is missing that people need.

[2013-10-28 20:32] paulgear opened #8 "Integrate & test community patches"
There's already plenty of action around Observium on github: https://github.com/search?q=observium&ref=cmdformI

We should review the community contributions and integrate those which are useful and licensed appropriately.  If they are being actively maintained, we should integrate them as submodules rather than just cloning.

[2013-10-28 21:56] #5 closed, assigned to nobody

[2013-10-28 22:13] supertylerc opened #9 "Integrate Polling Wrapper"
The polling wrapper written in Python that is in the current Observium releases is released to public domain.  We should be able to integrate it without licensing concerns.

[2013-10-29 01:28] supertylerc opened #12 "Migrate to mysqli"
The `mysql_` functions currently in use are deprecated as of PHP 5.5.0 in favor of the `mysqli_` functions.

See the [PHP FAQ][1] for more details.

We need to start looking at a migration path.

[1]: http://www.php.net/manual/en/faq.databases.php#faq.databases.mysql.deprecated "mysql deprecated php 5.5.50"

[2013-10-29 01:58] supertylerc opened #13 "Update Cronjob"
The cronjob needs to be updated to include logrotate and stderr redirection to a log file.

See #6.

[2013-10-29 03:32] #1 closed, assigned to supertylerc

[2013-10-29 04:36] DanielHooper6430 opened #14 "Alerting"
A working alerting system inside librenms will be a welcome addition.

It has been suggested on IRC using nagios as a basis to manage alerting could be a suitable system and would save much time with 99% of the functionality already written into nagios-core.

Glue can be written to populate nagios's static configuration files from the librenms database, a hook or cron job then setup to reload nagi

[2013-10-29 04:49] DanielHooper6430 opened #15 "Removal of observium usage collection agent"
I believe it's in includes/versioncheck.inc.php .. This appears to report back usage statistics, should be removed from librenms code.

[2013-10-29 06:22] DanielHooper6430 opened #16 "SVN.ERROR"
This is popping up all over the show;

"Observium v0.SVN.ERROR Discovery"

[2013-10-29 06:47] DanielHooper6430 opened #17 "Old logo in browser tab still showing"
![image](https://f.cloud.github.com/assets/5798871/1426292/edd31288-4065-11e3-97b4-477078511f68.png)

[2013-10-29 11:19] #17 closed, assigned to nobody

[2013-10-30 20:40] #6 closed, assigned to nobody

[2013-10-30 20:42] #15 closed, assigned to nobody

[2013-11-02 06:25] paulgear opened #18 "Tidy autodiscovery configuration"
We have the following configuration variables influencing autodiscovery:
- $config['nets'][]
- $config['autodiscovery']['nets-exclude'][]
- $config['autodiscovery'][$method] (for $method in 'xdp', 'ospf', 'bgp', 'snmpscan')
This probably needs to be consolidated, and some utility functions used to determine whether each module should be activated.

[2013-11-02 06:28] paulgear opened #19 "Front screen first impressions"
The front screen doesn't give me warm fuzzies at the moment.  My front screen has:
- awfully bright blue text for LibreNMS heading in the top left and in the hostname field in the event log
- event log showing nothing but temperature changes
- no interesting graphs

We probably should make the defaults show a bunch of top 10 things out of the box.

[2013-11-02 06:49] paulgear opened #20 "ARP autodiscovery eventlog anomalies"
The ARP autodiscovery as at c1f8a5c2ae0e8999d67f49bd1144bc18c164a01f is working, but produces entries like this in the event log:

2013-11-02 16:45:20 	eth3	Device autodiscovered through ARP on r1.example.com
2013-11-02 16:45:19 		Device autodiscovered through ARP on r2.example.com

The entry should show the name of the host discovered.  I should also work out why sometimes the interface is shown

[2013-11-02 06:55] paulgear opened #21 "ARP autodiscovery settings"
Need to decide whether it's a good idea to turn on ARP autodiscovery by default.  LibreNMS is supposed to autodiscover things, but ARP autodiscovery might be a bit intensive.  On my home install it reported on the first run of the autodiscovery: "21 devices discovered in 223.9 secs".  On large networks a discovery like this could run for hours.

One option might be to limit the number of devices a

[2013-11-02 07:04] paulgear opened #22 "Buttons on edit -> port settings screen"
They would be much better being side-by-side rather than on top of each other.

[2013-11-02 07:06] paulgear opened #23 "What's ugly?"
I was struck by the visual difference between Observium 0.13.10.4586 and r3251, from which we forked.  Some things that are much uglier:
- Menu bar background that has a salmon tinge
- Blue colour in:
  - main heading (top left)
  - widescreen and logout links (top right)
  - most device and interface links

Some things I like better on the old version:
- Buttons and checkboxes in the edit -> port

[2013-11-03 20:08] supertylerc opened #24 "Virtual Machine Image"
Virtual Machine image should be created to help users try LibreNMS with minimal effort.

[2013-11-04 10:09] paulgear opened #25 "Update functionality"
tooms pointed me to https://github.com/midgetspy/Sick-Beard/blob/development/sickbeard/versionChecker.py, which implements checking of the installed version of a package against the current version in github.  The overall approach it uses is something like this:
- get commit id of local head: git rev-parse HEAD
- get name of current branch: git symbolic-ref -q HEAD
- get list of commits from githu

[2013-11-07 22:12] paulgear opened #27 "Don't report ports down/errors when the device is down"
At the moment if a device goes down, it can result in port errors or ports down being displayed in addition to the device down.  The code should exclude down devices from any further alerts (like reboots, port errors, ports down, etc.).

[2013-11-10 03:34] #22 closed, assigned to paulgear

[2013-11-10 04:49] paulgear opened #28 "Licensing review"
Observium seems to be a bit of a licensing minefield.  The overall Observium license for the revision from which LibreNMS was forked is GPLv3 or later, but there are a number of components included which may be in conflict with this.  Candidates include:
- JpGraph (html/includes/jpgraph): QPL 1.0 license
- MIBS (mibs): unknown/various
- html/graph-realtime.php: BSD (original?)
- html/includes/coll

[2013-11-24 09:39] f0o opened #29 "ifAlias not being polled right"
Hi,

there's a bug in the polling of ifAlias. I had this with observium aswell and needed to manually patch some php files, sadly a coworker blindly removed the entire observium suite before we got librenms so the patch is gone.

I will try to get into it again and provide a 'new' one.

Until then, can anyone confirm this bug?

Cheers

[2013-11-24 19:03] f0o opened #30 "/ports/ repeats ports"
Hi,

the /ports/ view is displaying each port twice.

I didnt dig into it yet but wanted to let you know of it for the log ;)

Cheers

[2013-12-07 17:42] laf opened #35 "Undefined index: debug in ajax_listports.php"
When selecting ports from the drop down in the billing section, apache logs:

PHP Notice:  Undefined index: debug in /opt/librenms/html/ajax_listports.php on line 15.

Simple fix, I'll put a pull request through shortly.

[2013-12-08 22:00] #35 closed, assigned to nobody

[2013-12-08 22:23] laf opened #40 "Add a status page for devices"
I've created a status page for devices like Observium has, I had to create this for my dashboards to work so I thought I'd release just this section as it may be helpful to others.

[2013-12-09 08:31] #40 closed, assigned to nobody

[2013-12-09 17:05] laf opened #42 "Documentation for enabling billing module"
Need to create a small doc on how to enable the billing module.

[2013-12-09 22:27] laf opened #44 "Adding a confirmation when deleting device"
Adding confirmation that user wants to remove the device and also if they want the rrd files to be removed or not.

[2013-12-11 21:16] laf opened #47 "Add links to the Devices / Ports status box at the top"
I'm going to add links to the status box at the top so you can go straight to the relevant filtered pages.

[2013-12-12 01:19] laf opened #48 "Clicking logout should redirect to /"
When you click logout, you are redirected to /logout/ which is then used if you re-authenticate from that page and thus, logs you back out :)

[2013-12-12 12:28] laf opened #49 "Popup graphs have a transparent background"
Makes things hard to see and work out when they pop up.

I'll change over to a white background to make it easier to see them.

[2013-12-17 17:26] #9 closed, assigned to supertylerc

[2013-12-21 20:54] #49 closed, assigned to nobody

[2014-01-08 21:10] laf opened #52 "Updating OS detection in poller"
Need to support some newer OSes that have been released since poller was originally created.

[2014-01-09 11:29] #48 closed, assigned to nobody

[2014-01-09 15:59] #47 closed, assigned to nobody

[2014-01-11 04:18] #44 closed, assigned to nobody

[2014-01-11 04:31] #16 closed, assigned to nobody

[2014-01-11 04:32] #13 closed, assigned to supertylerc

[2014-01-11 04:33] #52 closed, assigned to nobody

[2014-01-14 15:18] laf opened #61 "print-syslog.inc.php arbitrarily shortens hostnames"
As discussed on irc. Based on how the shorthost() function works the hostnames get shortened arbitrarily.

[2014-01-14 16:11] #61 closed, assigned to nobody

[2014-01-14 16:13] laf opened #63 "Cleanup of files is needed."
Some files and folders are no longer used so should be removed.

[2014-01-14 19:13] #63 closed, assigned to nobody

[2014-01-16 10:12] laf opened #65 "Changing $config['install_dir'] in config.php makes no difference"
Setting $config['install_dir'] in config.php is supposed to change the directory Libre is installed into, whilst this does happen the issue is the following variables depend on this:

$config['html_dir']      = $config['install_dir'] . "/html";
$config['rrd_dir']       = $config['install_dir'] . "/rrd";
$config['log_dir']       = $config['install_dir'] . "/logs";

Because $config['install_dir'] is

[2014-01-16 11:35] #65 closed, assigned to nobody

[2014-01-16 11:54] laf opened #67 "<title> defaults to using $config['page_title_suffix'] which is empty by default"
Needs to default to $config['page_title_prefix'] which is set to $config['project_name'] which isn't blank.

[2014-01-16 13:12] laf opened #68 "RRD files not removed when deleting device"
When deleting a device from the web interface, the rrd files and directories aren't removed. This will be due to those folders and files being owned by the user that the poller runs as (root).

[2014-01-16 18:13] laf opened #69 "Update needed for login sessions"
Login sessions need to be more secure. Possible ideas:
1. salt the password and store salt in users table.
2. stop using any user details in cookies and simply use phpsessionid with all information needed stored in server sessions.

[2014-01-18 14:02] #29 closed, assigned to nobody

[2014-01-21 11:51] f0o opened #71 "Changing VLAN-Tags of remote devices via librenms"
As discussed on IRC and within Roadmap.

This issue report is meant to be a pool of features this enhancement should have as well as structural discussion.
I will write the code as demanded by comments or IRC.

[code]

PS: Can a mod/admin change the status to 'Enhancement' and add me as "assigned to"? Thanks

[2014-01-28 15:03] #67 closed, assigned to nobody

[2014-01-28 20:46] #42 closed, assigned to nobody

[2014-02-04 08:36] laf opened #77 "login page layout needs updating"
It's the one page I missed off as I'm never logged out :/

[2014-02-05 19:45] laf opened #79 "Split out $config options into a DB"
This will allow online updates to be done.

Couple of things for this:

1. New 'Super Administrator' role needed.
2. Not all config options can be moved to this without changing the config names.

[2014-02-05 22:33] laf opened #80 "Change the Top X boxes to fade"
Rather than scrollout, these boxes should fade so it's not as impacting on the eye as per Paul's request in:

https://groups.google.com/forum/#!topic/librenms-project/dc3oR7GWhFQ

[2014-02-05 22:37] #80 closed, assigned to nobody

[2014-02-05 22:37] #77 closed, assigned to nobody

[2014-02-05 22:59] #23 closed, assigned to nobody

[2014-02-05 23:00] #19 closed, assigned to nobody

[2014-02-05 23:00] #7 closed, assigned to nobody

[2014-02-09 20:59] laf opened #82 "Missing fonts from Bootstrap 3 for Glyphicons"
Missed off the fonts directory, this isn't noticeable at the moment but just in case anyone is going to use it.

[2014-02-09 21:04] #82 closed, assigned to nobody

[2014-02-13 19:36] laf opened #84 "Install docs need updating to chmod poller-wrapper.py"
chmod +x poller-wrapper.py needs adding to install docs.

[2014-02-13 19:39] laf opened #85 "Top 10 devices doesn't include localhost"
On a fresh install with 4 devices, I've found that only 3 devices show in the top 10 devices, localhost is missing.

[2014-02-13 19:40] laf opened #86 "Top 10 ports has wrapping issues with log interface names"
Top 10 ports on the homepage is struggling when a hostname has a - (hyphen) in it and long port names.

[2014-02-13 19:41] laf opened #87 "Devices/Ports table on home page broken when no devices added"
Devices tota is blank on home page when no devices, this should default to 0 rather than blank.

[2014-02-14 06:53] #84 closed, assigned to nobody

[2014-02-14 07:31] #85 closed, assigned to nobody

[2014-02-14 07:57] #87 closed, assigned to nobody

[2014-02-20 22:06] laf opened #92 "Fix Bug -> Critical from smite's scrutinizer-ci.com"
Fix the bugs at the following link:

https://scrutinizer-ci.com/g/erik-smit/librenms/inspections/c0930040-994c-4304-b15f-fc0d4b0157d8/issues/?status=new&selectedLabels%5B0%5D=9&selectedSeverities%5B0%5D=15&orderField=path&order=asc

[2014-02-22 16:03] laf opened #94 "Convert top X boxes to be switched on/off from config"
The top X boxes aren't always applicable to everyone so allow these to be switched off from config.

[2014-02-22 16:10] #94 closed, assigned to nobody

[2014-02-22 16:10] #92 closed, assigned to nobody

[2014-02-23 11:49] laf opened #98 "Resolve site width issue that wraps graphs"

[2014-02-23 12:03] #98 closed, assigned to nobody

[2014-02-23 19:48] laf opened #102 "Fix Bug -> Major from smite's scrutinizer-ci.com"
Fix the following major bugs:

https://scrutinizer-ci.com/g/librenms/librenms/issues/?selectedSeverities%5B0%5D=10&orderField=path&order=asc

[2014-02-23 20:24] #102 closed, assigned to nobody

[2014-02-25 14:02] laf opened #103 "Urgent: Ports set to be ignored generate alerts still."

[2014-02-25 14:25] #103 closed, assigned to nobody

[2014-02-25 21:08] laf opened #105 "Update Bootstrap to v3.1"
v3.1 resolves a few design issues for us.

[2014-02-25 21:24] #105 closed, assigned to nobody

[2014-02-26 03:16] #69 closed, assigned to nobody

[2014-02-26 03:25] laf opened #108 "Update Overview dropdown to contain a link to overview"

[2014-02-26 03:32] #108 closed, assigned to nobody

[2014-02-26 14:24] laf opened #110 "Global search include issues"
The ajax_search.php includes files which aren't relevant and causes issues on some installs due to trying to redeclare functions.

[2014-02-26 15:26] #110 closed, assigned to nobody

[2014-02-26 15:26] laf opened #112 "Tidy up the devices page (visually)"

[2014-02-27 18:07] #112 closed, assigned to nobody

[2014-02-27 19:46] laf opened #114 "Update function print_optionbar_* to use bootstrap"

[2014-02-27 19:53] #114 closed, assigned to nobody

[2014-02-27 20:19] laf opened #116 "Update device/port/services box for bootstrap"

[2014-02-27 20:25] #116 closed, assigned to nobody

[2014-02-27 21:04] laf opened #118 "adduser.php missing includes of authenticate.inc.php"

[2014-02-27 21:08] #118 closed, assigned to nobody

[2014-02-27 21:12] laf opened #120 "Duplication of poller-wrapper in config.php"

[2014-02-27 21:24] #120 closed, assigned to nobody

[2014-02-27 21:28] laf opened #122 "Remove php.php"

[2014-02-27 21:31] #122 closed, assigned to nobody

[2014-02-27 21:34] laf opened #124 "Tidy up Recent eventlog entries table"

[2014-02-27 22:32] laf opened #125 "Fix build-base.php not running updates"

[2014-02-27 22:36] laf opened #126 "Fix install.php attempting to use non-existant db connection"

[2014-02-27 22:36] laf opened #127 "Fix sql-schema 006 -> 007 update showing error."

[2014-02-27 22:59] #125 closed, assigned to nobody

[2014-02-27 23:13] #126 closed, assigned to nobody

[2014-02-27 23:20] #127 closed, assigned to nobody

[2014-02-28 17:52] laf opened #131 "Dlink switches appear to have no ifDescr on some ports."
See https://ezcrypt.it/be8n#4azbrMfshxnEBLTEu6gzm802

[2014-02-28 22:10] #124 closed, assigned to nobody

[2014-02-28 22:12] laf opened #133 "Tidy up syslog entries"

[2014-02-28 22:50] laf opened #135 "Interfaces with only ifHCInOctets / ifHCOutOctets don't work in realtime graphs"
Fix for html/data.php is paste:

https://ezcrypt.it/ee8n#umIwuLkmDTQma4zcJjWSwb5X

below line 38.

[2014-02-28 23:09] #133 closed, assigned to nobody

[2014-03-01 17:01] #135 closed, assigned to nobody

[2014-03-01 18:14] laf opened #137 "Apache 2.3 > results in a 403"
Changes to Apache 2.3 and above cause LibreNMS to not work due to the config file.

This is the config file that toyowheelin has kindly provided:

https://ezcrypt.it/re8n#qKP4VfUg9ANuf7FShQkSKSQg

[2014-03-01 18:47] laf opened #138 "Billing option only shows ifDescr but should fall back to ifName for some devices."
http://imgur.com/iJbFDxc

[2014-03-02 15:14] laf opened #140 "Tidy up Inventory page visually."

[2014-03-02 15:40] #140 closed, assigned to nobody

[2014-03-02 15:51] #138 closed, assigned to nobody

[2014-03-02 16:06] laf opened #143 "Remove links to billing pdf as these aren't working."

[2014-03-02 16:09] #143 closed, assigned to nobody

[2014-03-02 16:12] laf opened #145 "Tidy up IPv(4/6), ARP and MAC address pages in overview"

[2014-03-02 16:39] #145 closed, assigned to nobody

[2014-03-02 20:09] laf opened #148 "Tidy up the devices page (visually) part 2"

[2014-03-02 20:14] #148 closed, assigned to nobody

[2014-03-02 20:19] laf opened #150 "Delete host page needs to be visually updated"

[2014-03-02 21:10] #150 closed, assigned to nobody

[2014-03-02 21:12] laf opened #152 "Update function print_error to use bootstrap"

[2014-03-02 21:15] #152 closed, assigned to nobody

[2014-03-02 21:31] laf opened #154 "plugin system"

[2014-03-04 12:46] #154 closed, assigned to nobody

[2014-03-04 12:47] laf opened #156 "Move to proc_open for snmp polling / discovery"
This will give us speed improvements and also response from the commands

[2014-03-05 14:34] laf opened #159 "Discovery against some Cisco kit doesn't obey prefix match in snmp config"
When running a discover against cisco kit which supports prefix match in snmp-config, LibreNMS ignores if this is missing.

[2014-03-05 17:47] #159 closed, assigned to nobody

[2014-03-05 17:47] #156 closed, assigned to nobody

[2014-03-06 20:24] #137 closed, assigned to nobody

[2014-03-07 14:41] JoeShmo opened #162 "(by default) log_file defined before log_path"
by default (and not mentioned in config.php) log for the poller is placed in /librenms.log (filesystem root)
in line 1141 of includes/definitions.inc.php we see:
if (!isset($config['log_file']))
{
  $config['log_file'] = $config['log_dir'] . "/" . $config['project_id'] . ".log";
}
yet log_dir is not defined until line 1219, then the lines above (1141-1144) are defined again in line 1220.  However,

[2014-03-07 16:16] toyowheelin opened #167 "Email address"
There is no place in the edit user or user preferences to add or change an email address or preferably multiple email addresses for an account. The add user page has no place for email either.
The database allows for adding an email address and it is required to use the IRC bot. It looks like the command line adduser.php is the only place to add an email address to an account.

[2014-03-07 17:35] toyowheelin opened #168 "html/images cleanup"
Looking through this dir I can see multiple images that likely are not used and possibly never will be. Need to clean this up.

[2014-03-08 14:15] toyowheelin opened #172 "Remove m0n0wall rebrand"
Looks like at some point in 2007 Adam A decided it was a good idea to rebrand m0n0wall for some of his customers. It looks like this rebrand made its way into the codebase and it is likely nobody but him uses it. We may as well rid ourselves of this.

http://blog.gmane.org/gmane.comp.security.firewalls.m0n0wall/month=20070201/page=18

[2014-03-08 22:16] laf opened #175 "Update observium db links to a more common name"
definitions.inc.php includes:

$observium_link
$observium_db

Need to be updated to common names.

[2014-03-09 14:55] #175 closed, assigned to nobody

[2014-03-09 18:00] toyowheelin opened #177 "pfsense detection"
pfSense is not being detected correctly, libreNMS detects it as FreeBSD.

[2014-03-09 20:40] laf opened #180 "Update Contributing doc to show git use."
Would be good to add some instructions on how to use git for first timers so that we can ensure PR's are clean and as they would be expected to make merging them a little easier.

[2014-03-10 19:53] toyowheelin opened #183 "Engenius detection"
Detection and polling do not work with my AP(EAP600), it shows up as a generic device.

[2014-03-10 20:41] toyowheelin opened #185 "Fix Engenius cpu graph and add total device bandwidth"
The default CPU graph does not work with Engenius devices, and I would like to see total bandwidth at the top of the device page as well.

[2014-03-10 22:08] #180 closed, assigned to nobody

[2014-03-13 09:00] f0o opened #191 "[Enhancement] IRC-Bot alerts"
This issue is just a placeholder so people see that I'm already working on the implementation of delivering alerts via the IRC-Bot :)

I can't give an ETA because I got a pile of things to get done IRL.

I will comment this issue as I code.
Protocol specifications, Settings, Alert-modes, ... Stay tuned ;)

[2014-03-13 12:57] toyowheelin opened #192 "Dlink device poller"
Need to get some better polling in place for dlink, currently there is none.

[2014-03-13 14:32] toyowheelin opened #194 "Health page CPU minigraph"
The cpu minigraph on the health processor page throws a draw error due to missing from time in the generated url.

[2014-03-13 21:36] #194 closed, assigned to nobody

[2014-03-14 00:08] #185 closed, assigned to nobody

[2014-03-14 00:10] #191 closed, assigned to nobody

[2014-03-16 14:15] toyowheelin opened #197 "Engenius processor hrDeviceDescr"
The hrDeviceDescr for the processor has no value rendering librenms unable to create graphs. We need to implement a fix similar to the one in the code for routeros.

[code]

[2014-03-16 19:09] #197 closed, assigned to nobody

[2014-03-16 19:11] #192 closed, assigned to nobody

[2014-03-16 19:12] #183 closed, assigned to nobody

[2014-03-16 19:12] #177 closed, assigned to nobody

[2014-03-16 20:22] toyowheelin opened #199 "d-link interface names"
The interfaces all show up as Ethernet Interface due to lack of proper ifDescr.

[2014-03-16 20:40] #199 closed, assigned to nobody

[2014-03-17 20:16] toyowheelin opened #202 "Reltime Graph interface names use ifDescr"
The realtime graphs do not abide by the $config['os'][$os]['ifname'] option thus once again my d-link switch displays "Ethernet Interface" rather than a usable interface number.

[2014-03-17 20:22] #202 closed, assigned to nobody

[2014-03-20 16:58] f0o opened #206 "Alerting"
This is just a note to inform that I'm currently developing a prototype for alerts.

You can follow my ~~rage~~ success in the repository [~f0o/glowing-tyrion](https://github.com/f0o/glowing-tyrion)

[2014-03-20 17:01] f0o opened #207 "Service Monitoring"
Hi!

I know there is working code based on nagios-plugins that handles checks for network services. Even Up/Down alerts work *per se*!

However, Observium sais they're dropping support/development of it...

How about LibreNMS? Will we revive Service-Monitoring?

[2014-03-29 00:20] paulgear opened #213 "Plugins still accessible after disable"
If you disable the test plugin, it remains in the menu, and you can select it.  Disabling plugins probably should reload the page.

Also, the plugin says the same thing as it normally does when you select it from the menu.  The plugin system probably should check whether the plugin is enabled before calling any of its hooks.

[2014-03-29 03:17] #172 closed, assigned to nobody

[2014-05-18 19:50] mboehn opened #219 "Can't add devices due to PHP fatal error"
Trying to add 'localhost' as per the INSTALL-document:

[code]

Turns out there is an error in `includes/discovery/os/engenius.inc.php`:

[code]

... which is included from the createHost function. Commenting out the codeblock in `includes/discovery/os/engenius.inc.php` makes adding hosts work.

[2014-05-20 19:14] #219 closed, assigned to nobody

[2014-05-23 07:51] f0o opened #220 "Processors not being discovered"
Hi,

I cant seem to get the processors of my linux servers to be discovered.

Sadly I havent added any devices in a while so I cant tell at which point it broke.
I cloned the repository this morning again and re-added the devices in question.

No luck, none of the CPUs are detected nor polled..
Already added devices are being polled fine. I even swapped the snmpd.conf to exclude a config-mistake b

[2014-06-07 17:56] casdr opened #221 "Health - No memory and processor"
Hello,

I'm having the problem that the Health is not showing Memory and Processor, I'm also gettings an drawing error for Processor on the device page.

![Screen1](http://tbx.me/mYBX.png)
![Screen2](http://tbx.me/3WJ.png)
![Screen3](http://tbx.me/OwwRr8.png)

[2014-06-10 23:25] #213 closed, assigned to nobody

[2014-06-10 23:29] #162 closed, assigned to nobody

[2014-06-11 09:09] #221 closed, assigned to nobody

[2014-06-13 06:52] #220 closed, assigned to nobody

[2014-06-23 01:23] paulgear opened #247 "Duplicate code flagged by Scrutinizer"
https://scrutinizer-ci.com/g/librenms/librenms/inspections/c2cf9f29-66b5-4fcd-b131-57b6ae74a6b1/issues/files/html/forms/discovery-module-update.inc.php?status=new&orderField=path&order=asc

https://scrutinizer-ci.com/g/librenms/librenms/inspections/c2cf9f29-66b5-4fcd-b131-57b6ae74a6b1/issues/files/html/forms/poller-module-update.inc.php?status=new&orderField=path&order=asc

Code:
if(!isset($module

[2014-06-24 00:49] paulgear opened #252 "Missing IP addresses in port list"
/device/device=1/tab=ports/ doesn't seem to show IP addresses on the interfaces under certain circumstances.  It appears that no IPv6 addresses are shown, and DHCP addresses via IPv4 as well (although the latter is uncertain).

[2014-06-24 01:15] #252 closed, assigned to nobody

[2014-06-25 10:13] perw07 opened #260 "Device information leaking to non-authorized users"
On the page "http://<server>/ports/" the drop-down list for devices contain all devices, not only the ones the user has the right to see.

The summary line at the bottom of the list also has the totals from all devices, not only the permitted ones.

I have not looked further, but perhaps this is a general problem and not only for this page?

[2014-06-27 14:09] #260 closed, assigned to nobody

[2014-07-08 17:04] toyowheelin opened #272 "drive health page incorrect link"
Clicking on one of the horizontal bar graphs on device/device=1/tab=health/metric=storage/ throws "Error You have insufficient permissions to view this page"

This is due to the id not being properly added to the url.

https://github.com/librenms/librenms/blob/master/html/pages/device/health/storage.inc.php#L28

.$drive['drive_id']. needs to get changed to .$drive['storage_id']. to properly genera

[2014-07-17 04:52] #272 closed, assigned to nobody

[2014-07-17 04:55] #168 closed, assigned to nobody

[2014-07-17 05:18] paulgear opened #275 "Newly discovered hosts have backslashes at the beginning and end of location & contact"
Anyone else seeing this?

[2014-07-17 12:35] #275 closed, assigned to nobody

[2014-08-06 17:34] #247 closed, assigned to nobody

[2014-08-06 17:39] paulgear opened #279 "Make date formatting consistent"
Date formatting in the codebase is completely ad-hoc.  Need to add some config options and use them consistently.

[2014-08-08 01:59] #167 closed, assigned to nobody

[2014-08-08 12:45] htam-net opened #280 "Discoverying and polling VRF, OSPF and BGP Processes on Nexus 7K : where to start coding"
Hi,

I would like to give a try to code some PHP Patchs, so that LibreNMS can discover VRF, OSPF, BGP and so on Nexus 7K platform (our reference will be Nexus 7700 with NX-OS 6.2).

We are implementing "VRF-Lite" style (no MPLS), so according to Cisco documentation, it is mandatory to map in NX-OS configuration, a SNMP Context (v3) to each instance of VRF, OSPF, BGP, whatever ....

My try will be

[2014-08-10 19:09] paulgear opened #281 "Columns in port edit section not aligned"
Columns in http://librenms.example.com/device/device=XX/tab=edit/section=ports/ are very confusing due to alignment bugs.

[2014-08-13 18:35] saltyfacu opened #283 "Disk percentage not shown in Health view"
I've seen that the disk use percentage is not shown in the "No Graph" view of the Health section. Also, te bars don't change color according to use. I attach a screenshot.

Realised that it's not a visualisation thing, the field storage_perc in the database is empty.

![image](https://cloud.githubusercontent.com/assets/839844/3910340/30990a98-2317-11e4-833d-c3bf2bc9355b.png)

[2014-08-13 21:55] LeslieCarr opened #285 "librenms unable to run in subdirectory"
LibreNMS is unable to run in a subdirectory.

In my case, I need this because I'm attempting to run it in a VM environment, with a nginx proxy, and the subdirectory redirects you to the proper VM.

The two things I have noticed are broken - the images directory & when you login, it redirects you to the domain name.

Thanks!

[2014-08-14 16:38] #283 closed, assigned to nobody

[2014-08-18 21:53] #281 closed, assigned to nobody

[2014-10-14 13:02] nicearma opened #322 "Problem in install"
Hello, i'm trying to install, but when get to the web installer i have this problem:

ERROR: Cannot open SQL build script build.sql

I running in debian 6.7 with

PHP:
No log handling enabled - turning on stderr logging
/etc/snmp/snmp.conf: line 6: Warning: Unknown token: rocommunity.
PHP 5.4.4-14+deb7u14 (cli) (built: Aug 21 2014 08:36:44)
Copyright (c) 1997-2012 The PHP Group
Zend Engine v2.4.0,

[2014-10-19 19:28] laf opened #326 "Install docs need updating for CentOS 7!"
Main thing is remove welcome.conf from /etc/httpd/conf.d/

Require all granted is also needed in librenms.conf

Also NoDecode for AllowEncodedSlashes

[2014-10-27 21:45] XxPatrickxX opened #330 "Column sorting"
Adding column sorting for the views available under the Health area.

For example:
https://librenms.example.org/health/metric=storage/view=detail/ -  sort by storage/usage/% used.
https://librenms.example.org/devices/ - sort by platform/os/uptime

[2014-11-03 08:53] elbuit opened #337 "Use same mysql engine for all tables"
At this time librenms mix MyISAM and InnoDB tables:

I think that is better to use same engine for all tables:

ALTER TABLE slas ENGINE=InnoDB;
ALTER TABLE packages ENGINE=InnoDB;
ALTER TABLE munin_plugins_ds ENGINE=InnoDB;
ALTER TABLE munin_plugins ENGINE=InnoDB;
ALTER TABLE loadbalancer_vservers ENGINE=InnoDB;
ALTER TABLE loadbalancer_rservers ENGINE=InnoDB;
ALTER TABLE ipsec_tunnels ENGINE=Inno

[2014-11-03 13:15] elbuit opened #338 "Alcatel-Lucent OmniSwich (Aruba rebranded) is detected like AOS device"
Alcatel-Lucent OmniSwich (Aruba rebranded) is detected like AOS device and not like arubaos device.

[2014-11-03 15:53] elbuit opened #341 "Add option to clean old perf_times table entries"
If you have a medim/large sized environment you can see how table perf_times was growing.

Adding an option to daily.php will be a good solution.

[2014-11-07 18:31] #338 closed, assigned to nobody

[2014-11-10 15:41] f0o opened #348 "$ifmib_oids redeclaration oddity in includes/polling/ports.inc.php"
Hi,

@nicearma mentioned an oddity on lines `25` and `27`.

it seems that line `25` is obsolete.

`$data_oids` is being processed at line 254.
`$stat_oids` is being processed at line 288.

From my POV the `array_merge` on line `25` can be removed.

[2014-11-11 00:20] #322 closed, assigned to nobody

[2014-12-02 17:16] gadago opened #358 "API Traffic Billing Stats (Feature)"
It would be useful to extend the API so it's possible to pull information about traffic bills.

For example, to return a 95th percentile or quota value for a specified period. 1 month would be ideal.

I imagine it would be useful to return (on a per traffic bill basis):

Allowed value
Used value
Overusage value
Bill ID value
Bill type (95th or quota)
Billing/Customer reference

[2014-12-05 12:59] gadago opened #361 "Monitoring Dell PERC Arrays Health"
Hi,

This is a feature request to have the ability to monitor the health of arrays on Dell PERC/LSI controllers.

I believe the sensor data can be obtained from Dell OpenManage/IPMI.

In particular, it would be great if this could be supported on Dell  11th and 12th generation server with PERC H200 or H700 controller or newer.

Thanks,

[2014-12-08 17:01] #358 closed, assigned to laf

[2014-12-08 19:56] XxPatrickxX opened #362 "Git log viewing"
As LibreNMS updates automatically, there currently is no way to see what it's been doing during the update process. How about adding off the About page near the Changelog link a link to show the output from the "git log" command along with showing the dbSchema version.

[2014-12-11 20:38] laf opened #363 "Need to improve create bill from ports system"

[2014-12-15 09:18] f0o opened #365 "2-Factor-Auth (TOTP/HOTP)"
Hi,

is there any interest in having 2fa with the MySQL authentication module?

Cheers,
f0o

//UPDATE:
To be precise, I mean this RFC: http://www.ietf.org/rfc/rfc4226.txt

[2014-12-23 18:44] #206 closed, assigned to nobody

[2014-12-23 23:10] #362 closed, assigned to nobody

[2014-12-25 09:49] f0o opened #380 "Obsolete Acknowledgements in the /about/ page"
Hi,

In the Acknowledgements there's one entry in particular that caught my attention:

[code]

This is for the `observium` logo, it has nothing to do with LibreNMS.

The page might need a cleanup.

[2014-12-26 21:49] XxPatrickxX opened #381 "Syslog catch-call"
Add in the capacity to log syslog entries which fail to match an existing host entry.

[2014-12-28 11:23] #14 closed, assigned to nobody

[2014-12-28 16:10] #365 closed, assigned to nobody

[2014-12-28 16:25] #380 closed, assigned to nobody

[2014-12-29 21:50] #341 closed, assigned to nobody

[2014-12-29 23:28] joubertredrat opened #385 "possible bug on bill calculate"
Hi,

I'm using Librenms on testing and recently I started to use bill usage, works fine, but in some moments is very wrong, as examples in images in two different bills.

https://i.imgur.com/x0CPEOJ.jpg
https://i.imgur.com/SkL4IE2.jpg

I don't know if this is a bug and if is on calculate or showing data.

I hope helped

[2014-12-30 10:46] phlb opened #386 "Inconsistent port/interface graphs for unix systems"
Hi,

Librenms use currently ``ifIndex`` to identify each port through snmp. On unix system, the ``ifIndex`` can change after a reboot. For example, if an interface has been removed or if the creation order has been changed. So this creates some inconsistent graphs. On unix system, we should use ``ifName`` instead.

The modification is quite easy during polling and discovering.  If the ``os_group``

[2015-01-02 17:25] laf commented on #386
Indeed you're correct @phlb :)

It's a design choice now ( @paulgear ) on which way we go.

Also worth bearing in mind that the graph pages need to be updated to use either of the new formats for the filename.

[2015-01-02 18:24] f0o opened #387 "Packages search with version comparison"
When using the unix-agent you can pull a list of installed packages from your systems.

There's currently no way, that I'm aware of, to search for packages matching the name and/or version provided by the user using LibreNMS.

I might propose a PR by end of the weekend if I get enough time.

[2015-01-02 22:52] laf opened #388 "Proposed doc update"
So I've moved the docs (merged files from doc and wiki) into a structure:

https://github.com/laf/librenms/wiki

https://github.com/laf/librenms/tree/docs

Obviously this changes the way things work at the moment so we need to work out the best way forward (if any changes are needed).

* Any links from /doc/ before will no longer work.

* Contributing to the wiki will be a bit harder. People can e

[2015-01-03 12:04] f0o commented on #388
`When the wiki is updated, it will need someone to pull the changes into the /doc/ submodule and submit a PR.`

Are you sure about this?

Unless you specify a specific commit hash to the submodule, it should just pull the most recent version. So it shouldnt require any PRs on the repo.

Or am I mistaken?

[2015-01-03 14:41] laf commented on #388
I could be wrong but it actually seems worse than that.

Checking out my repo and switching to the docs branch, you have to run git submodule init and then git submodule update.

It also doesn't seem to pull out the latest version from the wiki.

If anyone else has got experience of how submodules should work that would be good.

[2015-01-05 18:58] joubertredrat commented on #326
Hi guys,

@laf, I will try to create script to easy install on debian/ubuntu and CentOS6/7, if I can I post here

[2015-01-07 14:59] f0o commented on #30
So this issue just occurred again.

I figured out why, it's an issue with the Memcached check within `html/pages/ports.inc.php`

Working on a fix.

[2015-01-07 15:15] gadago commented on #30
Not sure if it's related to this, but I also get duplicate BGP/iBGP and OSPF entries under routing.

[2015-01-07 15:23] f0o commented on #30
The best fix for this particular issue is to remove the memcached checks on `ports.inc.php`. It has no use whatsoever. It was meant to relief the MySQL from pulling so much data but it's healthier for the SQL to handle one big `*` query than potentially hundreds `*` queries with 1 result each. So the Memcache pulling that's done afterwards will always just create duplicates. I will make a PR to re

[2015-01-08 06:28] f0o opened #397 "Support more linux distributions in `ifAlias`"
Add support for RHEL & Gentoo and reformat the script to be more easily extended in future

[2015-01-08 09:35] laf commented on #397
Merged

[2015-01-08 10:22] #397 closed

[2015-01-08 17:59] laf commented on #388
I really like @f0o find of: http://librenms-master.readthedocs.org/en/latest/

This works really well, is searchable and has built in support for github via webhooks. @paulgear if you are happy with this approach then could you create an account on RTD?

The docs would then still be available in /docs/ but would get pushed out to something like docs.librenms.org and maybe disable the wiki?

[2015-01-08 18:01] laf commented on #385
Any more feedback on the data we need @joubertredrat?

[2015-01-09 08:44] #30 closed

[2015-01-09 08:47] f0o commented on #12
any update on this very old issue?

[2015-01-09 13:53] f0o commented on #388
RTD moved to http://librenms.readthedocs.org/

[2015-01-09 20:40] f0o opened #399 "Fancier Global Settings page"
The current global settings page is just a print_r - thats not really nice...

I got annoyed by it so I wrote a small function that creates a nested table out of an array.

I'll PR this tmr for you to evaluate.

[2015-01-10 07:42] f0o opened #402 "Missing `nginx` default graphs in `/html/pages/apps.inc.php`"
Although the App-Overview page is not directly linked people may still like using it as it represents all Apps known with 1 graphs each. (`/apps/` without arguments)

This works great for Apache, MySQL, Memcached, ... but not for nginx as the required 'default'-graph is missing.

[2015-01-10 07:53] f0o commented on #20
Can this be closed?

[2015-01-10 12:55] #402 closed

[2015-01-10 20:45] #399 closed

[2015-01-11 12:59] #387 closed

[2015-01-12 15:09] laf commented on #381
Just got round to looking into this.

So it's possible to add a config option to allow for unmatched hosts against the DB, however the issue after this is that the OS of the device is used to pattern match the message and manipulate it. This is something that wouldn't be able to be done anymore.

It could be a case of just dump unmatched entries and leave it upto the end user to decipher things bu

[2015-01-12 16:17] #363 closed

[2015-01-12 19:29] f0o commented on #381
I would like to invest little more effort in this feature and make it device-id agnostic.

Leaving the identification solely to the Source-IP of the message.

My plan would be to make the syslog-parser accept any messages and add those into the DB using Source-IP as `device_id` replacement.
We will still benefit from pre-parsed syslog messages because they wont require a `device_id` to be present,

[2015-01-13 14:14] laf commented on #381
The regex is based on the OS though, different regex for different OS'. I suppose you can probably check each regex would match before running it?

[2015-01-13 15:27] f0o commented on #381
That was the plan :)

[2015-01-13 15:30] f0o opened #405 "Add process-list from unix-agent"
Hi,

currently a bunch of useful information returned by Check_MK is going to waste.

The current codebase even has a process-list parser that even runs through the unix-agent's output but it's data is just discarded.

I'm working on a very simple addition to allow storage of the current processes with PID, VSZ, RSS, PCPU, User, Command.

PR should be inbound in some hours ;)

[2015-01-14 19:59] f0o opened #408 "Storage and Memory % empty"
Hi,

I'm monitoring mostly servers (debian, gentoo, centos, ...) and on the overview of each device I have missing % on Memory (Phys, Virt, Swap) and on Storage (all mount points). CPU shows up fine.

Just to clear it, I dont mean the graphs, those are good - I mean the small bar next to the graphs on the device's overview page.

Am I the only one?

[2015-01-14 20:14] paulgear commented on #408
I haven't seen this - got a screenshot?

[2015-01-15 06:42] f0o commented on #408
https://i.imgur.com/wHYByxF.png

[2015-01-15 18:39] f0o opened #411 "Make use of Check_MK"
Hi,

as seen in #405 and #207, I'd like to bring System-Data into LibreNMS.

We already got the ideal basis, Check_MK (AKA Unix-Agent)!
It uses a very modular core that allows the administrator to monitor literally anything s/he can write into a script.
A lot of data like Software-Raid status, Process-List (#405), ... is going to waste currently.

My Idea is to add a general table called 'check_mk

[2015-01-16 08:03] laf commented on #411
No real comments on this myself although I think it's a good idea to do. I run it in my testing environment if you want me to help test in anyway.

[2015-01-16 08:57] f0o commented on #408
Update:

It works on my gentoo's but not on my CentOS or Debians... odd...

[2015-01-16 12:12] laf commented on #408
I looked at this the other day in your screenshot and couldn't figure out what you meant - now I get it.

Works for me on CentOS! I'll try and look at the code to see if it's possible to be different per OS.

[2015-01-16 18:10] f0o opened #412 "named/Bind9 Application"
Add Bind9 Application and Graphs with primary focus on Total Queries per Type but extendible to add Per-Zone statistics in (near) future.

Bind9 statistics should be generated via named-configuration directives `statistics-file "/path/to/named.stats";` and Per-Zone via `zone-statistics yes;` and delivered via Check_MK.

A PR is in the pipeline

[2015-01-17 18:03] f0o opened #415 "TinyDNS (DJBDNS) Application"
Informative issue to get a issue-### :)

Plan is to use [tinystats](http://www.morettoni.net/tinystats.en.html) to get data via Check_MK for the TinyDNS server.

[2015-01-18 07:37] #412 closed

[2015-01-18 07:39] f0o commented on #408
My CentOS is a 7.0.1406 and my debians are upstream wheezy.. if it matters..

[2015-01-18 20:07] #415 closed

[2015-01-20 03:23] wzhsunn commented on #405
how to monitor a process ?

[2015-01-20 06:13] f0o commented on #405
Do you mean get the processlist or alerting upon it?
If 1st: simply update your check_mk with the newly shipped one from librenms repo (or upstream innovation branch from mathias kettner), install xinetd and config it if not done yet, poll and done :)

If 2nd: This is a tricky one! It is possible now, but you will have to invert your interpretation of the alert. So Alert becomes recovery and vice

[2015-01-20 08:56] wzhsunn commented on #405
Thank you very much for your reply and my English is poor .
I think my mean is * 2nd *.
I want to monitor a single process e.g. apache or iis or mysql etc.

[2015-01-20 09:02] wzhsunn opened #417 "Is there any topo map ?"
I found this https://github.com/laf/weathermap, but it is not as beautiful as librenms.
php weathermap is good and very usefull but its editor is ugly.

If I need a feature like this ,what should I do ?

[2015-01-20 09:04] f0o commented on #405
That is possible but it will send you 'Recovery' email if you check for existing alert.

If you want to check process+memory then it will be fine.
Use alert-rules to add the alert, the table is called processes.

Example for memory check would be:
`processes.command ~ 'mysqld' && processes.vzs > 524288`
This alerts if mysqld uses more than 512MByte virtual memory.

[2015-01-20 09:16] wzhsunn commented on #405
OK, I will have a try. Thank you very much ! :) .

[2015-01-20 10:14] f0o commented on #405
Closing this issue because it's been merged in #410 - Feel free to comment on questions or simply join IRC

[2015-01-20 10:14] #405 closed

[2015-01-20 10:15] f0o commented on #417
I think we only have the weathermap currently... if you know an alternative, feel free to contribute it as a plugin :)

[2015-01-20 15:11] wzhsunn commented on #417
OK, Thank you for your reply .

[2015-01-20 19:52] f0o opened #418 "Distributed Poller"
With growing numbers of devices to poll there will be a need for distributing polling across multiple machines.

`poller-wrapper.py` works great on a single host but scaling up that single host may be more expensive than acquiring multiple smaller machines designated to only poll devices.

I wrote a patch to the current `poller-wrapper.py` that uses a centralized Memcached server for Inter-Process

[2015-01-20 23:54] laf commented on #418
Ok so my version failed :/

I need to alter the rrd_dir config variable on the primary web ui to pull rrd data from the relevant nfs mount, I gave up patching files after 5 and decided it just wasn't worth it.

I should have time to give your version a go but ideally I'd need the ability to fix certain devices to certain pollers. I've already done the code in my branch where you can add pollers th

[2015-01-21 07:39] f0o commented on #418
Regarding poller_id: Couldnt we make this Hostname-specific? that would eliminate the need of a modified config.php for each poller. Poller-Hosts will (hopefully ;) differ in hostnames anyhow.

I merged your poller_id directives into my poller-wrapper.py, poller.php and discovery.php.

[2015-01-21 13:27] laf commented on #418
Ok, I've had to put my testing on hold for this as I can't get the rrd data centralised without losing a large chunk of data due to the time it takes.

Ideally I'd need to work on automating the moving of individual devices but this isn't something I'm going to be able to do soon :(

[2015-01-21 13:28] #417 closed

[2015-01-21 15:55] f0o commented on #408
Turns out it's one of those mis-implemented memcache usage.
I will rewrite the way librenms uses memcache when I got time+motivation. A hot-fix here would be to simply remove the memcache code.. meh..

[2015-01-21 15:55] #408 closed

[2015-01-22 15:11] f0o opened #419 "Use Bootstrap's progressbar"
Hi,

The current progressbars to indicate CPU load, Mem-Usage, Storage-Usage, ... looks quite chubby.
As we're using Bootstrap already, I'll PR a patch that will use bootstrap's progressbar for those indicators.

To clear up: I mean those bars in the device overview.

[2015-01-22 20:42] #419 closed

[2015-01-23 15:18] f0o commented on #388
This can be closed :)

[2015-01-23 15:20] f0o commented on #385
Propose closing due to too little information. @joubertredrat can reopen it again later if needed.

[2015-01-23 15:21] f0o commented on #348
Closing this, PR will be issued this evening.

[2015-01-23 15:21] #348 closed

[2015-01-23 15:22] f0o commented on #326
@laf isnt this covered by now?

[2015-01-23 15:23] f0o commented on #79
Related PR: #421

[2015-01-23 15:24] f0o commented on #27
Is this solved with the new alerting?

[2015-01-23 15:31] laf commented on #326
I don't think so @f0o. The docs don't mention welcome.conf I don't think.

[2015-01-23 15:31] #388 closed

[2015-01-23 15:31] laf commented on #388
Indeed :)

[2015-01-23 17:27] f0o commented on #25
Is this still relevant or did it obsolete?

[2015-01-23 17:55] laf commented on #25
I kind of made it obsolete by popping the 7 chars of the sha hash in the about us page so we can quickly check what version a users on.

This seemed a bit ott.

[2015-01-24 06:46] f0o commented on #326
`Require all granted` seems to be only used in `mod_authz_core` but I cant find any directive related to it in the config nor in the .htaccess.

Where did you want it to be mentioned?

[2015-01-24 07:04] f0o commented on #381
Can somebody give me an excerpt of Cisco's IOS syslog messages so I can figure a format?

[2015-01-24 07:16] f0o commented on #68
[code]

This is included in `delete_device($id)` (File: `includes/functions.php` Line: 249)

So really the fix relies in POSIX permissions.

I suggest:
1.  create a librenms user
2.  add the httpd's user to the librenms group
3.  let the cronfile run with that uid/gid
4.  let the poller `chmod 775` all new files

If that's too much to ask for, we can add a very ugly `chmod 777` over all newly crea

[2015-01-24 10:18] paulgear commented on #68
Let's just forget you ever mentioned chmod 777 and move along. :-)

[2015-01-24 10:39] paulgear commented on #25
Yeah - I think we can just close this; @laf has done some good work on making the about box give useful info, and auto-update works.

[2015-01-24 10:39] #25 closed

[2015-01-24 13:44] laf commented on #68
lol, also those steps are manual for existing installs.

What about dealing with it in the poller like blahdeblah said? May require another column to the DB though.

[2015-01-24 13:44] laf commented on #381
I'll grab some now. They can vary though based on some options selected.

[2015-01-24 13:45] f0o commented on #68
yes, it requires another column. Not that it would be an issue, I just think that on the long-run we shouldnt let the poller run as root... it's not really sane...

[2015-01-24 13:47] laf commented on #381
With:

service timestamps debug datetime localtime show-timezone
service timestamps log datetime localtime show-timezone

Jan 24 11:00:48 GMT: %SEC-6-IPACCESSLOGP: list Vty_Access denied tcp 23.25.167.30(51102) -> 0.0.0.0(22), 1 packet
Jan 24 12:04:09 GMT: %SEC-6-IPACCESSLOGP: list Vty_Access denied tcp 190.57.200.240(37998) -> 0.0.0.0(22), 1 packet
Jan 24 12:25:26 GMT: %SEC-6-IPACCESSLOGP: list V

[2015-01-24 13:48] laf commented on #326
This is what is needed @f0o:

  <Directory "/opt/librenms/html/">
    AllowOverride All
    Options FollowSymLinks MultiViews
    Require all granted
  </Directory>

Without you get 403 errors.

[2015-01-24 14:59] f0o commented on #381
Thanks!

[2015-01-24 20:08] #326 closed

[2015-01-24 21:50] paulgear commented on #68
I fully agree that running the poller as root is undesirable, but I think that it may have to due to use of fping.

[2015-01-25 07:05] f0o commented on #68
@paulgear : fping has suid flag on upstream debian and centos. This shouldnt be an issue then

I also recall somebody on the IRC saying he uses the cron as nonroot already.. Will ask for bugs or wether it works outofthebox

[2015-01-25 08:52] f0o commented on #68
Shorty from IRC said it worked outofthebox, he's running the cronjobs with same user as his apache.

[2015-01-30 00:29] wzhsunn opened #431 "snmp simulator"
http://snmpsim.sourceforge.net/simulation-based-on-mibs.html
Maybe we can simulator data like this, but I only simulator with the example:
[code]
If I want simulator a cisco device, what should I do ?
Thank you !

[2015-01-30 05:51] f0o commented on #431
Hi,

I would use GNS3 to create a couple of cisco devices on my network.

It's not really simulating but more like emulating.

[2015-01-30 12:11] f0o commented on #418
First set of results in my lab-env (courtesy of @laf):

Devices `1` and `2` are assigned `poller_id=0`, shared among __all__ pollers.
Devices `3`, `5` and `6` are assigned `poller_id=1`, pinned to __poller1__.
Devices `4`, `7`, and `8` are assigned `poller_id=2`, pinned to __poller2__.

__poller1__:
[code]

__poller2__:
[code]

[2015-01-30 15:36] laf commented on #431
That  looks pretty interesting :)

[2015-01-31 11:17] f0o commented on #418
Day Two of my new 'lab'-env:

I've set up a NFSv4 server sharing the rrds filesystem and discarding UID/GID settings from the clients to avoid inconsistencies. The LibreNMS host, currently also hosting the central Memcached, has Async-ReadOnly access to the rrd directory. Both pollers have Sync-ReadWrite access. I've left all mount-options and export-options to default apart from the UID/GID squas

[2015-01-31 17:03] f0o opened #433 "Update IRC-Bot to support alerting update"
PR inbound. It's a small and simple fix.

[2015-01-31 20:49] #433 closed

[2015-02-01 19:09] f0o opened #437 "Review Package-Dependencies"
Hi,

I've been deploying an awful amount of poller-hosts recently and I got to look at the package-dependencies:
`libapache2-mod-php5 php5-cli php5-mysql php5-gd php5-snmp php-pear snmp graphviz php5-mcrypt php5-json apache2 fping imagemagick whois mtr-tiny nmap python-mysqldb snmpd mysql-client php-net-ipv4 php-net-ipv6 rrdtool git`

I can't explain where or even if we use: `php5-snmp imagemagick

[2015-02-01 19:20] laf commented on #437
mtr-tiny and nmap are used in the netcmd.php script but not used outside of that.

snmp isn't used at all afaik.

not sure if imagemagic and graphviz are needed for jpgraph?

[2015-02-01 19:28] f0o commented on #437
Re: netcmd.php

From a quick grep only whois is really used by LibreNMS. nmap and mtr are available codewise but not used anywhere...

Re: imagemagic and graphviz, I'm not sure.. Debian's `libphp-jpgraph` https://packages.debian.org/wheezy/libphp-jpgraph doesnt list it as dependencies, only `php-gd` :S

[2015-02-02 20:23] laf commented on #437
I'd say keep the bits that are used by netcmd.php as they could be useful.

I guess remove the others if they aren't needed.

[2015-02-03 03:24] wzhsunn opened #438 "Draw Error"
I poll a win 7, but I got a draw error on  **Processor Usage**.
I debug it :
[code]

what 's the problem ?

[2015-02-03 03:38] paulgear commented on #438
Hi wzhsunn, LibreNMS has never really supported IP-based polling.  As a workaround, add an entry for that IP address to /etc/hosts and use the name instead.  Please let us know if that works.

[2015-02-03 06:31] wzhsunn commented on #438
I add an entry to /etc/hosts, but  has the same error .

[2015-02-03 06:35] paulgear commented on #438
Please paste the output of "./poller.php -h yourhost -d" here and we'll take a look.

[2015-02-03 06:48] wzhsunn commented on #438
Let code and log demo it :
/etc/hosts
[code]
[code]

[code]

poller.log

[code]

[2015-02-03 07:20] wzhsunn commented on #438
I use vagrant for my develop environment and add a  device `win 7 pro sp1  cpu i5-4460 `.

vagrant box
[code]

[2015-02-03 09:45] laf commented on #438
Very odd, looks like it's not able to create the rrd files.

What user are you running the poller as?

Do you have enough disk space / inodes?

[2015-02-03 15:19] wzhsunn commented on #438
My  home pc and work pc have the same problem .
Disk space is enough.
inodes is what ?

When I poll localhost (ubuntu), everything is ok .

[2015-02-03 15:25] wzhsunn commented on #438
Memory Usage is empty but not a draw error as processor usage .

[2015-02-03 21:42] paulgear commented on #438
Hi Sunny, please try redirecting all output to the same file with "php poller.php -h mywinhost -d > poller.log 2>&1".  While you're at it, grab a discovery as well: "php discovery.php -h mywinhost -d > discovery.log 2>&1"  Also, show the output of "ls -la /opt/librenms/rrd/mywinhost/netstats-icmp.rrd" and "df -i /opt/librenms/rrd/mywinhost".  Let's hope this helps us track down what's going on. :-

[2015-02-04 05:21] wzhsunn commented on #438
This maybe a long post with much log .
Thank you for your help and sorry for my English.

[code]

* [poller.log](https://gist.github.com/wzhsunn/8169754af98d39e7a27e)

[code]

* [discovery.log)[https://gist.github.com/wzhsunn/eabd96952df3dc32cf53]

[code]

[2015-02-04 05:26] paulgear commented on #438
It seems that you are using a filesystem that doesn't support the mmap system call, nor does it report inodes correctly.  What type of device is "opt_librenms", and what type of filesystem did you create on it?  An SMB filesystem will likely not work, and there are probably others with the same issue as well.

[2015-02-04 06:50] wzhsunn commented on #438
I use vagrant
[code]
root@vagrant-ubuntu-trusty-64:/opt# ls -al librenms/
total 744
drwxr-xr-x 15 root     root       4096 Feb  4 06:14 .
drwxr-xr-x  5 root     root       4096 Feb  4 06:19 ..
-rwxr-xr-x  1 root     root       5543 Feb  4 05:53 addhost.php
-rwxr-xr-x  1 root     root       1276 Feb  4 05:53 adduser.php
-rwxr-xr-x  1 root     root      12057 Feb  4 05:53 alerts.php
-rwxr-xr-x  1 ro

[2015-02-04 06:55] paulgear commented on #438
Please re-run the discovery and poller as described above and post the output.

[2015-02-04 07:36] wzhsunn commented on #438
discovery.log
[code]

poller.log

[code]

[2015-02-04 07:42] wzhsunn commented on #438
[code]

[2015-02-04 07:43] wzhsunn commented on #438
This is the full log.

[2015-02-05 01:51] wzhsunn commented on #438
I am so sorry for my fault . I copy code from windows to ubuntu, some file changed.
I run `git reset --hard`, and `draw error` is not exists .

But  the  `Unknown Processor Type`  has always been .

[2015-02-05 02:00] paulgear commented on #438
Excellent - thanks for reporting back.  I suspect your unknown processor type will disappear on your next discovery run.

[2015-02-05 02:37] wzhsunn commented on #438
Because our company monitor my network, so run poller.php and discovery.php by hand not by cron.
And I do not want to has a snmp poll for other device except added device .

run this :

[code]

[code]

`Processors`
`Unknown Processor Type`

My Processor `Intel(R) Core(TM) i5-4460 CPU @3.2GHz @3.2GHz`

[2015-02-05 02:59] wzhsunn opened #442 "A new feature"
Like this :  I can select a process from a device and set alerts on it when memory > 100M or is not alive

[2015-02-05 07:03] f0o commented on #442
Hi @wzhsunn,

you mean a button as a shortcut to create the alert-rule?

[2015-02-05 07:32] JohnFlowerful opened #443 "rrdtool making lots of zombie processes"
Lots (about 15000) of these were created:

How would I go about debugging this? Obviously it's a graph at fault, but I have no idea how to tell which one(s)...

[2015-02-05 07:50] wzhsunn commented on #442
Yes,  I think this is very useful .

[2015-02-05 10:46] phlb commented on #386
I've proposed #444 to allow executing php code during an update. This is needed to rename rrd files during an update.

[2015-02-05 11:04] paulgear commented on #386
Hi @phlb - thanks for the PR.  I don't think this is going to do what you want, though.  The update runs daily by default, and the inconsistent ifIndex can happen between polls (e.g. for PPP or VPN interfaces that go down and back up again).  So we really have to fix this in the poller, not at update (or even discovery) time.

I've considered a couple of different approaches to this:
1. Stop relyi

[2015-02-05 11:19] paulgear commented on #443
Hi @JohnFlowerful - The best way to track that down at this stage is to catch the processes while they're running.  If you can have a script running in the background that checks for running rrdtool processes and runs lsof on them, then browse around several different graphs, you might be able to narrow it down.  If that doesn't give us any joy, we'll have to look into logging all rrdtool requests

[2015-02-05 11:55] phlb commented on #386
Hi @paulgear,

I've already worked on identifying correctly the interfaces during polling & discovering for unix os. You can look at : https://github.com/phlb/librenms/commit/3321dacf591ed436f8a55cc055a08fbbf378ede1 .

I plan to propose an PR for the 1. (you meant ```ifIndex``` instead of ```port_id```, isn't it ?) but I realize I need to rename the concerned rrd files because their filename  depe

[2015-02-05 18:24] f0o commented on #418
Update:
The branch is now even with my test-env.

I got 3 pollers, each in charge of 2 hosts and themselves + 2 shared hosts.
They split their work correctly and theres no timing collision yet despite having ntp on all the pollers.
Masters are tolerating small network-bumps.

I tested against pure NFS and also against rrdcached+nfs. Both works fine without issues or big config-foo.

I'd like someb

[2015-02-06 00:05] JohnFlowerful commented on #443
Every graph is creating a zombie process. Restarting php-fpm clears them all, so it appears to be something with my webserver setup.
I'll leave my configs here. If anyone sees anything, do let me know. I use Gentoo, kernel version 3.16.5. nginx and php are installed via Portage.

nginx (version 1.7.8) with the following modules enabled (full list [here](http://sprunge.us/ODfi)):
```NGINX_MODULES_H

[2015-02-06 02:32] wzhsunn commented on #438
I found that `snmpwalk ` get `Unknow Processor Type` :

[code]

[2015-02-06 04:00] paulgear commented on #438
I've just checked one of my Windows PCs, and it reports the same.  We're stuck with whatever SNMP gives us. :-(

[2015-02-06 05:07] wzhsunn commented on #438
Thank you .

[2015-02-06 05:07] #438 closed

[2015-02-06 06:52] f0o commented on #443
Good morning fellow gentoo'nian :)
I'll have a look at my setup when I get home and report back on whats different.

Running it for a while now, so versions are unlikely to match - nevertheless it shouldnt really cause the zombies!

Cheers

[2015-02-06 07:03] wzhsunn opened #445 "Is there some sample of creating alerts or creating alert template ?"
.

[2015-02-06 15:39] f0o commented on #445
Alert-rules are being created using the wizzard in the GUI.

Alert-templates are documented in the docs (http://docs.librenms.org/Extensions/Alerting/)

[2015-02-06 15:56] f0o commented on #445
Worth to mention that the limitations of the template-syntax are lifted. We now support unlimited nested controls and we can access the entire scope of informations to an alert. %value.dbfield is the correct syntax. Default uses %value.string which is a very general consolidation of the available information.

[2015-02-06 17:20] f0o commented on #443
@JohnFlowerful can you paste me your specific USE flags for nginx, php and php-fpm please?

Trying to reproduce your setup with a clean Gentoo-VM :)

[2015-02-06 22:25] JohnFlowerful commented on #443
nginx's package.use entry is simply ```www-servers/nginx ssl ipv6```, with the modules in make.conf:
[code]

php's (php-fpm) uses:
[code]
With this in make.conf:
[code]

Both are ~arch. In package.accept_keywords:
[code]

I use the default Gentoo profile for my system: default/linux/amd64/13.0.

[2015-02-07 06:29] f0o commented on #443
Just fired portage

No special useflags for php?

[2015-02-07 07:17] f0o commented on #443
Nevermind my other post, early morning here without coffee - portage is compiling

[2015-02-07 12:03] JohnFlowerful commented on #443
No real reason, no.
I still have my config files for php 5.5.x so I can easily switch back if if that is needed. Shouldn't be any problems downgrading nginx either.

[2015-02-07 14:49] f0o commented on #443
Ok I can reproduce the zombies.

I'm unable to resolve this with downgrading php. I suspect the bug is in php-fpm.
I've tested php 5.6.5 and 5.5.21.
I've also tested rrdtool 1.5.0 and 1.4.9.

My productive system runs php-5.4.36, rrdtool-1.4.7, nignx-1.2.1. (I know it's old..)

[2015-02-07 15:38] f0o commented on #443
Just downgraded to php-5.4.36 and the bug is resolved.
Unless you really depend on php 5.5 or 5.6, I'd suggest you to go down to 5.4 for now.

I will keep poking around, maybe I find a proper solution using a shell_exec wrapper of some sort...

[2015-02-07 22:53] JohnFlowerful commented on #443
I only require a minimum php-fpm of 5.3, so switching to 5.4.36 has resolved the issue.

[2015-02-08 07:15] f0o commented on #445
@wzhsunn if you dont have any issue with alerting/rules/templates, please close this issue :)

[2015-02-08 07:20] f0o commented on #443
Please keep this issue open until we got a future proof solution to this as php 5.4 is going into EOL soon so we need to tackle this.

Thanks for noticing this by the way! :)

[2015-02-08 09:00] f0o commented on #443
Quick update:
I just deployed debian jessie which comea with php-6.5.6 and can reproduce the zombies again.

I noticed that proc_close is returning `NULL` and thus not freeing the process.
Bug is being issued at php.net later today aftdr some more research.
It seems proc_close doesnt work with variables that are created by reference

[2015-02-08 13:09] f0o commented on #443
@JohnFlowerful do you still have php-5.6.5?
I think I found a solution that I'd like to have verified from your end.

Change Line 63 from `includes/rrdtool.inc.php`
From:
`function rrdtool_pipe_close(&$rrd_process, &$rrd_pipes)`
To:
`function rrdtool_pipe_close($rrd_process, &$rrd_pipes)`

(Remove `&` before `$rrd_process`)

[2015-02-08 13:33] JohnFlowerful commented on #443
I do. The wonders of eselect~

That solution doesn't work for me. Graphs still create zombie processes when using php-5.6.5.

[2015-02-08 13:39] f0o commented on #443
ok, too bad - I'm poking together with php-devs around...
they cant explain the bug either as the code for proc_* didnt change between 5.4 and 5.6 ...

I'll probably ping you later again with another attempt ;)

[2015-02-08 15:47] f0o commented on #443
https://bugs.php.net/bug.php?id=69014

[2015-02-09 02:16] wzhsunn commented on #445
Your Info is very useful, I test it and debug  now .

[2015-02-09 03:01] wzhsunn commented on #445
I try this :

Create new alerts rule :
[code]

run
[code]

And I open the
[code]
There is no alerts about the rule .

I debug it and found that the table processes is empty .

What's the problem ?

[2015-02-09 06:02] f0o commented on #445
Do you have check_mk on the host and the unix-agent plloer module enabled?

[2015-02-09 07:23] wzhsunn commented on #445
OK, sorry , I will try in IRC .

[2015-02-09 07:23] #445 closed

[2015-02-10 11:37] Peter2121 commented on #24
Is there any progress? The old image is not available as FTP server seems to be down.

[2015-02-10 11:51] jacobgardiner commented on #24
I can probably create a vagrant environment fairly easily, although it's mainly used for development environments - it may also be an easy way to setup & install the latest version

[2015-02-10 12:07] Peter2121 commented on #24
I would like to test it on VMware or VirtualBox, I have no Vagrant now.
I think that many people are like me ;)

[2015-02-10 12:10] laf commented on #24
I've got a virtual box appliance. I'll post the link shortly

[2015-02-10 12:13] Peter2121 commented on #24
Cool, thank you :)

[2015-02-10 12:14] laf commented on #24
https://www.irccloud.com/pastebin/y3Z5HvIb

The and zipper the appliance files. Vmdk can be used with vmware.

[2015-02-10 12:20] laf commented on #24
That's supposed to say the tgz and zip files are for virtualbox appliance.

[2015-02-14 00:07] Rosiak opened #451 "Basic IBM NOS Support"
Basic support for IBM Networking OS devices.

I'll try to implement it.

[2015-02-14 07:57] f0o commented on #443
So it doesnt seem to be reliably reproduceable and php-devs are unclear how this is happening.
I will poke around php5.6.5 on my test-gentoo and see what I can do to workaround it..

@paulgear can you tag this as wontfix for now please?

[2015-02-14 16:43] Rosiak commented on #451
Implemented.
Issue closed.

[2015-02-14 16:43] #451 closed

[2015-02-15 14:32] laf opened #458 "Move creation of rrdfile variable to a function"
So that we can look at making a change to the port names, we should centralise this to make life easier going forward.

[2015-02-15 21:45] dmbaturin opened #461 "VyOS support"
VyOS (http://vyos.net), which is a fork of now dead Vyatta Core, will be changing its SNMP OID from the old one inherited from Vyatta (30803) to its own (44641).
Could you add support for it? If you need anything from me, like a logo image in specific format/size, please let me know.
Thanks!

[2015-02-15 21:54] laf commented on #461
Hey dmbaturin, thanks for getting in touch.

From looking at the code for vyatta / VyOS, they are detected by the sysDescr value from SNMP so we don't actually use 30803.

As for logo, this is the current one we are using:

https://github.com/librenms/librenms/blob/master/html/images/os/vyos.png

If that needs updating, then provide a link to the new one and we can update. Image size is 40px x 40p

[2015-02-15 22:07] dmbaturin commented on #461
Oh, cool, I was under impression that PEN is used there. The logo is fine, we didn't change it since then.

[2015-02-15 22:07] #461 closed

[2015-02-15 22:08] laf commented on #461
No worries, good luck with the project @dmbaturin

[2015-02-15 23:50] dmbaturin commented on #461
Speaking of the logo, I made a slightly nicer less pixelized version of the icon: http://baturin.org/files/vyos_icon.png

[2015-02-15 23:56] laf commented on #461
Just merged that new logo in, many thanks @dmbaturin :)

[2015-02-15 23:59] dmbaturin commented on #461
Wait. This one is 32x32. Should I redo it in 40x40?

[2015-02-16 00:00] laf commented on #461
No it's ok, most of the others are 32x32 actually so not sure why this wasn't!

[2015-02-16 00:37] laf commented on #24
I'm now closing this as the downloads page is now online:

http://www.librenms.org/downloads.html

[2015-02-16 00:37] #24 closed

[2015-02-16 00:38] laf commented on #79
Closing this, PR is in place

[2015-02-16 00:38] #79 closed

[2015-02-16 00:39] laf commented on #442
I'm not sure this will be that workable @wzhsunn as we'd end up with buttons all over the show for creating new alerts :(

[2015-02-16 00:40] #385 closed

[2015-02-16 16:10] mchasteen opened #463 "Clone and installation of master branch yields SQL errors."
So I cloned the master branch of the rep It seems like there is a lot of SQL errors relating to dbInsert function calls.  I ran the build-base.php and it in turn called update.php to update the database to the most current schema.  It looks like there are a lot of insert function calls missing fields that have no default or NULL value and subsequently a lot of SQL error.  It appears that the table

[2015-02-16 16:18] laf commented on #463
This maybe due to mysql running in strict mode (believe this is a newer default):

mysql> SELECT @@GLOBAL.sql_mode;

If you disable that things will be ok. I'd like to fix it though so if you have the output of the build-base.php that would be handy.

[2015-02-16 16:28] mchasteen commented on #463
I fixed the base.sql already so that things will be happy.  I changed the values in the fifth field the graph_order field on the INSERT line to int values.  I actually submitted a pull until I started poking around a little more and realized that the update.php just wrote over all the changes I made.  Is it just me or does it drop all the graph types that were imported?

I've been trying to make t

[2015-02-16 16:31] laf commented on #463
update.php loops through all the sql files in sql-schema/*.sql and plays them through one by one so their is a good chance data inserted in an earlier file is cleared out and re-done. It's done this way so new sql schema / data changes can be made and installs will update to using it.

I imagine the WebUI has a good number of issues with strict mode.

[2015-02-16 16:53] laf opened #464 "Add sub menu for device types"

[2015-02-16 19:21] gadago opened #467 "Feature Request: Support for Dell EqualLogic Arrays"
This is a feature request to add support for polling Dell EqualLogic PS series arrays. I am able to provide access to the MIBs if required.

Thanks,
-gadago

[2015-02-17 11:09] f0o commented on #464
Merged with #465

[2015-02-17 11:20] f0o commented on #463
Related PR: #450

@mchasteen can you open a PR for the authors.md and afterwards another for build.sql &co ?

I suppose quite a lot of schemas(schematas?) have to be updated as well to allow strict-mode.
Potentially some UI components as well... Cleaning up code is fun, isnt it? ;)

[2015-02-17 11:28] #464 closed

[2015-02-17 11:29] laf commented on #464
This was to add a sub menu in Devices -> All Devices so you can go straight to say, devices that are network devices.

[2015-02-17 11:32] f0o commented on #464
So it actually was the pr i mentioned! :0

[2015-02-17 20:08] laf opened #474 "Getting odd sql queries from alerts.php"
SELECT * FROM  WHERE (.device_id = '') && ()

I've turned all alert rules off so this must be some stale data now for a device that doesn't exist I expect. Anyway I can debug this further?

[2015-02-17 20:54] f0o commented on #474
Related: PR #475

[2015-02-17 21:04] #474 closed

[2015-02-17 21:19] laf commented on #463
I've edited dbFacile.php to log errors back from MySQL and chucked my setup into strict mode.

I'll review the logs tomorrow and post them somewhere, anyone wanting to help fix them can get involved.

Now the question, is this best fixed in the code (i.e where we normally would have a blank insert or update but the column has NOT NULL do we pass a value across (zero for instance), set a default fo

[2015-02-17 21:58] mchasteen commented on #463
Sorry I haven't gotten back.

I think I fixed most of the SQL errors relating to discovery and polling.  I have our devices doing discovery and polling without SQL errors now (for the most part).  I'll submit a pull request.

I fixed a lot of instances where a null value was passed to dbFacile.php but not in a particularly pretty way.  For some I just wrote a foreach loop that would unset null val

[2015-02-17 22:23] laf commented on #463
Thanks, I won't get chance to go through the pr until tomorrow unless someone gets to it first.

I'm thinking we can potentially fix a lot of this in the db schema rather than code although I'm not sure which way is the recommended way. I'll take a better look tomorrow and comment back.

[2015-02-18 16:00] laf opened #477 "Fix api call for port stats"

[2015-02-18 18:33] laf commented on #477
Fixed

[2015-02-18 18:33] #477 closed

[2015-02-18 18:33] laf opened #479 "Fix poll-billing as $now variable is set too late"

[2015-02-18 18:36] laf commented on #479
Fixed in #480

[2015-02-18 18:36] #479 closed

[2015-02-18 21:24] laf opened #481 "Fix 3 table errors in html/pages/device.inc.php"

[2015-02-18 21:32] laf commented on #481
Fixed in PR #482

[2015-02-18 21:32] #481 closed

[2015-02-18 23:01] laf opened #483 "Add SQL / PHP debug to web ui"

[2015-02-18 23:07] laf commented on #483
Sorted in PR #484

[2015-02-18 23:07] #483 closed

[2015-02-19 00:06] laf commented on #467
Can you provide snmp access to a device @gadago?

[2015-02-20 20:23] mchasteen opened #490 "Does the Alert Enable/Disable for anyone else?"
Maybe it's just me, but it seems that the alert Enable/Disable toggle switch thing doesn't actually disable alerts for that rule.

[2015-02-20 23:34] laf commented on #490
@f0o is the man for alerts, it's possible the status of the rule isn't checked before sending out follow up alerts.

If he's not managed to get to it tomorrow I'll take a look.

[2015-02-20 23:40] f0o commented on #490
Will check up on it tmr :)

[2015-02-21 00:31] mchasteen commented on #490
Because I don't know what I am doing, I added a possible fix in commit 3add9f71de7d93d7c691ec91658d2e5425d85a6b in the PR for issue 463.  I created a branch for issue-490 and then switched back to issue-463, then got annoyed with email alerts, so I merged it in.

[2015-02-21 07:02] f0o commented on #490
Your solution was on the right way, however I disliked how it still pulled all the SQL info prior skipping it.

PR has been submitted where the dispatcher will only select alerts whose rules are not disabled.

Thanks for noticing :)

[2015-02-21 10:46] #490 closed

[2015-02-22 08:53] #442 closed

[2015-02-22 09:01] #8 closed

[2015-02-23 20:22] gottaloveit opened #507 "Feature Request: notification integration with slack"
www.slack.com

[2015-02-23 23:28] laf commented on #507
Try this, download: https://raw.githubusercontent.com/laf/librenms/issue-507/includes/alerts/transport.slack.php

into includes/alerts/

Then edit config.php

$config['alert']['transports']['slack']['post'][] = "https://hooks.slack.com/services/AAAA/BBBB/CCCCC"

Change the url to the webhook url that slack gives you.

This needs more work so that you can specify which channel / user the messages a

[2015-02-25 06:03] gottaloveit commented on #507
Thank you.  This works.

[2015-02-25 07:31] f0o commented on #507
:+1:

I wonder if there's a need for multiple slack targets though, might be """nicer""" to strip it down to a `$config['alert']['transports']['slack'] = "https://hooks.slack.com/services/AAAA/BBBB/CCCCC"` format.

But then I've no idea about it, I'd say @gottaloveit could prolly comment on it ;D

[2015-02-25 10:08] laf opened #508 "Paginate relevant tables"
/ports/
/devices/
/health/

These can cause issues on large installs

[2015-02-25 10:09] laf opened #509 "Check through and fix queries that don't have indexes"

[2015-02-26 13:28] Tatermen opened #516 "Global Port Search not working"
Forgive me - I'm not a developer by trade, and am not familiar with using Github.

I decided to migrate from Observium to LibreNMS, but have found one very frustrating problem - the global search function would only find devices and not ports. Problematic as I have 4000+ ports.

When I looked in html/ajax_search.php, I found that the SQL statement used to search for ports is failing on MySQL 5.5:

[2015-02-26 16:10] laf commented on #516
Thanks for the report @Tatermen

The fix was a little simpler than that as we still need the results from the devices table to put the hostname down for which port is which.

I've removed the AS P and AS D part of the queries and this now works. I've put a pull request in #517 and will merge shortly.

[2015-02-26 16:10] #516 closed

[2015-02-26 16:17] laf commented on #516
This has now been merged in, if you git pull in the directory you installed LibreNMS into then it should now work for you.

[2015-02-26 16:31] laf commented on #507
Hey @f0o. You can send alerts then into different channels, it's only like the irc alerter :)

@gottaloveit Any other feedback on this? If not, I'll add it as a new PR to get this into the master branch.

[2015-02-26 20:31] laf opened #520 "Need to add .alerts.lock to .gitignore"

[2015-02-26 21:42] gottaloveit commented on #507
I think the multiple notifications is good.   Slack is so channel friendly, that there might be organizations that want notifications in different channels based on user membership in different channels.  I say leave it in.

[2015-02-26 23:10] laf commented on #507
Thanks @gottaloveit, we will get this merged into the main base soon.

I'll drop an update here as you will need to revert the changes you've made before updating :)

[2015-02-26 23:16] #520 closed

[2015-02-27 04:59] gottaloveit commented on #507
thank you

[2015-02-27 15:37] laf commented on #507
@gottaloveit Once the code has been checked, we'd like to merge this in. Technically config options haven't changed but extended, their is some info in the Docs about using this now which you should refer to.

[2015-03-01 14:51] laf commented on #509
Made enough of a dent in the logs being output with #528 that I'm closing this.

[2015-03-01 14:51] #509 closed

[2015-03-01 14:52] laf commented on #507
Closing this now as it's merged in #525

[2015-03-01 14:52] #507 closed

[2015-03-01 14:53] laf commented on #463
PR #521 has sorted a lot of this, thanks for the fixes @mchasteen and @f0o

[2015-03-01 14:53] #463 closed

[2015-03-01 15:10] laf commented on #418
So to feed back on my test results.

Over 2,500 devices and 40,000 ports currently being monitored. Setup is as follows:

1 x Web server running Apache2 and Xcache.
1 x MySQL Server
1 x RRDCached + NFS server
5 x Pollers

Pollers are completing within around 200 seconds.

At present this is all hosted on an OpenStack platform so running in VMs backed to a Ceph storage platform.

I'm really happy w

[2015-03-03 23:51] mchasteen opened #542 "Support for APC portable AC unit."
I added support for APC's protable AC units.  It grabs intake, exhaust, and ambient temps.  It also grabs the setpoint.

I did a hard reset on librenms's master branch, so I will attempt a PR.

[2015-03-04 00:05] mchasteen opened #544 "Formatting error for sensors on device overview."
On the Device Overview page, generic sensors (like temperature, current, voltage, etc.)  seem to have a formatting error in the html.

[2015-03-04 11:47] laf commented on #544
Merged in #545

[2015-03-04 11:47] #544 closed

[2015-03-05 02:46] wzhsunn opened #547 "How to monitor SqlServer ?"
For sample how many user connection ?

[2015-03-05 06:05] f0o commented on #547
LibreNMS uses Check_MK (https://mathias-kettner.de/check_mk.html) to gather additional data per device. With Check_MK, LibreNMS can also understand munin-plugins to extend the datasources.

Check_MK is required to listen on port 6556.

Example xinetd-config as well as scripts (including mysql monitor) can be found in `scripts` and `scripts/agent-local` respectively.

[2015-03-05 06:20] wzhsunn commented on #547
what im do you use ? May I add you ?  gtalk or skype ?

[2015-03-05 06:34] wzhsunn opened #548 "How to auto generate a topology map ?"
If I have one thousand PCs , switchers , routers, how to auto generate the topology map just like in gns3 ?

[2015-03-05 06:40] wzhsunn commented on #548
May be it is like google map divided to some level , if zoom in or out see for detail .

[2015-03-05 06:41] wzhsunn commented on #547
An agent may be not work for me , I only have snmp read rights to get  info from devices .

[2015-03-05 07:54] laf commented on #548
You could give this a try: https://github.com/mathieupoussin/observium_map_generator/blob/master/graph.py

[2015-03-05 07:55] laf commented on #547
I very much doubt that SQL Server will export data over to snmp, you would need to use something like @f0o  has suggested.

[2015-03-05 08:01] wzhsunn commented on #548
OK , Thank you. I will have a try !

[2015-03-05 08:12] wzhsunn opened #549 "How to get line(or port) traffic by snmp ?"
If I have 3 routers A, B ,C

A =======B
||
||
C

How to get line traffic from A to B and B to A ? (x kBit/s)
How to get frames speed from A to B and B to A ? (x frames/s)

I only have snmp read rights .

[2015-03-05 10:24] laf commented on #549
If I understand what you mean by this then surely that's just a case of looking at the port connect A to B?

So for instance if it's A (Gi0/1) -> B (Gi0/2) then in LibreNMS under ports for device A, click on Gi0/1.

[2015-03-05 12:49] f0o commented on #547
You may invest a lot of coding and fiddling in writing an snmp extension for your sql-server's snmpd and for librenms' poller.. But that's really a surplus overhead to an agent...

[2015-03-05 17:09] laf opened #552 "Need to add the ability to disable auto refresh"
For:

1. Specific pages (like adding devices / users / alert rules / etc).

2. Disable it globally if the user wants.

[2015-03-06 07:01] f0o commented on #552
I agree, we should be able to add an URL param and suppress the meta-reload in the main template. That way we can have it disabled on demand at any page and it would be very little code overhead. Dont you think?

[2015-03-06 08:17] #548 closed

[2015-03-06 09:16] wzhsunn commented on #549
Thank you !
Now I am playing with GNS3 .

I want to build a  environment to simulate  some routes , switches and pcs.

I am not familiar with GNS3 and struggling  with it .

[2015-03-06 09:19] wzhsunn commented on #547
I am not sure with it because I saw some one achieve it and it can display sql server  session , cpu, memory, hits and so on .

[2015-03-06 09:23] #549 closed

[2015-03-06 09:43] f0o commented on #547
Thats likely to be with the agent

[2015-03-06 12:24] laf commented on #552
I was thinking maybe javascript :/ Using the meta-reload means you can't stop the page refresh once the page is loaded so if you wanted to pause a page then you'd have to reload the page to do that.

We could add the javascript timer at the bottom of the page then each individual page could disable it by setting a variable or allow the user to hit pause.

[2015-03-06 12:26] laf commented on #542
This was merged in #543

[2015-03-06 12:26] #542 closed

[2015-03-06 14:44] f0o commented on #552
oh that's nice!

[2015-03-07 12:08] wzhsunn commented on #431
YES, very pretty interesting :).

[2015-03-07 12:08] #431 closed

[2015-03-07 12:15] wzhsunn opened #554 "Why no pc display on the map ?"
![qq 20150307201107](https://cloud.githubusercontent.com/assets/528348/6541373/540d358a-c506-11e4-9c33-edc704d75b85.png)

![qq 20150307201149](https://cloud.githubusercontent.com/assets/528348/6541375/6b323d50-c506-11e4-8d77-a68f7befbbfb.png)

Cloud1 dose not display on the map.

Cloud1 is a loopback ip on win7.

What's the problem ?

[2015-03-07 12:22] laf commented on #554
Was r2 learnt by a discovery protocol like cdp? If so I think the map only shows connections between devices auto discovered. Not 100% sure as if have to check the code.

[2015-03-07 16:39] wzhsunn opened #555 "GET http://localhost:8081/js/jquery.cycle2.js.map 404 (Not Found)"
Is this a problem ?

[2015-03-07 16:44] laf commented on #555
Shouldn't be, it only does it when you have developer tools in your browser open iirc.

[2015-03-07 16:59] wzhsunn commented on #554
cdp = cisco discovery protocol ?
I do not how to use this .

I run like this by hand :
[code]

[code]

[2015-03-07 17:09] wzhsunn opened #556 "What is the best way to support other language ?"
Give me some hints .

For example use a php language lib and so on .

Thank you !

[2015-03-08 15:29] laf commented on #556
We've talked about this slightly on the google groups list, it needs someone to convert the existing text to a system where you can create new language files. Is this something you could contribute?

[2015-03-08 15:53] wzhsunn commented on #556
Yes. I saw it on goolge groups but it didn't give a specific  solution .  I think I want to do something if I can .

[2015-03-08 16:00] wzhsunn commented on #554
How did you simulate a virtual network with some pc and routes ?

I use gns3 follow your helpful hints.

Now I can simulate a cloud with loopback( tap0 on mac) and one or two route.

When I want add a pc in the network, I using vpcs, but I don't know how to enable snmp on vpcs .

[2015-03-08 16:03] wzhsunn commented on #547
I will do some check .

[2015-03-08 16:03] #547 closed

[2015-03-08 16:15] wzhsunn commented on #555
My local Librenms system can run as usual with the problem mentioned above. Besides, I also find this problem occurs at the official online demo website 'http://demo.librenms.org/'.------GET http://demo.librenms.org/js/jquery.cycle2.js.map 404 (Not Found)

[2015-03-08 17:28] laf commented on #555
I'm 100% sure this is because you are browsing the site with developer tools enabled:

http://stackoverflow.com/questions/18365315/jquerys-jquery-1-10-2-min-map-is-triggering-a-404-not-found

we can (and probably should anyway) add the source map although I can't find one for this version of cycle2 we are running. Two options are upgrade cycle2 (from github) or remove the map reference in the mini

[2015-03-08 17:31] laf commented on #556
It just needs someone to start updating the code, one idea would be say where you had the following text:

'Add Device'

You would then create language files like:

lang/lang_en.inc.php

and have:

$add_device = 'Add Device'

Then include the language file you want to use and every time $add_device is called it uses the version from the language file you specified.

[2015-03-08 17:31] laf commented on #554
What do you mean by vpcs?

[2015-03-08 22:43] #552 closed

[2015-03-08 22:43] laf opened #560 "In ubuntu install docs, if only librenms then a2dissite 000-default"
This is needed otherwise you can't get to the librenms interface.

[2015-03-09 01:32] wzhsunn commented on #555
You are right , I follow the stackoverflow method  and change my developer tools setting, it dose not show the error any more .

[2015-03-09 01:32] #555 closed

[2015-03-09 01:35] wzhsunn commented on #554
I want to add vpcs (https://github.com/GNS3/vpcs) as a device to librenms .

But how to enable snmp server on it ?

[2015-03-09 04:52] wzhsunn commented on #556
This is a good idea!

[2015-03-09 04:52] #556 closed

[2015-03-09 08:45] laf commented on #554
It doesn't look like vpcs support snmp at all, they provide limited network tools for working with GNS3:

http://sourceforge.net/projects/vpcs/files/0.6/

[2015-03-09 12:15] wzhsunn commented on #554
Yes, I should use an vmware guest or virtualbox guest .

I add a Host1 30.0.0.2  (which is win7  running in vmware )  to my network .

The topology map:

![qq 20150309200644](https://cloud.githubusercontent.com/assets/528348/6554572/32fed5b8-c698-11e4-8e97-31bfc0f13442.png)

Librenms  result :

![r1 ports librenms](https://cloud.githubusercontent.com/assets/528348/6554602/9a80590a-c698-11e4-9e26-3

[2015-03-09 12:41] laf commented on #554
f0/0 shows the Win7 host doesn't it? are you saying that f1/0 should be the one showing this connection?

[2015-03-09 12:47] wzhsunn commented on #554
I want to set Host1 to be a win7(which is running in vmware), and I setting the win7 network is VMNet1, But I am wrong , I found now win7 is my host pc not in vmware .

[2015-03-09 13:12] laf opened #563 "Update CISCO-PRODUCTS-MIB"

[2015-03-09 13:19] #563 closed

[2015-03-09 13:54] wzhsunn commented on #554
OK, I found the problem .

The ip is wrong .

I fix the problem.

[2015-03-09 13:56] wzhsunn commented on #554
![qq 20150309215224](https://cloud.githubusercontent.com/assets/528348/6556202/dfb5f904-c6a6-11e4-8494-69d2bfc2bd74.png)
![qq 20150309215139](https://cloud.githubusercontent.com/assets/528348/6556207/e84fd7ba-c6a6-11e4-98db-7bf568ad24fe.png)
![qq 20150309215217](https://cloud.githubusercontent.com/assets/528348/6556211/f1c4b676-c6a6-11e4-8c95-5c6f337c2352.png)

Now the port conections are right ,

[2015-03-09 15:28] laf commented on #560
Sorted in #565

[2015-03-09 15:28] #560 closed

[2015-03-09 16:22] laf commented on #554
The map only contains links to devices that have been discovered by a discovery protocol so your host won't be included.

This may be something that could be worked on.

[2015-03-09 17:04] KFleshman opened #567 "Add detection for 3com Baseline switches"
3com Baseline switches are currently detected as generic devices.

[2015-03-09 17:19] KFleshman opened #569 "Add detection for HP V1910 switches"
Currently detected as generic devices. These are re-branded 3Com Baseline switches from after HP's 3Com purchase.

[2015-03-09 19:08] laf commented on #567
Merged in #568

[2015-03-09 19:08] #567 closed

[2015-03-09 19:29] laf commented on #569
Merged in #570

[2015-03-09 19:29] #569 closed

[2015-03-09 20:00] KFleshman opened #572 "Add OS version detection for 3Com Baseline switches"

[2015-03-09 20:34] laf commented on #572
Merged in #573

[2015-03-09 20:34] #572 closed

[2015-03-10 02:21] wzhsunn opened #576 "GET http://localhost:8080/images/icons/Generic.png 404 (Not Found)"
I think there is some resource missing .
Chrome developer tools show this error :

[code]

[2015-03-10 07:25] f0o commented on #576
On what page does that trigger?

[2015-03-10 08:57] wzhsunn commented on #576
Menubar --> Deivcies --> All Devices --> Generic

The image of  Generic is broken .

[2015-03-10 10:31] f0o commented on #576
is your repo updated?

Might have an idea where it relies..

[2015-03-10 13:27] f0o commented on #576
Ok the bug is known and going to be resolved in near future, it's just a typo and a missing picture for non-categorized devices.

[2015-03-10 14:08] laf commented on #576
This is being fixed in #577

[2015-03-10 14:08] #576 closed

[2015-03-10 14:10] laf opened #578 "Fix Apps menu"

[2015-03-10 14:13] laf commented on #578
PR is #579

[2015-03-10 14:13] #578 closed

[2015-03-10 15:06] wzhsunn commented on #554
Oh, thank you !

I want an topology map for all devices just like you tell me this:
https://github.com/mathieupoussin/observium_map_generator/blob/master/graph.py .

I try it but some database table maybe different .

[2015-03-10 15:24] laf opened #581 "Update network map"

[2015-03-10 16:05] KFleshman opened #582 "Simplify Comware poller version matching"

[2015-03-10 17:24] laf commented on #581
First attempt:

http://snag.gy/Lnoyk.jpg

Supports either global network /maps/ or individual devices maps.

[2015-03-10 17:50] #582 closed

[2015-03-11 03:27] wzhsunn commented on #554
What's difference between [graph.py](https://github.com/mathieupoussin/observium_map_generator/blob/master/graph.py) and this map ?

The  `win7 PC`  not show in `map`, but in `ports list `.

Dose this mean `win7  PC` is not support discovery protocol ?

If so , the ports list has the topology map relations , why not draw the map with prots list ?

[2015-03-11 13:05] wzhsunn opened #586 "rrd_dir problem"
I ask this question for a second time .

I build my develop environment like this :
[code]

Vagrantfile:

[code]

config.php
[code]

`/opt/librenms_config` file is not a shared file .

But I also got the `Error Drawing Graph` problem .

You say that  ` rrd file`  make a map from file to memory, now I set the `rrd_dir` on the ubuntu1404 and other source code on osx  .

This makes me comfortable to

[2015-03-11 15:10] wzhsunn opened #587 "The Eventlog entries is empty when delete a device"
![a05 ax2 f3uhnzvef exj41](https://cloud.githubusercontent.com/assets/528348/6599232/9fdb3634-c843-11e4-90a6-93018f518384.jpg)

Alertlog entries has the same problem :

![u1 qruh fsd8 ny1u m7r4](https://cloud.githubusercontent.com/assets/528348/6599255/c46982f8-c843-11e4-8afd-5dc9f852d7f3.jpg)

[2015-03-11 15:25] laf commented on #586
Hi @wzhsunn

I'm really sorry but I'm unsure what you mean by this. For the error drawing graph, try adding debug=yes to the end of the url.

[2015-03-11 15:28] f0o commented on #587
This is a known bug.
Delete device doesnt run a recursive cleanup through all tables.

It will be fixed in near future

[2015-03-11 15:31] f0o opened #588 "Update delete_device to include more tables for cleanup"
Add all remaining Alert-tables, Eventlog-related tables, ... to: https://github.com/librenms/librenms/blob/master/includes/functions.php#L254

[2015-03-11 15:45] wzhsunn commented on #586
I put source code on my osx pc and shared it with ubuntu1404 which running librenms (At this situation , I can edit my code easily via sublime ).
the file system of osx and ubuntu1404 is different so that the rrd file drawed failed.
But now I config the rrd_dir to put it on ubuntu1404, but the error drawing graph was also there .

[2015-03-11 15:48] wzhsunn commented on #587
OK,  I close this  one .

[2015-03-11 15:48] #587 closed

[2015-03-11 15:50] wzhsunn commented on #554
@laf  Is my question description clear ?

[2015-03-11 20:56] laf commented on #586
What hardware is Ubuntu on? rrd files have a limitation that you can't just copy them to another architecture so you might be hitting that limit. You would have to export and re-import them to be able to change architecture.

[2015-03-11 20:58] laf commented on #554
I'm not sure the difference with graph.py, you would need to check the sql queries it is running and what needs changing.

The win7 pc may support arp auto discovery but I'm not 100% certain.

[2015-03-12 00:49] wzhsunn commented on #586
Ubuntu1404  is on (vagrant) virtual box.
Last time when I put librenms on ubuntu1404, every thing work well .

[2015-03-12 04:49] wzhsunn commented on #586
I try debug=yes and got this:

[code]

[2015-03-12 11:56] wzhsunn commented on #586
I think I found a solution share code with virtual box and my host pc( win or mac) using sshfs .

Routes and win7 draw ok when delete it and add it .

But the localhost  draw with errors .

I don't know why .

[2015-03-12 12:14] wzhsunn opened #590 "Export alerting or other results to pdf or excel as reports"
I saw that /html/pdf.php.
But how to use it to export some reports ?

[2015-03-12 12:20] f0o commented on #590
Do you want pdfs to be created on an alert or do you want to export past alerts (from the log for example) as pdf?

[2015-03-12 12:26] wzhsunn commented on #590
Past alerts as pdf .

[2015-03-12 12:32] wzhsunn opened #591 "Email sending"
Is there a document for email config so that it can send email with some interval (for example every Friday) ?

[2015-03-12 12:56] f0o commented on #590
that's not yet possible but I'll put it on my ToDo.

please keep this issue open until I merge the patch for it :)

[2015-03-12 12:58] f0o commented on #591
Email-Configuration can be found here: http://docs.librenms.org/Extensions/Alerting/#transports-email

Intervals for alerts are defined in the Alert-Rule. However these are minute-specific intervals, so "Alert Every X Minutes".

[2015-03-12 13:16] f0o commented on #590
Hrm
`html/pdf.php` wont even work as these requirements arent met:
[code]

[2015-03-12 14:28] wzhsunn commented on #591
Thank you, I am sorry I didn't read the doc carefully .

[2015-03-12 14:28] #591 closed

[2015-03-12 14:44] wzhsunn commented on #590
I see.
Thank you !
I am looking forward to that!
I will keep my constant attention for it .

[2015-03-12 15:44] laf commented on #590
Exporting to pdf was in the billing section but didn't work so we ripped the code out :)

[2015-03-12 15:45] laf commented on #586
I'm sorry but this is such a custom setup and not something I've got experience in so can't help any further @wzhsunn :(

[2015-03-12 15:59] f0o commented on #590
@laf oh I see. was the TCPDF class nonfunctional or what exactly didnt work?

[2015-03-12 17:01] #588 closed

[2015-03-12 17:16] laf commented on #590
afaik, it wasn't functioning.

[2015-03-12 17:38] f0o commented on #590
I see, I might be able to fix it.. I'll put it on my list :)

[2015-03-12 19:57] XxPatrickxX opened #593 "Real-time graphing for other graph types && Widgets"
Currently we can use the real-time graph functionality for network interface graphs, it would be useful if this was extended to allow for real-time graphing of system graphs ie CPU/Processes/Memory/ect.

[2015-03-12 20:19] laf opened #594 "Potential for allowing adding devices by IP"
Two ways we could do this:

1. Drop the requirement for hostnames in full and just allow IPs. If we did this then we would need to automatically disable xDP discovery as this would cause devices to be added again if hostnames actually did exist and just weren't used.

2. Areas that would need to be updated to support this:

 - New flag in devices table to acknowledge this is a manual hostname
 - N

[2015-03-12 20:19] laf commented on #594
Tagging @paulgear and @f0o for thoughts.

[2015-03-12 20:31] laf opened #595 "Add popover titles to ssh/telnet/https links + Edit / alerts icons"

[2015-03-12 21:46] laf opened #596 "Need to look at the menubar wrapping on lower res screens"
Not even that low res really but gadago on irc has mentioned this and I see it at work.

Maybe we could drop the 'Settings' menu down to just an icon and maybe drop the caret drop down icon.

[2015-03-12 22:06] laf commented on #595
Pr done in #597

[2015-03-12 22:06] #595 closed

[2015-03-12 22:31] paulgear commented on #594
I can't help but think that the main reason this wasn't done before is because it's too hard to handle all the corner cases.  I'm happy to see it added in, but I would consider it low priority, especially when anyone can put in place whatever workarounds they like in /etc/hosts.

[2015-03-12 22:48] laf commented on #594
I'm 'fairly' certain it's a bit of a hangup from adam about enforcing a strict way to manage devices and xDP potentially causing issues.

Maybe we could add a config option that's set to disable the feature by default but it can be turned on - with warning?

I might just remove the check for hostname on my setup and see what doesn't work....

[2015-03-12 23:32] laf commented on #596
PR in place #598

[2015-03-12 23:32] #596 closed

[2015-03-13 00:54] wzhsunn commented on #586
How did you setup yours ? Maybe mine is very tedious.

[2015-03-13 08:39] f0o commented on #594
Assuming:
- user enters Name and IPv4/6
- there is a boolean flag in the devices-table that sais the hostname is non-DNS

I see no issues with alerting. XDP would require a small check on the ports table if there is a device associated with the discovered IP.

Or am I mistaken?

[2015-03-13 09:25] laf commented on #594
To find out if the device discovered has an IP that already exists then you would only know this once a discovery is done so it's too late then. You could obviously check if the name returned from say cdp resolves to the IP but this may not be the case.

It would much safer to disable xDP for IP based devices, you can still run xDP for devices with hostnames.

If I had to vote on which option to g

[2015-03-13 13:12] f0o commented on #594
Re: autodiscovery; all we need to do is to patch a check in https://github.com/librenms/librenms/blob/cb9d3d1cbbe2c1f29f69c5831b23a3dde4656c17/includes/discovery/functions.inc.php#L14 to make sure there is no host with that IP known to librenms in order to avoid dupes when an existing fqdn wasnt used.

This shouldnt be so difficult. So overall xDP should work regardless of the presence of a dns-re

[2015-03-13 14:39] laf commented on #594
So long as it doesn't affect auto discovery in the way it works now then we should be fine. The IPs in ipv4_addresses don't have to be unique though so you can have the same IP duplicated twice so a check solely against that could result in false positives - I think

[2015-03-14 02:14] wzhsunn opened #599 "How did you setup your gns3 testing ?"
I can only setup a simple gns3 testing.
 How did you setup gns3 testing ?
Give me a topology map screenshot please .

[2015-03-14 03:15] paulgear commented on #593
This is a great idea.  I haven't looked in detail at how the data is captured, so it may take longer for certain data items than others.

[2015-03-14 03:23] paulgear commented on #599
Hi @wzhsunn, the issue database really isn't the best place for this.  The issue database is basically for bug reports or enhancement requests.  General help questions are best handled on IRC or the mailing list.  In this case, the GNS3 community forum at https://community.gns3.com/community/forum might be a better choice.

[2015-03-14 03:51] wzhsunn commented on #599
OK， thank you .

[2015-03-14 03:51] #599 closed

[2015-03-14 10:17] wzhsunn commented on #594
I saw your talking about allowing [adding devices by ip](https://groups.google.com/forum/#!topic/librenms-project/ysTQaWrka5I) on google groups . I need this feature. I am looking forward to it . Thank you all .

[2015-03-14 13:32] laf opened #600 "Add a warning to delete device page"
Need to inform the user that not just the device will be deleted. We don't need to list everything but give them an idea of what will be removed like alert log, event log and syslog maybe.

[2015-03-14 13:33] laf commented on #593
It's currently done via snmp.

[2015-03-14 15:22] #586 closed

[2015-03-14 15:22] wzhsunn commented on #554
I will try it ! Thank you !

[2015-03-14 15:22] #554 closed

[2015-03-15 01:57] wzhsunn opened #605 "How to find all Entities on the creating alert page ?"
May be it is very  useful to find all the Entities on the creating alert page or [give more information](https://groups.google.com/forum/#!topic/librenms-project/6SfZcaPG9s0)  about the entity.  I am not familiar with some protocols and terms .

[2015-03-15 10:22] #600 closed

[2015-03-15 10:23] laf commented on #594
@paulgear Any further view on if you'd like someone to tackle us enabling this or are we continuing with hostname support only?

[2015-03-15 12:59] f0o opened #606 "IRC Bot update"
Small update to introduce POSIX FIFO (named pipes) in a non-blocking fashion to deliver the alerts into the ircbot. This assures transaction-safety.

[2015-03-15 15:14] laf opened #608 "Distributed poller placeholder"
Creating issue for PRs to be done against

[2015-03-16 22:06] laf opened #611 "Need to update the use of $_SERVER["REMOTE_ADDR"]"
We use this in:

html/includes/authenticate.inc.php

And should update to check for X-Forwarded-For.

[2015-03-17 05:58] #606 closed

[2015-03-17 07:57] paulgear commented on #594
@laf If people want it, and you're happy to work on it, I say go for it.  My only request would be to optimise for the hostname present case rather than the hostname absent case.

[2015-03-17 12:43] laf opened #612 "API call get_graphs() needs to prep end devices_ to each device type from DB"

[2015-03-17 13:15] #612 closed

[2015-03-18 08:35] damardjati opened #614 "Device Inventory"
Hello, im new here, and im very interested in this project and hope i can contribute in this project,
i have installed the newest observium and compare to librenms, everything seems right, but there is something that bugging me, that is the inventory list that is seems to be buggy.

- The list is not nested.
- I have Cisco SFPs that are DOM capable that i want to monitor, but the graph i get is CP

[2015-03-18 10:09] laf commented on #614
Hi @damardjati

The inventory page does indeed need to be fixed, feel free to help contribute code to fix that:

http://docs.librenms.org/Developing/Code-Guidelines/
http://docs.librenms.org/General/Contributing/

As for the Cisco SFP, have you got any further information. What part number, what kit are they installed in?

[2015-03-18 10:15] damardjati commented on #614
I got the part number but, not the type ( it's not so important ),
but Cisco have features the DOM capability that can monitor voltage, Tx and Rx power from SNMP that very useful to monitor the physical link quality.

Im so happy to contribute this, please help if i have any problem with the codes, really my background is network engineer, not really a full time programmer :smile: , give me time t

[2015-03-18 10:54] laf commented on #614
I can see voltage, TX and RX in the health page of our ASR and Nexus kit. Do you not have the same or are you looking for something different?

No worries on contributing, if you need any help it's worth dropping by the IRC channel.

[2015-03-18 12:05] damardjati commented on #614
:smile:  yes, i know that, because only specific platform can support he CISCO-ENTITY-MIB, but the weird things is, there are voltage, Tx, Rx list but it's linked to CPU processor graph and memory.
Could it be bug ?

Thanks :smile:

[2015-03-18 13:51] laf commented on #614
That's really odd - have you got a screenshot to show us as mine works fine.

Hope it's a bug, they are easier to sort :)

[2015-03-18 15:52] f0o opened #616 "Add Alert-Groups."
Manage alerts to be run on a group of heterogene devices. Such as DC, CustA, ClusterA,...

This will require a Page that manages devices into Alert-Groups and a new notation for Alert-Rules to indicate a single target, a global target or a group target.

[2015-03-18 17:32] joubertredrat opened #617 "logo position on navbar"
I think that is good idea to realign logo on navbar. I can make this here and PR.

[2015-03-18 18:15] b4 opened #619 "PostgreSQL Support"
PostgreSQL database support, would be nice to support multiple database backends.

[2015-03-18 18:21] laf commented on #619
We'd need to convert the schema
Add updating support
Add dbFacile support for pgsql

All not impossible but certainly would be a future thing - that's if someone wants to pick this up :)

[2015-03-18 19:19] Rosiak opened #621 "Polling Issue."
I have a port which has been running for a while, today it was shutdown.
But LibreNMS keeps reporting "issues", each time the port is polled the following is printed to the eventlog:
http://snag.gy/57wFp.jpg

Lafwood is seeing the same issue with one of his devices.

I've taken the following from a debug poll:
http://snag.gy/AtJjJ.jpg

[2015-03-18 19:29] laf commented on #617
Fixed in #618

[2015-03-18 19:29] #617 closed

[2015-03-18 19:34] laf commented on #581
Any feedback from anyone on this? PR is probably good to go but interested to hear peoples thoughts on if this is better or not than the existing map.

[2015-03-18 20:22] joubertredrat opened #622 "Feature Request: Loading on page"
Hi,

I think that is good idea to implement one loading on page similar youtube as example. I Can implement this on librenms

[2015-03-18 20:27] Rosiak commented on #622
Ehm could you clarify a bit more?
Or at least show a picture of what you mean.

[2015-03-18 20:32] joubertredrat commented on #622
@Rosiak

http://i.imgur.com/5mvNcBv.png
http://i.imgur.com/xOALyMC.png
http://monitor.kap-no.de

[2015-03-18 20:32] laf commented on #621
I think I've sorted this in #623 if you want to try the (simple patch).

It looks like those interfaces which are admin down don't have a dot1q vlan or trunk type associated as they are admin down so we now just skip over them.

[2015-03-18 20:35] f0o commented on #622
Did @laf say smt about what color to use?

[2015-03-18 20:37] joubertredrat commented on #622
@f0o , @laf saw blue, if needs to change, we can reopen this and change again :)

[2015-03-18 20:39] f0o commented on #621
Merged #623

[2015-03-18 20:39] #621 closed

[2015-03-18 21:53] Rosiak commented on #621
The issue is still present:
http://snag.gy/CvoIE.jpg

[2015-03-18 22:28] laf commented on #621
Done another PR which should fix this again :) #625

[2015-03-19 00:38] damardjati commented on #614
![capture](https://cloud.githubusercontent.com/assets/11530435/6722332/95e38e7a-ce0a-11e4-8a02-ea95831579a5.png)

here it is, no graph from sfp sensor, but when i click the link it will be redirected to CPU, processor and memory..

[2015-03-20 23:05] Rosiak opened #631 "Cisco ASA Odd Discovery"
The following shows up in the event log each time all 5515 i have get's discovered, lafwood reports that the same happens on 5512.

http://snag.gy/uvmjv.jpg

[2015-03-20 23:30] laf commented on #631
This is due to the entPhySensorScale scale being yocto which we don't covert: http://tools.cisco.com/Support/SNMP/do/BrowseMIB.do?local=en&step=2&mibName=CISCO-FLOW-MONITOR-TC-MIB

We are missing quite a few by the looks of it. I'll add yocto in for now and come back to the others.

[2015-03-21 21:05] laf commented on #631
Fix has been submitted in PR #632.

I'd like to keep this issue open though as a reminder to come back and fix the sensor detection at some stage.

[2015-03-21 21:16] laf commented on #611
All sorted

[2015-03-21 21:16] #611 closed

[2015-03-21 21:16] laf commented on #608
Merged in now.

[2015-03-21 21:16] #608 closed

[2015-03-22 06:23] f0o commented on #631
Merged #632

[2015-03-22 07:02] paulgear commented on #616
Sounds like a good idea to me

[2015-03-22 07:09] paulgear commented on #619
It definitely would be great to support PostgreSQL, but I suspect that it will be a big job to convert, since the SQL code is spread throughout the code base.

[2015-03-22 07:11] paulgear commented on #581
Do we even have map support exposed in the UI?  I can't see it.  It is definitely a feature I'd like to see re-added, possibly even in the main device screen under the total bits.

[2015-03-22 13:33] laf commented on #605
Hopefully this has now been addressed in part within the docs at http://docs.librenms.org/Extensions/Alerting/#entities

Can you see if this is helpful and if so, close this issue :)

[2015-03-22 13:36] laf commented on #581
The current map is in and does work but only shows up on devices that have discovered other devices via xDP.

It's a static map of what is connected to that single device and doesn't expand past that. This one will show you the whole network (or with additional coding you could restrict based on location, names, etc).

I'll put a PR together with some screenshots.

[2015-03-22 13:42] laf commented on #443
@f0o Any reason why we can't introduce your fix from earlier (dropping the &)?

[2015-03-22 13:58] laf commented on #418
All merged in so closing this :)

[2015-03-22 13:58] #418 closed

[2015-03-22 14:00] #86 closed

[2015-03-22 18:05] laf commented on #614
@damardjati Can you let us know the models of the devices you are using, we will need this to try and work out what's going on. I expect the fact it's not graphing correctly might be why the link is wrong as it works for me :)

[2015-03-22 18:12] damardjati commented on #614
Hi, neil
I use Cisco 2960-c that doesnt support Cisco entity mib, and i use glc sx
smd sfp, when i use observium it only display the serial number and sfp
type, the voltage etc sensor should not displayed. Hope it helps.
On Mar 23, 2015 1:05 AM, "Neil Lathwood" <notifications@github.com> wrote:

[2015-03-23 01:16] wzhsunn commented on #605
It's very helpful for me! Thank you ! You are so nice .

[2015-03-23 01:16] #605 closed

[2015-03-23 01:37] paulgear commented on #86
For posterity: closed because we no longer have top 10 graphs on the front page.

[2015-03-23 13:59] laf opened #639 "Create an API endpoint for inventory"

[2015-03-23 15:15] laf commented on #639
PR done #640

[2015-03-23 15:15] #639 closed

[2015-03-23 15:30] laf opened #641 "Add serial number support for Cisco ASA"

[2015-03-23 15:34] laf commented on #641
Done in PR #642

[2015-03-23 15:34] #641 closed

[2015-03-23 15:51] f0o opened #643 "eventlog-search on device page not working"
Placeholder for PR

[2015-03-23 16:10] #643 closed

[2015-03-23 18:39] joubertredrat commented on #619
Hi,
instead of dbFacile couldn't be a orm? currently there are several good orm with support multiple databases, similar to this as example, http://www.codeigniter.com/userguide3/database/query_builder.html#selecting-data

[2015-03-23 22:03] laf commented on #614
@damardjati A PR has been put in now that should fix the inventory page nesting so this works as you would expect.

As for your hardware, I don't have any 2960-C's, only G's so can't test this.

Can you provide an snmpbulkwalk of the device so we can get some data to look at?

[2015-03-23 22:41] laf commented on #594
For those wanting to give this a try, we have a separate branch that you can switch to and test.

BE WARNED - WE CANNOT SAY THIS WON'T BREAK SOMETHING (but it really shouldn't :))

If you want to use it, in your LibreNMS install do the following:

git remote update
git checkout ip-devices

Now play around, add devices, do what you want to give it a whirl and report issues in here.

Want to go back

[2015-03-24 01:48] damardjati commented on #614
sorry neil, the exact platform is WS-C2960CG-8TC-L ,

here is some of snmpbulkwalk,

sysDescr.0 = STRING: Cisco IOS Software, C2960C Software (C2960c405ex-UNIVERSALK9-M), Version 15.0(2)SE5, RELEASE SOFTWARE (fc1)
Technical Support: http://www.cisco.com/techsupport
Copyright (c) 1986-2013 by Cisco Systems, Inc.
Compiled Fri 25-Oct-13 14:41 by prod_rel_team
sysObjectID.0 = OID: enterprises.9.1.1316

[2015-03-24 08:00] f0o commented on #386
A month passed by and yet no real solution. @phlb's attempt is a good start but I dislike the need of renaming the rrds. I'm aware that there might not be a solution which could avoid this.

I think we have a very big problem with only looking for the name of the interface. For example tap0 might not always denote the exact same VPN link in a multi-vpn gateway install. Expanding the search to `ifN

[2015-03-24 09:22] f0o opened #650 "Simplify scrutinizer's exclude list"
Placeholder for PR

[2015-03-24 09:31] #650 closed

[2015-03-24 10:29] laf commented on #614
I think we will need a full snmpbulkwalk @damardjati. If you could paste it to somewhere like pastebin that would be good.

[2015-03-24 12:11] Alastair-VOIPUNLIMITED commented on #616
Definitely, especially when you are attempting to monitor a large number of nodes in groups, are there any updates on this feature? We are keen to start testing :)

Thank you

Alastair

[2015-03-24 12:22] f0o commented on #616
it's on top of my todo-list :)

I cant give a specific ETA as my work-schedule is a bit 'on-call'-heavy currently...
However, I got a very early draft running and am just fiddling around the DB-notation for the rules.

What I didnt bother doing so far is the GUI, I suggest a simple multi-select-box with a name... but I'm absolutely not a GUI-maker haha - feel free to suggest something better.

[2015-03-24 12:28] laf commented on #616
Happy to pick up the GUI parts as always @f0o. If you give me an idea on how it works and the db schema updates I'll work on something to coincide with you releasing the back end update.

[2015-03-24 12:34] Alastair-VOIPUNLIMITED commented on #616
thank you for such a quick response, and for the work done already!

Would that be as a drop down? you could always do it the same way observium did, which is to rely on the user putting in that metric themselves. (screenshot attached)

![capture111](https://cloud.githubusercontent.com/assets/11542248/6801665/c54d2a16-d221-11e4-83ef-8072ee0babe7.PNG)

please bear in mind that our "types" are added

[2015-03-24 12:53] laf commented on #616
We're open to suggestions on how to do the UI (or have a go at it yourself if you like :))

As for setting your own device types, from looking at the code we would allow users to break things by doing that (for instance certain polling functions check the device type so if this was no longer set to what was expected then polling wouldn't run).

That doesn't mean we couldn't allow someone to set a

[2015-03-24 13:32] joubertredrat opened #652 "Error loading page after login"
Hi guys,

From my point of view this is serious, when you access and isn't logged, is displayed login form, if you login with success, show index, but when page refresh, Firefox likes and Internet Explorer report that you're trying to send data again, this data is a post from login. I think this is not good because with firebug or another tool is possible to track and intercept data.

I think good

[2015-03-24 13:58] Alastair-VOIPUNLIMITED commented on #616
unfortunately we don't have anybody with experience with UI design, however I believe a few members of the team are quite keen to share various mySQL tweaks and changes that they made on our version of observium if they are applicable to librenms :)

Thank you

Alastair

[2015-03-24 16:04] wzhsunn commented on #590
Thank you !

[2015-03-24 16:04] #590 closed

[2015-03-24 17:44] laf commented on #616
@Alastair-VOIPUNLIMITED No probs on the UI side - I end up doing a lot of that anyway so we're covered :)

Would love to see the tweaks they've made, we're a little bit different now on MySQL schema but a large % still remains the same.

Is the API of any use to you? If so and it's missing anything then let me know so I can add it in.

[2015-03-24 19:38] laf opened #654 "Location manager"
I'd like to create a location manager so that you can:

Create data centres
 - Store address details.
 - NOC information and contact details.

Create racks and allocate to data centres.
 - Supplier reference details.
 - Internal reference details.
 - Size and specification of rack.

Auto assign + manually assign devices to a rack (based on location field possibly?)
 - Assign actual position within

[2015-03-24 19:44] laf opened #655 "IP Manager"
I'd like to create an IP manager so that you can:

Manually create subnets.
 - Networks will be auto created based on device discovery as normal but disable removal of networks if manually created.
 - Create your larger pool of space and sub-allocate out (how many times should we enable this?)

IP visualisation:
 - Display IP usage for the networks, free space, used.
 - Integrate a RBL lookup to s

[2015-03-24 22:31] paulgear commented on #655
Think about integrating an existing solution for this.  Good list of possibilities here: http://www.ipv6now.com.au/addresses.php

[2015-03-24 22:59] gadago commented on #655
We already use phpIPAM, so would love to see that integrated.

[2015-03-24 23:02] laf commented on #655
I'll take a look, the main issue I see is we already have some IP address recording going on, this may not fit in with a 3rd party system.

[2015-03-25 08:05] robje commented on #654
Below are more remarks than ideas. Hopefully still usable.

At work we're using a tool called RackMonkey which does something similar: https://flux.org.uk/projects/rackmonkey/
Maybe this is usable as a starting point.

Challenge I see is form factor, some examples:
- a Dell M1000e blade chassis can hold a combination of blade sizes. From 8 double sized blades to 32 half sized blades and any combin

[2015-03-25 11:13] laf opened #657 "Interface name size limitation on graphs"
It was reported on the mailing list that interface names are restricted in size (https://lh5.googleusercontent.com/-tmoaZODTJUU/VQrWG77nTJI/AAAAAAAAAA0/23NDGcKfmFE/s1600/test.png), a limit is in place of 10 chars for the ifName, we can increase this but it throws the graph legend off (increased to over 20 to get TenGigabitEthernet0/0/0 in and it just looks wrong).

We have a couple of options:

1.

[2015-03-25 16:53] laf opened #658 "OS discovery is not part of the discovery modules so doesn't ever re-run"

[2015-03-25 19:45] laf commented on #658
Done in #660

[2015-03-25 19:45] #658 closed

[2015-03-25 23:16] laf opened #665 "Add missing images"
html/images/icons/charge.png
images/icons/battery charge.png

As spotted by Mike_R on irc.

it's from this PR: https://github.com/librenms/librenms/pull/519/files

[2015-03-25 23:17] laf opened #666 "Add link to devices not polled in 15 minutes box"
to the new /poll-log/.

[2015-03-26 11:51] laf opened #667 "ipsec_tunnels table contains a single invalid entry per device that has ipsec_tunnels"
I thought this was initially a formatting issue but it's due to bad data in mysql, need to check if this is the poller / discovery doing this:

+-----------+-----------+-----------+-----------------+--------------+------------+-------------+---------------+
| tunnel_id | device_id | peer_port | peer_addr       | local_addr   | local_port | tunnel_name | tunnel_status |
+-----------+-----------+---

[2015-03-27 17:02] laf commented on #508
PR in place to support doing this a little easier #671

[2015-03-27 17:03] laf commented on #330
PR in place to cover this now #671.

Needs pages to be swapped over.

[2015-03-27 17:59] laf opened #672 "Certain ports keep logging changes in parsing of description"
However if the details are blank then the db is never updated causing it to log again the next time - rinse and repeat.

Just need some simple validation to check if data exists and if not set to blank or null.

[2015-03-27 19:55] laf commented on #672
Sorted in #673

[2015-03-27 19:55] #672 closed

[2015-03-27 20:10] laf opened #674 "Revert PR 623 + 625 and implement new fix"

[2015-03-27 20:14] laf commented on #674
Fixed in #675

[2015-03-27 21:51] laf commented on #657
Done a PR for this now,

[2015-03-28 04:58] #657 closed

[2015-03-28 15:12] laf opened #685 "Dynamic customisable dashboard"
@paulgear and myself have discussed this a bit but we've not progressed it.

It would be nice to have a fully customisable dashboard (we could then do away with the front page files) where you can add what you want to the frontpage and move them around.

I did some basic work to trial a grid system which you can store placement in the database which works well:

https://github.com/laf/librenms/tre

[2015-03-28 15:30] f0o opened #686 "Hotfix map"
Missing JS - quick fix

[2015-03-28 15:41] #686 closed

[2015-03-28 18:05] f0o commented on #685
Brilliant thing!

will have a look at it, is the db on a per-user basis?

[2015-03-28 23:37] laf commented on #685
Yup 100%. Stores placement and what ids the tiles in json. I store those in the db at the moment.

[2015-03-29 01:08] #674 closed

[2015-03-29 01:09] laf opened #688 "Fix maps not working when hostname != device name in xDP"

[2015-03-29 01:11] laf commented on #688
Fix in #689

[2015-03-29 01:11] #688 closed

[2015-03-29 11:31] laf commented on #666
Fixed in pr #690

[2015-03-29 11:31] #666 closed

[2015-03-29 11:42] laf commented on #665
This won't be needed if we merge the new theme as images have been replaced by font awesome.

[2015-03-29 18:57] laf commented on #667
This is an odd one. @Rosiak also said he's seen the same, removing the stale entry and re-polling doesn't add it again. Clearing out all ipsec_tunnel entries and re-polling also doesn't add it either.

I'll add some code to remove stale entries and also to ignore adding them in the first place.

[2015-03-29 19:48] laf commented on #667
PR open #691

[2015-03-29 19:48] #667 closed

[2015-03-29 20:02] laf commented on #330
Support is now to be able to do this and we have another issue in place to start going through converting some of the pages. Closing this now.

[2015-03-29 20:02] #330 closed

[2015-03-30 03:03] damardjati commented on #581
Hi, everyone, after last pull from github repo today, the device map doesnt show anything.
could it be something wrong with the update ?

thanks.

[2015-03-30 06:45] laf commented on #581
You need to wait for a rediscovery to run or force it:

./discovery.php -h all -mid discovery-protocols

[2015-03-30 06:54] laf commented on #581
That's supposed to be -m not -mid

[2015-03-30 08:18] wzhsunn opened #694 "support mssql by odbc/jdbc [feature]"
I think to monitor such resource as mssql or oracle or mysql by `ODBC`  is very useful  .

Will you add such a feature and add a mssql monitor just like add a device ?

[2015-03-31 11:48] laf opened #695 "Update install docs to have a Table of contents"
This will make it easier to split the sections out and hyperlink to the parts you need people to follow from.

[2015-03-31 12:58] laf opened #697 "Update http://docs.librenms.org/Extensions/Email-Alerting/"
Need to indicate this is deprecated now and point users to the new alerting docs.

[2015-03-31 17:51] laf commented on #622
@joubertredrat How are you getting on with this? With the new styles maybe it's worth looking at locking the color of the bar down based on the style chosen.

You can set the css now in html/styles/dark.css, html/styles/light.css or html/styles/mono.css.

[2015-03-31 17:56] f0o commented on #622
I agree with @laf
Btw. red would be nice for the dark theme now hehe

[2015-03-31 18:05] laf commented on #697
Resolved in PR #702

[2015-03-31 18:05] #697 closed

[2015-03-31 18:41] laf opened #703 "Thoughts: Anonymous usage stats collected"
Hi Folks,

I've written some code (as a POC initially) that would basically grab certain data from a LibreNMS install and report it back so that we could see what LibreNMS is being used to monitor so we can focus our attention in the areas it's most widely used. It would also be nice to know how popular it is or is becoming.

Some thoughts on this:

 - Disabled by default - people don't like being

[2015-04-01 14:10] Rosiak commented on #685
Would love to see this!

[2015-04-02 09:08] f0o opened #711 "Add GUI for Alert/Maintenance-Schedules"
Cheers,

since the introduction of the new alerting system we have a table called `alert_schedule`.
It expects 3 entries: `device_id`, `start` and `end`.
The `start` and `end` are to be formatted as MySQL timestamps.

This table is used to pause processing of alerts for a defined period of time.

There was discussion of using http://fullcalendar.io/ to manage this.
Personally I think that might be

[2015-04-02 11:29] laf commented on #711
fullcalendar.io is ambitious :) The reason I chose it is to create a calendar system for people to check upcoming maintenance schedules rather than creating a scheduled maintenance.

We should add something in soon that just lets you view a list, add a new one and then edit/ delete schedules.

[2015-04-02 11:30] laf commented on #711
Also need to add support for this via the api which is easy enough to do :)

[2015-04-02 13:19] f0o commented on #616
I know it's been a while. I apologize I couldn't finish this PR earlier.

I hope it solves your needs although it lacks an UI for now.
Please use with caution as it hasn't been tested indepth yet and a column rename occurred.
Worst case the UI will contain bugs due to the rename.

I've tested the entire Alerting backend and it's working fine.

[2015-04-02 14:26] Ultra2D opened #714 "Alert emails to LDAP users"
As far as I can tell the contacts to be alerted (via the email transport) are selected from the users table in the database. LDAP users are not added to the database, so they will not receive alert emails. Am I missing something here?

[2015-04-02 14:30] laf commented on #714
That's not always the case :)

You can use these config options to send all alerts to a single contact:

$config['alerts']['email']['default_only'] = FALSE;                // Only send alerts to default-contact
$config['alerts']['email']['default']      = NULL;                 // Default-Contact

@f0o can answer how other contacts are used (override sysContact? email from users tables?)

[2015-04-02 14:42] Ultra2D commented on #714
Oops, I assumed that took a username as value. Should have studied the docs (or code) better.

Other contacts ( syscontact, $config["alert"]["admins"] , $config["alert"]["globals"] ) won't work with LDAP though.
For me, this is good enough.

[2015-04-02 17:00] f0o commented on #714
This is true as for the part 'LDAP users wont get alerts'.

If you're fit in PHP+LDAP, feel free to paste me a gist on how to obtain a list of authorized LDAP users and I'll add it to the method that gathers contacts for alerts :)

[2015-04-02 17:22] f0o commented on #616
@Alastair-VOIPUNLIMITED do you want a rule to be processed for several groups?

Current PR only covers 1 Group per Rule and N Groups per Device.

[2015-04-02 17:40] Alastair-VOIPUNLIMITED commented on #616
That would be fantastic! Would mean a lot fewer alarm checkers!!

Sent from Nine<http://www.9folders.com/>

From: Daniel Preussker <notifications@github.com>
Sent: 2 Apr 2015 18:22
To: librenms/librenms
Cc: Alastair Chamorro
Subject: Re: [librenms] Add Alert-Groups. (#616)

@Alastair-VOIPUNLIMITED<https://github.com/Alastair-VOIPUNLIMITED> do you want a rule to be processed for several groups?

Cu

[2015-04-02 17:45] f0o commented on #616
Cheers @Alastair-VOIPUNLIMITED, we just discussed the issue on IRC and came to the conclusion that a different approach will be better.

sadly I've to postpone this feature again, I will try to get a draft done by today but most of the day has already passed :/

[2015-04-02 17:57] Alastair-VOIPUNLIMITED commented on #616
Hey team,

That's perfectly fine, we are not in the office until next Tuesday anyway. Thank you for your time on this :)

When we start implementing it ourselves we will no doubt have things to contribute too.

Alastair

Sent from Nine<http://www.9folders.com/>

From: Daniel Preussker <notifications@github.com>
Sent: 2 Apr 2015 18:45
To: librenms/librenms
Cc: Alastair Chamorro
Subject: Re: [libren

[2015-04-02 18:30] Ultra2D commented on #714
Could you replace the SQL queries with get_userlist() and get_userlevel($username) from the files in html/includes/authentication (which need to be included?)? If so, I think it's only necessary to add getting the email address to get_userlist() in ldap.inc.php . Which in turn probably needs to be flexible, by defining the email address attribute name in the config file(s).

[2015-04-02 20:10] f0o commented on #714
that's a good hint, I will have a look at it :)

[2015-04-03 07:45] tobiasa1 opened #718 "Config option bad_iftype doesn't ignore interfaces"
I have added the following lines to my config.php:

[code]

Expected behaviour is that all ppp interfaces should be completely ignored and not added to LibreNMS.

However, in my event log I see lines for each new ppp interface being created on my Debian servers:

[code]

The ports seem to get deleted imminently and listed under Deleted Ports.

Please let me know if you need any further information

[2015-04-03 10:24] Rosiak commented on #711
It would be nice to see the following:
- Alert Schedule Profile
  - ANYDAY 0800-1800
  - MON-FRI 0800-1600
  - Custom etc.

One could then simply use a dropdown to select a schedule instead of messing around in a calender, but if custom is chosen then ofc. The calender makes sense.
One should also be able to create the schedule profiles.

[2015-04-03 10:41] Rosiak opened #719 "Alert-Log Page Sorting"
The "Time Logged" is somewhat buggy.
That problem can be seen in the demo under Alert-Log, sort after "Time Logged" and you should see the issue.

Discussed with f0o on IRC,
"f0o> it treats the date as normal alphabetic string instead of a numeric"

[2015-04-03 23:19] laf opened #724 "Fix for map where remote_hostname is not a device in the db"
reported by @Rosiak. Patch out to test.

[2015-04-03 23:20] #724 closed

[2015-04-03 23:21] laf opened #726 "Fix ORIG_PATH_INFO being logged"
PHP Notice:  Undefined index: ORIG_PATH_INFO in /opt/librenms/html/index.php on line 15

[2015-04-03 23:28] #726 closed

[2015-04-03 23:55] laf commented on #719
Sorted in pr #728

[2015-04-04 11:36] #719 closed

[2015-04-04 18:39] f0o commented on #616
@Alastair-VOIPUNLIMITED We've merged Device-Groups now, These can be mapped to alerts.

Please update your install and check out #722 for details, Or come to IRC if you got questions :)

[2015-04-04 18:39] #616 closed

[2015-04-04 19:00] laf commented on #718
I've just done some quick testing so this isn't conclusive but for me:

If a add an ifType to $config['bad_iftype'][] and run discovery and poll then the ports that match get marked as deleted as they existed already.

If I then delete those ports from the db and do another discovery and poll then they get skipped as expected.

Are you seeing new devices have ports marked as bad_iftype added to th

[2015-04-04 19:01] laf commented on #703
Anyone got any thoughts on this otherwise I'll knock up a single page site showing the stats and run it against my systems to show.

[2015-04-04 19:26] f0o commented on #703
Sounds good. I'd like to see an approach like debian's "popularity-contest". So leave it up to the user to opt-in/out at any time and send periodic stats (if opt-in).

Looking forward to a demo-page/report :)

[2015-04-05 00:44] paulgear commented on #703
My initial thoughts (in order of increasing importance):
- With the more specific models, some people might consider this sensitive data (e.g. how many VMware systems they monitor, how many ASAs they have, etc.)
- Why would we need to collect host names at all?  Hashing data for privacy is fine, but why is it even necessary?
- Should expire data from inactive LibreNMS installs after a defined idle

[2015-04-05 00:54] laf commented on #703
Thanks folks.

@paulgear

1. Anything less specific might not be that useful aside from a look at home many network devices people are monitoring.

2. Not collecting hostname, it's just an md5 sum of the hostname for use as you mention later for a uuid, open to suggestions on how to generate this.

3. Easy enough to do.

4. Simple enough, inform user how to generate their uuid and then submit it f

[2015-04-05 01:38] paulgear commented on #703
1. I agree, just pointing out that some might consider it sensitive; reinforces the opt-in decision.
2., 4. We shouldn't use the md5sum of the hostname at all (think about how many clashes there will be, since people will often call their host "librenms" :-).  Just create a single row table in the DB that holds the UUID.  If it's empty when the collector starts, run uuidgen and store the result in

[2015-04-05 07:37] f0o commented on #381
Ok I give up :/

I've prototyped 4 different approaches and none satisfies my standards.

Would an integration of graylog2 be ok?

[2015-04-05 10:00] f0o commented on #714
tackling this issue today

[2015-04-05 11:12] laf commented on #694
Hi @wzhsunn does this need to be by odbc?

I've been speaking to some of the guys at work and we have a load of wmi scripts that can collect data from things like Exchange and SQL. Implementing those would be easy enough.

[2015-04-05 14:07] f0o commented on #714
@Ultra2D this issue isnt easily solved. The current LDAP-authmodule lacks a mapping/gathering of email-addresses.
I cant solve this as I dont have any LDAP at hand.

However, PR #734 makes now use of the authmodule's functions to get userlists and permissions, so once the LDAP-module is fixed it will also fix this issue.

Cheers

[2015-04-05 17:26] f0o commented on #695
:+1:

[2015-04-06 17:00] f0o opened #736 "JS bug on map-alerts"

[2015-04-06 17:07] #736 closed

[2015-04-06 19:56] laf commented on #703
Ok, hopefully got first version up and running.

Code that would be added is here:
https://github.com/laf/librenms/tree/callback

In theory, if you pull that branch and run:

sh ./daily.sh

it will post the relevant data.

Code for the website:

https://github.com/laf/librenms-stats

Website itself.
http://www.lathwood.co.uk/log/

Yes it looks a bit crap at the moment, however we can work on this.

[2015-04-06 19:57] laf commented on #703
Oh and p.s the url to the stats site and submission need to be changed. Ideally we should use something like:

stats.librenms.org

I can spin a vm up on our openstack platform and give ssh access out to people so others can maintain it's anonymous setup.

@paulgear @f0o

[2015-04-06 22:09] supertylerc opened #739 "#707 Breaks Existing LDAP Installs"
#707 may break existing LDAP installs.  It did for me.  Below is the relevant section of config.php:

[code]

The UI reports that authentication failed, but I'm unable to find messages in the logs to indicate why.  I haven't reviewed #707 yet to determine which part of commit 49babf7 broke my LDAP authentication.  I'll investigate and attempt to determine the cause.

[2015-04-06 22:18] laf commented on #739
That's odd, reading through the code again and the only place it could change the way it works for existing connections is if someone has $config['auth_ldap_groupmembertype'] set but this isn't currently used shouldn't affect anything.

If you need to roll this change back then feel free and we can work something out with @Ultra2D.

The ldap code does need a rework in general :(

[2015-04-06 22:36] zunder1990 opened #740 "skip host for autodiscover"
I have hosts all of the network that dont have SNMP on them. I have arp autodiscover and would like a page that shows all hosts that failed to be added by autodiscover. This would allow me to look at the list and fix snmp on hosts that sould be working or exclude for future  autodiscover. This can start as a simple list on the config.php file but would love to see something in the webUI that show

[2015-04-06 22:39] zunder1990 opened #741 "feature request: show ports with errors"
Right now under ports you can show all ports that are disabled or down. I would like to see another one that would show all ports that are having errors.

[2015-04-06 22:49] zunder1990 opened #742 "feature request: interface event messages a little to verbose"
Say I have a network switch and a port goes down I get 3 messages.
ifOperStatus: up -> down
ifHighSpeed: 1000 -> 0
ifDuplex: fullDuplex -> unknown

It would be nice to see all of those on one line.

[2015-04-06 23:34] supertylerc commented on #739
I've reset to the commit prior to this one and have disabled automatic updates until the issue is fixed.  The lack of verbosity/logging makes it difficult to narrow down.  I may add logging locally, set my rev to 49babf7, and debug the issue locally.

[2015-04-07 05:34] f0o commented on #740
Should be possible with gui. I'll have a look later today.

[2015-04-07 06:22] Ultra2D commented on #739
Could you try removing '===true' from lines 100 and 157 of html/includes/authentication/ldap.inc.php ? Or adding them locally to commit https://github.com/librenms/librenms/commit/49babf77b86dda682fe1bf3a18c58d4c94de4bee ?
If that works, please run  ldapcompare  -x -h <host> "$config['auth_ldap_group']" memberUid:username from a shell. In my case that will return TRUE for a valid user, and UNDEFIN

[2015-04-07 06:29] Ultra2D commented on #714
Gathering the email addresses of LDAP users should be easy. I will take a look at it this week.

[2015-04-07 09:44] f0o commented on #741
Easy thing, will be PR'd today.

[2015-04-07 10:17] zunder1990 commented on #741
Thank you

[2015-04-07 10:19] laf opened #743 "Shorten interface names on map"

[2015-04-07 10:39] f0o commented on #741
Just to be clear here, you want ports that have errors, regardless of when they got picked up ?
Or do you want to have those ports that have just gotten errors within the last poll-cycle ?
Do you want a differentiation between incoming and outgoing errors ?

[2015-04-07 10:41] f0o commented on #741
Update: if you only want to see errors from the last poll-cycle without caring about incoming or outgoing, then check `/ports/errors=1/` :)

[2015-04-07 12:12] paulgear commented on #740
The data is already in the event log - just use the search to look for "ARP discovery of".

[2015-04-07 12:13] wzhsunn commented on #694
Is it possible for my read only device @laf ?

[2015-04-07 14:23] Ultra2D commented on #714
@f0o is there an easy way to generate an alert to test email delivery?

[2015-04-07 14:55] Lonecrowe opened #746 "Feature Request: add support for powercode bmu and procera traffic shaper"
Add Powercode BMU (Router) and Procera Packetlogic Traffic Shaper detection.

Both are already detected as linux machines and all the pertinent information is already being graphed.  CPU and interface stats etc.  More info can be added later but for now if you could just add the icons for each in the detection instead of a ? icon that would be great.....

www.powercode.com  you can use their littl

[2015-04-07 15:36] laf commented on #746
I assume they are just Linux boxes anyway? We'd need an snmpwalk to see what can be used to detect these or access via snmp. Can yo provide these?

[2015-04-07 15:49] f0o commented on #714
easiest is to create an alert like `devices.status = 1` for one device.

[2015-04-07 17:13] laf opened #747 "Fix dbDelete in includes/discovery/processors.inc.php"
Patch is:
https://gist.github.com/laf/ec54ba68da6fdc4be0c0

[2015-04-07 17:42] #742 closed

[2015-04-07 18:00] supertylerc commented on #739
Removing `===true` from lines `123` and `157` resolves the issue.  There's no `===true` on line `100`.

`$config['auth_ldap_group']` is not defined in my configuration.  `$config['auth_ldap_groups']` is.  I'm assuming you wanted a response with one of the defined groups in that array.

Also, for the reference of anyone else who comes across this: see below for the actual syntax for running the com

[2015-04-07 18:00] f0o commented on #741
Give me a hit if `/ports/errors=1` is not enough :)

[2015-04-07 18:01] f0o opened #748 "Missing link to errored ports in menubar"
placeholder

[2015-04-07 18:03] supertylerc commented on #739
I just pulled all changes.  I'm even with master (as of this writing), but I've removed the `===true` code from lines `33` and `157`.  Authentication is working again.

[2015-04-07 18:10] supertylerc commented on #739
Adding some debugging code reveals that the PHP's `ldap_compare` function is returning -1, which is an error.  I'll dig into this more soon.

[2015-04-07 18:24] Ultra2D commented on #739
If `$config['auth_ldap_group']` is not defined, you should not be able to authenticate at all. It is used by `ldap_compare` on line 33. This would correspond to
`ldapcompare -x -h ldap.example.com "" memberUid:tyler`

`$config['auth_ldap_groups']` is an array to define user levels. Very confusing indeed. Even more so because Observium is using an array in stead of a string for `$config['auth_ldap_

[2015-04-07 18:24] supertylerc commented on #739
This is the result of `$config['auth_ldap_group']` containing the wrong data.  The current tests do not allow for multiple groups for authentication, which should be allowed.  If I have two groups, `users` and `admins`, I should be able to authenticate differently based on them.  This is working prior to #707 with the following directives (which are displayed in `defaults.inc.php`):

[code]

Howev

[2015-04-07 18:25] f0o commented on #739
Could you paste us a diff or PR the patch?

[2015-04-07 18:26] supertylerc commented on #739
`config['auth_ldap_groups']` should be iterated through for authentication.  Observium may do it one way, but this isn't Observium and the way that it's currently done is not confusing.  It also requires you to have a specific group of which all users must be a member in order to authenticate--I don't see a reason to have an additional group solely for authentication if I'm going to use different

[2015-04-07 18:28] supertylerc commented on #739
@f0o I can start working on the PR.  I'll try to ensure that I don't break current compatibility.

[2015-04-07 18:28] f0o commented on #739
@supertylerc :+1:

[2015-04-07 18:29] Ultra2D commented on #739
Iterating the groups sounds fine be me.

[2015-04-07 18:32] Ultra2D commented on #739
Could you please try to include `===true`?

[2015-04-07 18:35] supertylerc commented on #739
I'm leaving existing code in tact.  It will just iterate `$config['auth_ldap_groups']` if `$config['auth_ldap_group']` is set to the default (which is `cn=groupname,ou=groups,dc=example,dc=com`, a non-functional default).

[2015-04-07 19:33] supertylerc commented on #739
See PR #749 for the fix.

[2015-04-07 21:57] supertylerc opened #750 "Alerts-Table Should Show Port Names"
Right now, the alerting system does not display the port/interface name/number when it alerts.  You only see a very generic "Port utilisation over threshold", for example.  The alerting system knows about the actual port number, though, because when I receive the notification via one of the transports the port number is included.

The `/alerts/` page should also show the port name/number along wit

[2015-04-07 22:03] laf commented on #750
So this is (secretly) in there, if you hover over hostname it will give you the triggers of that alert (hover over the rule and it will show the rule syntax). Happy to take suggestions on how else to show it, maybe a separate clickable link of some form?

[2015-04-07 22:07] supertylerc commented on #750
Sneaky!  Thanks for the pointer!  So armed with that, it also helps explain something else I've been trying to puzzle out: where there's only ever one alert in the list.  I guess the alerting system aggregates them instead of giving each alert its own entry.  And now it makes much more sense on why there's no list of affected ports without hovering over the hostname.

Did I miss this explanation i

[2015-04-07 22:11] laf commented on #750
I don't think that's anywhere in the docs as we don't have any on Web UI use really - probably should!

But yes if you create a rule that says show all ports down on a device, then it will collate the list of ports down and send one alert. If that's something that needs looking at then @f0o can comment further.

[2015-04-07 22:14] supertylerc commented on #750
No, I think aggregating alerts is preferable.  Spam is bad.  :)  What I'm really after is an alternative view of the alerts--one that disaggregates the alerts and has some (minor) additional detail.  Perhaps that wouldn't need to be the default view.  Keep the current view, then have a button for "detailed alerts," where each alert gets disaggregated and inserted into its own row.

[2015-04-07 22:34] zunder1990 commented on #741
/ports/errors=1 works for me

[2015-04-08 00:04] #739 closed

[2015-04-08 01:35] #747 closed

[2015-04-08 01:50] #743 closed

[2015-04-08 01:58] laf commented on #750
@supertylerc Something along the lines of:

http://pasteboard.co/2oUy3R0o.png

Ignore the crappy html, that can be tidied up.

[2015-04-08 03:09] zunder1990 opened #754 "feature request:ospf autodiscover"
Neil Lathwood said
Ok so we would need to create a new discovery process for ospf as the only work it does at the moment is in the poller which means we can't add discovery code there.

I can see ospfNbrIpAddr in the table, so I guess the process is:

Add ospf detection to includes/discovery/discovery-protocols.inc.php
This should get the ospfNbrIpAddr
Do a reverse dns lookup on the IP
If we get a

[2015-04-08 03:11] supertylerc commented on #750
@laf yes, except obviously some of those should be on the same line/don't matter.

[2015-04-08 07:10] f0o commented on #741
Thats good, will PR the link after breakfast

[2015-04-08 07:10] #741 closed

[2015-04-08 09:09] Ultra2D opened #755 "Alerts will not run from cron"
`includes/device-groups.inc.php` is not included when running `/opt/librenms/alerts.php` from cron. As a work-around, I have changed the cron entry to `*    *    * * *   root    cd /opt/librenms && /opt/librenms/alerts.php >> /dev/null 2>&1`.

[2015-04-08 09:09] laf commented on #381
Totally forgot to respond to this @f0o :(

I don't know graylog2 but is it not a bit overkill for people to install to get syslog data in?

Maybe being able to integrate into an separate graylog2/elk system might be handy (we use elk at work so correlating the data between the two would be awesome).

Otherwise maybe taking this back to a more basic level of if the hostname doesn't match then dump

[2015-04-08 09:15] laf commented on #755
@Ultra2D  yup, you're correct. I assumed this was an issue on my install actually.

@f0o

[2015-04-08 09:20] f0o commented on #755
PR'ing in a sec

[2015-04-08 09:26] #755 closed

[2015-04-08 09:29] laf commented on #755
All sorted - thanks for the report @Ultra2D + the fix @f0o

[2015-04-08 10:05] f0o commented on #381
Yes the integration of graylog/elk/tobediscussed would be as addition to the current syslog.

As result I wouldnt make any changes to allow unknown devices to feed messages into librenms' syslog.
Guessing the OS from the format of messages generates too many false-positives and thus creates confusing facilities,categories & cmds - resulting in a fairly unuseable/searchable syslog-overview :/

Open

[2015-04-08 10:12] f0o commented on #748
`$ports['errored']  = 1` in config does it

[2015-04-08 10:13] #748 closed

[2015-04-08 10:13] laf commented on #703
Running live data from my systems now in, putting my money where my mouth is so to speak.

http://lathwood.co.uk/log/

[2015-04-08 10:13] f0o commented on #741
@zunder1990 set `$ports['errored'] = 1` in the config to get the link :)

[2015-04-08 12:05] paulgear commented on #703
I think that looks fantastic.

[2015-04-08 13:09] laf commented on #703
I think it looks awful @paulgear but the idea is there :)

Any feedback on how to progress with this then if we want to do it?

We need to setup a server / vm somewhere to record the stats (I can do this with access for others).

PR the code I've proposed.

Create a new repo for the web / stats code - I'd hope we can do this under the librenms account as it makes the most sense.

Write code to pur

[2015-04-08 13:30] XxPatrickxX commented on #381
To prevent scope creep for the original issue. How about having it dump out to /tmp the raw output anything not matched against the devices already in the system and then trim it daily? Toggle enable the "feature" via a config option.

Down the road, integration of a third party syslog analysis package is an interesting idea at the very least.

[2015-04-08 16:11] Lonecrowe opened #759 "Current not graphing correctly or APC devices"
So far I've tested SMX1500 SMX 2200 and APC Symmetra.  It doesn't graph the high precision or even basic amperage (Current)

Error in the error log

[Tue Apr 07 08:18:15 2015] [error] [clientx.x.x.x] File does not exist: /opt/librenms/html/images/icons/battery charge.png, referer: http://x.x.x.x/device/device=25/  (lists all the devices)

Probably due to no results being returned.

Will be pluggin

[2015-04-08 16:54] Lonecrowe commented on #759
ATS (automatic transfer switch) will only use snmp v1 by the looks of it.

Its an older AP7750

The OID should be :
PowerNet-MIB::atsOutputCurrent.1.phase1.1
Mine returned a value of 26 which = 2.6amps

[2015-04-08 17:12] Lonecrowe commented on #759
Walk of an SMX1500 APC (Enterprises section only) found here http://pastebin.com/Kmu3AFWX

PowerNet-MIB::upsHighPrecOutputCurrent.0 = Gauge32: 48

Should be the OID to use for Current .  The above is 4.8 amps.

[2015-04-08 17:15] Lonecrowe commented on #759
APC Symmetra current OID is same as all the other UPS readings.

**PowerNet-MIB::upsHighPrecOutputCurrent.0 = Gauge32: 13**

Walk looked pretty much identical to the above.

[2015-04-08 17:26] Lonecrowe commented on #746
For the Powercode BMU it uses its own fork of openwrt I believe.
The enterprises section  its pretty empty http://pastebin.com/GHpxmfSG
Most of it is all the standard IF-MIB as well as the RFC-1213 stuff.
Pastebin of just the first of the standard walk information.  http://pastebin.com/6ynPaNjG
It literally lists every IP of every device under its arp entries and all the standard stuff.

Like I sa

[2015-04-08 18:02] Lonecrowe commented on #746
For the PDU that I use here is the walk of the enterprises section

http://pastebin.com/sqjX1kJ5

Oddly enough the OID being used works for the current but nothing else.

[2015-04-08 19:34] Lonecrowe commented on #71
What f0o said - snmpv3
"Transport Layer Security is the next generation of Secure Sockets Layer (SSL) and has been added to the SNMPv3 architecture."

So any of the devices out there that support V3 will be pretty much on top of their snmp game and will have for the most part well written mibs.

Allowing use of V2c within IP space outside of private ranges could be tagged with a disclaimer box som

[2015-04-08 19:36] Lonecrowe commented on #759
For the PDU that I use here is the walk of the enterprises section AP8930

http://pastebin.com/sqjX1kJ5

Oddly enough the OID being used works for the **current** but nothing else.

[2015-04-08 19:37] Lonecrowe commented on #759
![apc-powernet](https://cloud.githubusercontent.com/assets/11836803/7053717/302b79f2-de05-11e4-842f-f56c4fdecb5d.png)

[2015-04-08 21:32] Lonecrowe commented on #746
Procera regular walk of the basic stuff give you this
http://pastebin.com/Xhahm7ST

The enterprises material is quite extensive and over 8KB worth of text.  Lets just start with this.

[2015-04-09 14:09] tardoe opened #764 "Auto-Discovery Templates"
When discovering a device, allow pre-configured templates to be used to enable / disable features on a a per-device basis.

E.g. I might not want Libre to track the multiple full BGP feeds on my border routers or I might not want the 600+ interfaces graphed.

[2015-04-09 17:05] laf commented on #21
Quite an old issue this now.

In reality are we actually seeing arp discovery issues? I've seen a few people on irc say they use it on a decent scale (no idea on numbers) and it just works?

I'd like to propose to close this if possible @paulgear

[2015-04-09 17:06] laf commented on #27
Any more info on this issue or can we consider closing it down @paulgear

[2015-04-09 17:12] laf commented on #68
Is it worth looking at how we can migrate people to running as a non-root user?

One of the challenges will be that we had in the docs to symlink the cron file for quite a while, this means if we updated that file then it would break a lot of installs. We could have a second cron file we reference from now on and have that as part of the instructions creating a librenms user (people can change thi

[2015-04-09 17:13] laf commented on #207
Is this something that can be closed down now @f0o or is it separate to the alerting system still.

[2015-04-09 17:15] laf commented on #285
Hi @LeslieCarr, I'm closing this issue for now. If more people enquire about us supporting it then we can re-open and take a longer look.

If you want to re-open it then please feel free.

[2015-04-09 17:23] laf commented on #381
Syslog messages could get quite large so dumping to disk might not be suitable.

In my mind I was only thinking about dumping the entire syslog line into the msg column.

[2015-04-09 17:31] laf commented on #386
Just trying to come back to this one as conversation has died off :)

If this is only something that affects *nix systems then what about we detect the os, if it's *nix device then check if rrd files exist in old format and if so just update the rrd data, if it doesn't create new one with port_id.

Web ui would need to be updated as well to pull this info out of the correct rtd.

[2015-04-09 17:46] laf commented on #443
Hey @f0o

Can we look at PRing your fix? Seems to have helped a couple of installs out now.

[2015-04-09 17:50] laf commented on #508
Closing this now. Most are done just need ports really.

[2015-04-09 17:50] #508 closed

[2015-04-09 17:50] laf commented on #581
All done, closing this now.

[2015-04-09 17:50] #581 closed

[2015-04-09 17:51] laf commented on #594
Anyone tested this out and can feedback?

[2015-04-09 17:51] laf commented on #614
Any update on the snmpbulkwalk @damardjati?

[2015-04-09 18:43] laf commented on #695
Done

[2015-04-09 18:43] #695 closed

[2015-04-09 21:13] Ultra2D commented on #714
I thought https://github.com/librenms/librenms/compare/master...Ultra2D:issue-714 would work, but I don't receive emails as admin, only as `$config['alerts']['email']['default']` or as sysContact. Have to take another look next week.

[2015-04-09 22:02] laf commented on #703
Ok so PR now in place for the callback code. (PR #768)

https://github.com/laf/librenms-stats Is ready including a purge script - it needs a home. Are we ok with librenms/librenms-stats?

I've created a doc in the callback code pr which explains why we are doing this, what we do with the data and how people can get rid of the data held.

Just need a VM, still happy to host this if you want just le

[2015-04-09 23:08] paulgear commented on #714
I thought $config['alerts']['email']['default'] was only used for the old alerting framework - am I wrong @f0o ?

[2015-04-09 23:12] paulgear commented on #21
Yeah - probably not much point in leaving it open; the default of off makes good sense to me.

[2015-04-09 23:12] #21 closed

[2015-04-09 23:12] paulgear commented on #27
@f0o This was never an alerting thing; it was just appearing in the event log.

[2015-04-09 23:13] paulgear commented on #68
I agree - we need to aim for migrating the poller to non-root.

[2015-04-09 23:14] paulgear commented on #207
Didn't we integrate a newer version of check_mk into the agent a while back?

[2015-04-10 05:01] f0o commented on #714
@paulgear `$config['alerts']['email']['default']` is also honored by the new system :)

[2015-04-10 05:02] f0o commented on #207
I'd like to keep it open as reminder to fix the entire nagios-plugins integration. It's a slow progress :S

[2015-04-10 05:05] f0o commented on #27
Ah ok, this wasnt clear from the original issue text - gonna have a look at eventlogs

[2015-04-10 07:23] f0o commented on #764
Should be possible :)
Will take a look

[2015-04-10 07:33] f0o commented on #750
The title is a bit confusing as you dont mean the Alerting System but merely the GUI-table. Always get a heartattack when I read through the open issues heh

[2015-04-10 07:39] f0o commented on #718
Any update @tobiasa1 ?

[2015-04-10 07:52] tobiasa1 commented on #718
Hello,

Sorry about the delay.

I'll try to get some output during the weekend. Meanwhile I am using the config option bad_if to match and ignore ppp[0-9]+ which works fine.

Since the issue is only affecting a few interfaces per machine (each machine has around 250-300 ppp interfaces), I think it must be caused by LibreNMS not setting correct ifType for those interfaces, and when it does, it has

[2015-04-10 09:06] Rosiak opened #769 "Non-Admin is able to call the /map/ page"
A security issue.
A non-admin user is able to call the /map/ page, and then see the global map for all connected devices

[2015-04-10 10:05] f0o commented on #652
Is this still valid?

[2015-04-10 10:13] f0o commented on #764
I would like to tie this together with #526 instead.
So it might take a bit before we can merge this.

[2015-04-10 10:54] laf commented on #764
What do you need out of the dynamic config system. I've got to rebase that again and I keep putting it off

[2015-04-10 10:56] laf commented on #652
It's still valid but I wouldn't class it as serious.

The only aspect that's a concern is data posted from login over http (which is always ill advised), however the data was posted already so if someone is genuinely sniffing between you and the nms then they will already have your login details.

We could beef up the form submission and encrypt in the browser but this is probably not going to wor

[2015-04-10 11:36] f0o commented on #764
Basically a mapping between discovery & poller modules to device-groups.
We should discuss this on IRC when I'm home again - can prototype smt over the weekend

[2015-04-10 12:34] Lonecrowe commented on #764
I was thinking instead of "templates"  you took a "wizard" type approach initially to help people get new devices in.  A page that you input and checked what you wanted to monitor.  There is a question whether it should scan for regular if-mib stuff and if you say yes it scans (sort of like cacti)  and then you pick and choose which interfaces you wish to graph and which stastics with check boxes.

[2015-04-10 12:35] Lonecrowe commented on #759
Yeah the APC stuff needs a major overhaul.  There needs to be detection  between the different APC devices.  Mainly lock down and correct the apc section first but then make sure it detects the ATS and PDU and other devices correctly and applies the right graphs for those.

[2015-04-10 12:36] Lonecrowe commented on #746
Powercode detection is in now - thanks you.
Just need the exact same for Procera.

[2015-04-10 13:54] f0o commented on #746
Reopening as procera is not included yet

[2015-04-10 22:25] tylerapplebaum commented on #594
Works! Thank you SO much for this.

[2015-04-10 22:28] laf commented on #594
Are you giving it a test as we'd be interested in feedback. Especially if you use any auto discovery.

[2015-04-11 09:17] laf commented on #769
@Rosiak can you test this patch for me please: https://github.com/librenms/librenms/compare/master...laf:issue-769?expand=1

[2015-04-11 09:32] laf commented on #746
@Lonecrowe Do you have the PACKETLOGIC-MIB available and if so can you pass it on please. The procera will be detected as a Linux box so we need to grab something else to identify it.

[2015-04-11 09:33] laf commented on #614
Feel free to re-open this if you need @damardjati

[2015-04-11 09:33] #614 closed

[2015-04-11 09:38] gr0mit1 commented on #759
Hi Folks
Just joined LibreNMS - got an issue with my APC UPS.  It's not showing %ge power usage - this would be really helpful and Other Similar NMS systems display it (albeit shifted by a power of 10!)

http://pastebin.com/tirRvawR is an snmpwalk of the UPS.  Any ideas?

[2015-04-11 11:22] laf commented on #759
@Lonecrowe Sorry for the delay on this. Having to get my head round the existing code for apc as I've not touched it before.

Can you post me the output from:

./discovery.php -h <DEVICE> -d -m sensors

I can see the support output current is in but it's probably just not using the updated oids. Would be good to see your devices output.

[2015-04-11 11:22] laf commented on #769
This is now in PR #770

[2015-04-11 11:22] #769 closed

[2015-04-11 11:43] laf commented on #665
This still needs sorting for the main pages, it's only nav this is fixed on.

[2015-04-11 11:54] #665 closed

[2015-04-11 14:50] laf commented on #754
@zunder1990 I've just submitted a PR to get this to work for you. You can always test this by grabbing the changes until the code is merged in.

[2015-04-11 14:50] #754 closed

[2015-04-11 15:00] laf commented on #718
Thanks @tobiasa1. For now I'll close this issue and you can re-open when you get to it.

[2015-04-11 15:00] #718 closed

[2015-04-11 16:53] laf commented on #750
What about something as simple as this @supertylerc. Could easily have a button to enable additional info to see this view.

![image](https://cloud.githubusercontent.com/assets/3941142/7102297/93671538-e073-11e4-8b48-5bdd1ba8eb1f.png)

[2015-04-11 17:04] laf commented on #740
I've got a relatively simple fix for this.

We have the ability to force add a device so icmp / snmp isn't checked at the time. We could add a config option which is disabled by default, if enabled any devices that don't exist in the db already will be added.

Pros: Small amount of code needed.
          No additional table needed.

Cons: Won't care what it finds so you could end up with a load of

[2015-04-11 17:42] laf commented on #746
PR done now #773.

@Lonecrowe feel free to give this a try.

[2015-04-11 17:42] #746 closed

[2015-04-11 19:58] laf opened #774 "VMWare ESX 6 platform detected as build-"
Full string is: “VMware ESXi 6.0.0 build-2494585 VMware, Inc. x86_64″.

[2015-04-11 20:02] laf commented on #652
PR #775 should fix this.

[2015-04-11 20:02] #652 closed

[2015-04-11 21:43] Rosiak opened #776 "Devices with no active alerts has "Loading..." in their alerts pages."
As title states.

[2015-04-12 01:01] supertylerc commented on #750
That looks good to me!

[2015-04-12 06:02] f0o commented on #776
Confirmed. Ajax-backend needs to return empty object.

[2015-04-12 10:47] laf commented on #776
Fixed in #779

[2015-04-12 10:47] #776 closed

[2015-04-12 12:05] cwgueco opened #781 "Missing RRD file and directory"
I have installed the librenms package on a Debian linux (7.8) with Apache/2.2.22 (Debian). I have followed the instructions on https://github.com/librenms/librenms/wiki/Installation-%28Debian-Ubuntu%29 using an external MySQL server. Installation is via the web installer (install.php)

After adding a device which was detected and SNMP strings are workings. Graphs are not generated properly as I ha

[2015-04-12 12:23] laf commented on #781
Hi @cwgueco.

I think those docs are upto date enough but we are switching off the wiki in favour of http://docs.librenms.org

Don't think that will help in this scenario though. Have you got the cron file setup and running correctly?

[2015-04-12 18:35] laf commented on #781
Feel free to jump on irc if you need anymore help or re-open this issue if we can help further.

[2015-04-12 18:36] laf commented on #703
All merged on.

[2015-04-12 18:36] #703 closed

[2015-04-12 23:53] supertylerc opened #789 "Trend Number of Installed Packages"
Is trending the number of installed packages useful?  I found myself wondering how many have been installed over a period of time, though not for any performance reasons.  It was more of a curiosity.  Would anyone find such trending actually useful (other than satisfying curiosity)?

[2015-04-13 00:07] supertylerc opened #790 "Update Unix Agent Docs"
There's a minor typo in the configuration required for the `bind` script.  Current documentation is (here)[http://docs.librenms.org/Extensions/Agent-Setup/#bind9named].  It states: "Verify that everything works by executing `rdnc stats && cat /etc/bind/named.stats`."  The command should be `rndc`.  See below.

[code]

Additionally, the configuration required for the `mysql` agent script is not doc

[2015-04-13 05:49] cwgueco commented on #781
Thanks for the reply. Checked my installation and forgot to include the cron poller jobs. So far it is graphing for Cisco network devices. Now my next problem is with non-Cisco devices (i.e. HP Comware) which are listed as Generic devices :)

[2015-04-13 06:44] laf commented on #781
Should be easy to fix.

Can you paste an snmbulkwalk to pastebin then link here. Something like:

snmpbulkwalk -v2c -c public -m /opt/librenms/mibs HOSTNAME

[2015-04-13 08:46] laf commented on #789
We don't use the unix-agent so not for us. Sure it would for some people though :)

[2015-04-13 11:50] f0o commented on #790
Do you happen to know the command needed for firewalld ?

the port is 6556 TCP

[2015-04-13 11:50] laf opened #794 "4500-X not being picked up properly version / hardware"
https://i.imgur.com/xK49vcU.png

http://pastebin.com/Wskazpc8

[2015-04-13 13:09] f0o opened #795 "Device-list misses graph-formats"
Graph-options under `/devices/` are non-functional

might have something to do with bootgrid

[2015-04-13 13:21] Lonecrowe commented on #746
Emailing you the Packletlogic MIBs.

[2015-04-13 13:40] #795 closed

[2015-04-13 14:21] Lonecrowe commented on #759
Sent you the debug output in email.

I'm pretty sure its just missing a section for the UPS section of the MIB.  The ATS and PDU sections are there but nothing for the UPS.

[2015-04-13 15:55] Lonecrowe opened #798 "Feature Request : Siklu E Band Radios (70/80GHz)"
These are higher end high capacity bridges used by some WISPS.

The interfaces are pretty standard.  I believe the "HOST" Interface should be considered the primary interface to display.  (I'm in the process of verifying)

Detection may or may not need to find out if it is a Master or Slave - but I did a DIFF between the outputs of the two and there were no real differences.

Here is a pastebin of

[2015-04-13 21:01] #774 closed

[2015-04-13 21:15] jeremykraemer commented on #285
Hi,
I'm a old Observium user who hoped librenms found this lack ...
My need is to put several supervisor (like Naemon, Librenms, ...) on the same server, and each other in different sub folders (/naemon, /librenms, ...). The / being reserved to a common dashboard.

[2015-04-13 21:19] laf commented on #285
I can have another go at getting this to work but I'm just not sure when at the moment :(

[2015-04-13 21:22] jeremykraemer commented on #285
No problem, I understand. Thx !

[2015-04-13 21:38] supertylerc commented on #790
I read the source on the script and was able to use our automation to provision `firewalld`.   The command would `firewall-cmd --zone=<zone> --add-port=6556/tcp --permanent --reload`.

[2015-04-14 03:59] cwgueco commented on #781
Thanks for the reply. I wil raise another issue related to this.

[2015-04-14 04:04] cwgueco opened #801 "HP Comware network device listed as Generic Device"
Hello,

I have managed to add an HP Comware network device into the system polled with SNMPv2. However, unlike Cisco network devices, this device is listed as "Generic Device". I have uploaded via pastebin the results of snmpbulkwalk for this device. Kinldy check "http://pastebin.com/TaZp3YuA" for the results.

Thanks!

[2015-04-14 08:40] laf commented on #711
@f0o

One question on this:

1. Is it possible to drop device_id from the alert_schedule table and add another table called alert_schedule_items where we associate devices / groups? This will enable someone to multiple items to a single maintenance window rather than per device or group.

[2015-04-14 08:41] #781 closed

[2015-04-14 10:04] paulgear commented on #789
Definitely sounds like a useful feature to me.

[2015-04-14 10:08] laf commented on #801
@cwgueco thanks to @paulgear. this has now been fixed hopefully. Do a git pull in the LibreNMS directory to update.

[2015-04-14 10:08] #801 closed

[2015-04-14 10:13] f0o commented on #711
no problemo :)

[2015-04-14 10:23] azcobain opened #803 "WatchGuard device listed as Generic Device"
Hi,

When adding a WatchGuard device (XTM26-W), it's currently detected as a Generic Device. Here is the snmpbulkwalk output: http://pastebin.com/GNkVRWSf

Thanks.

[2015-04-14 12:00] anderssonpof opened #804 "HP Switch port deleted"
Hi,

Encountered an issue with ports being deleted for some reason.
HP switches version K.15.16.0006

Here's debugs for poller and discovery for one that gets ports deleted
https://github.com/anderssonpof/Stuff/blob/master/Logs/poller.log
https://github.com/anderssonpof/Stuff/blob/master/Logs/discovery.log

If some information is missing let me know and I'll see what I can do.

[2015-04-14 12:13] wzhsunn opened #805 "topology map like phpweather map with traffic in and out"
Is it possible to supply such a feature  on current map :
1 . display traffic in and out
2 . windows device can be displayed in the map

Thank you !

[2015-04-14 15:38] supertylerc commented on #789
I'll start looking into how the unix agent works and adapting the RPM script to provide whatever is necessary to graph the data over time this weekend.

[2015-04-14 16:26] laf commented on #804
Hi @anderssonpof.

Thanks for the debug info. Would you be able to redo these with:

-m ports

at the end of the commands to limit the output to just the ports poller please?

Thanks,

[2015-04-14 18:45] anderssonpof commented on #804
Hi @laf

Alright, did this for the poller and the ports got added back, but as soon as the cronjob kicked in they got deleted again.
Also added my config.php for reference

https://github.com/anderssonpof/Stuff/blob/master/Logs/poller-m.log
https://github.com/anderssonpof/Stuff/blob/master/Logs/discovery-m.log
https://github.com/anderssonpof/Stuff/blob/master/Logs/config.php

[2015-04-14 19:50] laf commented on #804
Really odd @anderssonpof. According to that output the ports aren't marked as deleted but I'm guessing you don't see anything in the web ui?

[2015-04-14 20:48] laf commented on #803
Hi @azcobain. Ok I've got a test branch which should fix this for you.

If you wouldn't mind giving it a try that would be great:

cd /opt/librenms
git remote add laf https://github.com/laf/librenms.git
git remote update
git checkout issue-803
./discovery.php -h <DEVICE> -m os

You should hopefully see it say the os has been changed. Check the webui and see.

If it's not, please do:

./discovery.p

[2015-04-14 21:06] laf commented on #805
hi @wzhsunn. This may be possible on both points. We will have to take a look and see what we can do.

[2015-04-14 21:35] laf commented on #804
I've reviewed the code and can't see where ports would be deleted other than in the same section as them showing to  be undeleted.

Can you run a discovery.php -h <DEVICE> -m ports then check the webui straight after. Then run poller.php -h <DEVICE> -m ports and see if you see them show at any stage. It could be worth removing them from the db and doing a rediscover. This shouldn't be necessary bu

[2015-04-14 21:40] laf commented on #798
Thanks for the details @Lonecrowe

Would you be able to do an snmpwalk and get:

sysDescr.0 and sysObjectID.0

So we can get some way of identifying the kit.

[2015-04-14 22:51] laf commented on #759
Hi @Lonecrowe and @gr0mit1.

So been working a bit more on this tonight and couple of things:

@Lonecrowe the device you have which is looking for PowerNet-MIB::atsOutputCurrent.1.phase1.1 is supported today from what I can see so if you can do a debug discovery.php for me : ./discovery.php -h <DEVICE> -d -m sensors

Both. So you're both asking for the same support but with different OIDs:) @Lonec

[2015-04-14 23:42] SaaldjorMike commented on #794
New pastebin url: http://pastebin.com/Yvc14dLv

[2015-04-15 00:00] laf commented on #794
Hi @SaaldjorMike. Hopefully this fixes the issue. If you can try this test branch that would be great.

cd /opt/librenms
git remote add laf https://github.com/laf/librenms.git
git remote update
git checkout issue-794
./poller.php -h HOSTNAME -m os

You should hopefully see things correctly in the webui.

If it's not, please do:

./poller.php -h HOSTNAME -m os -d

Edit any sensitive info and post o

[2015-04-15 00:01] laf commented on #711
Just a reminder when the dbschema is done to let me know so I can carry on with the webui :)

[2015-04-15 00:18] SaaldjorMike commented on #794
This yields the following:
Pastebin: http://pastebin.com/fzG89QkV
Screenshot: https://i.imgur.com/ZTbJ9C5.png

The model name of the switch is WS-C4500X-16, which was what I was hoping for but it seems like that the switch reports an answer that does not really follow the usual way of fetching the hardware model.

[2015-04-15 00:21] wzhsunn commented on #805
Thank you very much . I will look forward for that.

[2015-04-15 00:33] azcobain commented on #803
Unfortunately still seems the same in the web UI. Here is the debug output https://dpaste.de/T8C8

[2015-04-15 01:48] wzhsunn opened #808 "Export ports search results as excel"
Excel format is more popular at here， can we export export search result as excel ?

Thank you !

[2015-04-15 04:49] cwgueco commented on #801
Thanks! Did a git pull and deleted/re-added HP Comware network. It is now listed as "HP Comware" in the OS column.

[2015-04-15 05:10] paulgear commented on #801
Excellent - thanks for confirming @cwgueco.

[2015-04-15 06:57] Lonecrowe commented on #759
The actual reading is what is generally used like 4.5amps etc.  I dont know why people would need a %

[2015-04-15 06:59] Lonecrowe commented on #798
SNMPv2-MIB::sysDescr.0 = STRING: EH-1200FX
SNMPv2-MIB::sysObjectID.0 = OID: RADIO-BRIDGE-MIB::radioBridgeRoot

[2015-04-15 06:59] anderssonpof commented on #804
Indeed I find this very odd as well.
I deleted the device and added it again and the problem persists.

I temporarily disabled the cronjobs.
discovery with -m -> ports get back
as soon as i run the poller without -m they get deleted in the webgui
![ports](https://cloud.githubusercontent.com/assets/7721452/7153532/32e2a01a-e34d-11e4-82d3-13f60056d48b.png)
![overview](https://cloud.githubusercontent

[2015-04-15 08:29] gr0mit1 commented on #759
THe problem is that my UPS only seems to report %ge load.  It's a bit
silly.  Especially if they are using the same OID in other UPS for the
current.  I will have another poke around later.

Best Regards

Tim Robinson
TxRx Communications Ltd
+44 1256 810630

On 15/04/2015 07:57, Lonecrowe wrote:

[2015-04-15 09:18] laf commented on #794
Ok, can you try the following please @SaaldjorMike

This changes the regex for Cisco to catch the subtle changes from this device. I've tested it on some ASR's, 3750x and Cisco ASAs and it works ok.

cd /opt/librenms
git checkout master
git branch -D issue-794
git remote update
git checkout issue-794
./poller.php -h HOSTNAME -m system,os

You should hopefully see things correctly in the webui.

If

[2015-04-15 09:21] paulgear commented on #808
I think CSV would probably be achievable with relative ease, but probably if we supported a spreadsheet format, we would do ODS before Excel.

[2015-04-15 09:22] laf commented on #803
That dpaste isn't working.

Could you actually do the following please:

./discovery.php -h HOSTNAME -m system,os -d
./poller.php -h HOSTNAME -r -m system,os -d

And also an snmpwalk of:

sysDescr.0 and sysObjectID.0

[2015-04-15 09:22] paulgear commented on #789
Sounds great, @supertylerc. It would be great if we could keep it generic enough that replacing RPM with dpkg would be viable.

[2015-04-15 09:24] laf commented on #759
Have a look @gr0mit1

Do something like:

snmpbulkwalk -v2c -c public HOSTNAME -M /opt/librenms/mibs -m PowerNet-Mib .

[2015-04-15 09:26] laf commented on #804
Anyway you can get me remote snmp to this device? I can give you an IP that I will be coming from.

Feel free to email neil@librenms.org.

[2015-04-15 09:29] laf commented on #798
Can you email me the mib again, doesn't look like it's come through.

Also an snmpwalk against RADIO-BRIDGE-MIB::radioBridgeRoot, you might need to do -M /opt/librenms/mibs

[2015-04-15 09:57] SaaldjorMike commented on #794
Thanks. This gives me:
https://i.imgur.com/qXz2xIh.png
https://dpaste.de/x4yR

[2015-04-15 09:58] laf commented on #789
I could be mistaken but I think @f0o added support for dpkg

[2015-04-15 10:55] laf commented on #794
Should be done now @SaaldjorMike :)

cd /opt/librenms
git remote update
git checkout issue-794
./poller.php -h HOSTNAME -m system,os

[2015-04-15 11:03] SaaldjorMike commented on #794
Looks good to me - a lot better than before :)
The poller now gives me (using branch issue-794):
Hardware: Switch System Version: 03.05.01.E RELEASE SOFTWARE (fc2) Features: UNIVERSALK9 Serial:

[2015-04-15 11:23] laf commented on #794
Brill. No serial number support atm across all cisco devices. I'll look at that.

Going to run this on our production env for 24 hours and see if it's ok.

[2015-04-15 11:58] anderssonpof commented on #804
I'll look into it, cannot guarantee anything yet. I'll get back to you thursday/friday

[2015-04-15 12:04] SaaldjorMike commented on #808
I'd say .csv would be perfectly fine and is easy to import in Excel and other spreadsheet softwares.

[2015-04-15 12:11] f0o commented on #808
+1 for CSV

[2015-04-15 16:01] Lonecrowe commented on #798
mib re-sent.

I can post that RADIO-BRIDGE walk if you like its quite long.

Looks like I get some errors during the walk as the siklu mib references 2 other mibs
IEEE8021-CFM-MIB
IEEE8021-Q-BRIDGE-MIB

When I added those it asked for a crap load more.

They can be found here
http://www.ieee802.org/1/files/public/MIBs/

[2015-04-15 16:08] Lonecrowe commented on #759
Load % is different than the amount of current (A) it is outputting.

We'd also like to see load % as well.  That is a percentage of the capacity of the total VA it can handle. VA basically is Volts * Amps = Watts.  The capacity of the unit for example may be 2000VA but if you are doing  1000 you'd be at 50% load.

[2015-04-15 16:15] gr0mit1 commented on #759
Here's my snmpwalk of the APC UPS I am using:

root@zabbix:/opt/librenms/mibs# snmpwalk -v1 -c public ups.internal.hiwifi.co.uk -M /opt/librenms/mibs -m PowerNet-MIB .
RFC1213-MIB::sysDescr.0 = STRING: "APC Web/SNMP Management Card (MB:v3.6.8 PF:v2.6.4 PN:apc_hw02_aos_264.bin AF1:v2.6.1 AN1:apc_hw02_sumx_261.bin MN:AP9619 HR:A10 SN: ZA0637040957 MD:09/12/2006) (Embedded PowerNet SNMP Agent SW v2.2

[2015-04-15 19:11] laf commented on #794
PR now in place.

[2015-04-15 23:25] azcobain commented on #803
Here you go...

https://dpaste.de/BQDu
https://dpaste.de/wcM0

Sorry, I'm not sure what you mean by snmpwalk of sysDescr.0 and sysObjectID.0

[2015-04-16 02:35] wzhsunn commented on #808
CSV is ok , would you like to add this feature ?

[2015-04-16 13:13] 5u623l20 opened #819 "Versioned Release for porting to FreeBSD"
As a FreeBSD ports committer I was planning on porting this app to FreeBSD. Is there a possibility of releasing a version near soon. I need at least a version released prior to porting this.

[2015-04-16 13:18] laf commented on #819
Do you mean an official version number @5u623l20 ?

[2015-04-16 13:19] 5u623l20 commented on #819
Yes. In terms of GitHub lingo you can say "Releases".

[2015-04-16 13:22] laf commented on #819
We should definitely do this.

@paulgear @f0o.

What do you guys think? I'd like to see a 1.0 release if possible.

[2015-04-16 13:24] 5u623l20 commented on #819
If you guys want to delay 1.0 I am also good with 0.1. But I need a released version. 3:)

[2015-04-16 13:32] f0o commented on #819
We need to talk about versioning cycles and policies :)

[2015-04-16 14:09] f0o commented on #789
The dpkg im

[2015-04-16 14:16] laf commented on #819
@5u623l20 done. v0.1 it is.

[2015-04-16 14:54] laf commented on #808
CSV export now merged in.

[2015-04-16 14:54] #808 closed

[2015-04-16 14:55] laf commented on #804
@anderssonpof I think it's one of the poller modules that's running. It maybe crashing your snmp stack. With all but ports modules turned off it works fine. I'm working through to find out the which module it is.

[2015-04-16 18:54] Lonecrowe opened #821 "Feature Request: Support IBM G8124-E Switch"
http://pastebin.com/yKUk3vxd

Standard walk above.

Let me know if you need the enterprises section.  I don't have the mib handy at the moment.

[2015-04-16 23:10] paulgear commented on #819
Hi @5u623l20 - here's my take: with LibreNMS, we don't really think about versioning.  This is both a hangover from Observium, and a conscious choice in the sense that we want people to stay as close to HEAD git master as possible.  So my preference would be for people who want to distribute it separately to version based on date.

When your build script downloads the source to package it up for F

[2015-04-16 23:12] laf commented on #804
@anderssonpof Disable ipSystemStats and try again. I'd take a look at your devices logs and possibly report this as a bug to HP as I expect snmp is crashing when we're querying for the oids in that module.

[2015-04-17 02:22] wzhsunn commented on #808
Thank you !

[2015-04-17 06:49] anderssonpof commented on #804
@laf Thank you very much for finding that.
I'll what I do with HP, they're usually slow.

[2015-04-17 07:05] laf commented on #804
No probs. I'll close this issue. Feel free to re-open on comment if you find any more info for other users.

[2015-04-17 07:05] #804 closed

[2015-04-17 09:59] 5u623l20 commented on #819
Sounds good.

[2015-04-17 10:35] laf commented on #821
I've updated the standard ibmnos poller to fallback to using entPhysicalSerialNum and  entPhysicalSoftwareRev rather than defaulting to nothing.

IBM nos should be detected ok so I'm assuming it's just those values you are missing. This may not resolve it for this switch model - but it might :)

[2015-04-17 10:59] laf commented on #803
hi @azcobain those pastes have all expired. Can you put them back again?

For sysDescr, something like this:

/usr/bin/snmpget -v1 -c public -Oqv -m SNMPv2-MIB -M /opt/librenms/mibs udp:localhost:161 sysDescr.0 sysObjectID.0

[2015-04-17 10:59] #794 closed

[2015-04-17 13:46] Lonecrowe commented on #821
This was for Rosiak I believe.  He wanted to look at them to see if it could be improved.

It did detect this switch but it shows as down even though one of the management interfaces is up.

[2015-04-17 19:29] laf commented on #805
1. is taken care of hopefully with pr #826

[2015-04-18 00:49] paulgear commented on #285
I think it is worth leaving this one open, since it is clearly a common use-case and would be nice to have if we can manage it.

[2015-04-18 00:51] paulgear commented on #386
This is definitely something I want to dig into further.  I plan to try out some additional ideas soon, if someone else wants to continue to work on it, feel free.

[2015-04-18 18:05] laf commented on #759
hi both.

issue-759 on my github now contains both OutputCurrent and OutputLoad.

Can you give it a try and feedback.

I'll probably have to create a new load sensor type really but let me know.

[2015-04-18 18:20] laf commented on #798
Hi @Lonecrowe

This doesn't seem to have anyway for us to detect it's an Siklu device.

Could you do an snmpwalk:

snmpwalk -v2c -c COMMUNITY HOSTNAME -M /opt/librenms/mibs -m SNMPv2-MIB .

(please ensure you include the full stop at the end).

[2015-04-18 23:56] laf commented on #711
@f0o

DB Schema: https://raw.githubusercontent.com/laf/librenms/issue-711/sql-schema/048.sql

[2015-04-19 14:53] wzhsunn commented on #805
very good ! nice work ! I will use gns3 to take a test .

[2015-04-19 20:09] laf commented on #711
PR done #835

[2015-04-19 22:21] laf commented on #750
PR in place now @supertylerc

[2015-04-20 14:21] Lonecrowe commented on #759
For which devices?  UPS?  PDU ATS etc?   I am on the new branch now.  I still don't see graphs for current yet on one of our UPS's after rediscovery.  I'll give it 10 mins.

[2015-04-20 14:49] Lonecrowe commented on #759
Yep still not drawing the graph for current in any UPS we have.

[2015-04-20 15:15] Lonecrowe commented on #798
Wouldn't this be it?

SNMPv2-MIB::sysDescr.0 = STRING: **EH-1200FX**  <---model name

Running the walk now with the . and its stillll going.. :)

Pastebin won't even allow me to paste it because of size limitation! Emailing you results.

[2015-04-21 10:10] SaaldjorMike opened #842 "Issues with ipv4 and ipv6 search"
Looks like an issue with:
/html/includes/table/address-search.inc.php

When searching for IPv4 and IPv6 addresses it lists all addresses associated with the selected device and not only matches. Might be an issue related to $tmp_mask and $mask when checking if address is a match on line 57 and line 64.

[2015-04-21 11:21] azcobain commented on #803
Hi @laf, try these.

https://dpaste.de/smaL
https://dpaste.de/wVUC
https://dpaste.de/UhSS

[2015-04-21 11:39] nicole212 opened #843 "Delet button does not work in "alert-map" page."
It seems that when I click the delete button at "https://demo.librenms.org/alert-map/",nothing happens.

[2015-04-21 11:46] nicole212 opened #844 "Linking to the unexpected page?"
In "https://demo.librenms.org/health/metric=storage/" I found that when I click on the Usage status bar in the table,It links to "https://demo.librenms.org/#".

[2015-04-21 14:15] Lonecrowe commented on #759
Its working now including the load but a new section needs to be written for the load % to be displayed properly.

[2015-04-21 14:26] laf commented on #798
@Lonecrowe

Ok branch issue-798 is available to test for this:

cd /opt/librenms
git remote laf update
git checkout issue-798

Add the device then allow a disco and poll to run. If it's already added then force a discovery:

./discovery.php -h DEVICE

Temp and voltage will appears in the sensors like normal.

The other three will be under wireless.

[2015-04-21 21:42] laf commented on #842
I've put together a fix for this. It won't allow searching within subnets I.e looking for 1.1.1.1/32 in a 1.1.1.0/24 range but it's close enough for now.

[2015-04-21 22:07] laf commented on #843
Thanks for reporting this @nicole212

Should be sorted in PR #846. Just needs merging in.

[2015-04-21 22:15] laf commented on #844
Thanks again @nicole212.

This is now fixed in #847 and just needs merging in.

[2015-04-22 05:05] #844 closed

[2015-04-22 05:06] #843 closed

[2015-04-22 09:53] laf commented on #803
Hi @azcobain When you get a second if you can try my issue-803 branch again that would be great.

Please ensure you do:

git pull laf issue-803

To get the updated files (it's also now rebased against current master)

[2015-04-22 09:55] laf commented on #711
This is merged in now.

@Rosiak I've not added the support for time groups as I wasn't 100% sure how best to do this. When you go to create a maintenance window, being able to select Mon - Fri 9-6 wouldn't mean anything as you don't know if it's this week or next.

One thing I could do is add quick links to, this hour, next hour, next 12 hours, next 24 hours if that is useful? Or suggestions on ho

[2015-04-22 10:12] azcobain commented on #803
Thanks, now detecting the devices :)

[2015-04-22 10:40] sthen commented on #819
Hi. As a new LibreNMS user (and OpenBSD developer working on packaging it) I see this from several perspectives. In the end, your project your rules and packagers will usually manage to cope, but I'd like to chip in with my £0.02 worth, mostly from a packager point of view ;-)

As a packager, having "traditional" versioned releases can be very useful. For logistics, I don't know about other OS but

[2015-04-22 11:26] laf commented on #803
Cool. I'll PR it up :)

[2015-04-22 11:45] #803 closed

[2015-04-22 11:47] laf commented on #819
Tagging @paulgear for further comments.

[2015-04-22 11:49] #711 closed

[2015-04-22 13:23] paulgear commented on #819
I must admit I'm not impressed by the arguments for versioning at this stage (I fear that I'm turning into the Dev that us Opses are supposed to despise! :-), but I'm open to further discussion.  Let's put this one down to talk about in our semi-proposed meeting.

[2015-04-22 14:33] laf commented on #798
Add rfOperationalFrequency.1

rfInGoodPkts + others around that.

[2015-04-22 15:26] SaaldjorMike opened #851 "Improvement: Syslog search"
Would be nice to be able to query on specific dates or time ranges.

[2015-04-22 15:30] laf commented on #798
RADIO-BRIDGE-MIB::rfInPkts.1 = Counter64: 1461258486
RADIO-BRIDGE-MIB::rfInGoodPkts.1 = Counter64: 1461248808
RADIO-BRIDGE-MIB::rfInErroredPkts.1 = Counter64: 9746
RADIO-BRIDGE-MIB::rfInLostPkts.1 = Counter64: 45898
RADIO-BRIDGE-MIB::rfOutPkts.1 = Counter64: 1466332458
RADIO-BRIDGE-MIB::rfInOctets.1 = Counter64: 51064393983452
RADIO-BRIDGE-MIB::rfInIdleOctets.1 = Counter64: 50933750842764
RADIO-BR

[2015-04-22 15:31] SaaldjorMike opened #852 "Improvement: RANCID integration"
Would be nice if one could look through old versions of the configurations - and not only the most recent. The config is already in rancid so should be possible. Previously I've been using rancid-git with a gitweb frontend, but would be even more nice with the configurations from within LibreNMS.

[2015-04-22 17:25] Lonecrowe commented on #798
Thanks.  I think that should be sufficient information for these units.

[2015-04-22 20:44] anden4380 commented on #804
i also have the same problem i fixed it with adding this two lines to the config.php file i librenms

$config['snmp']['timeout']                         = 20;
$config['snmp']['max-rep']                         = 3;

and after that i have all the interfaces and data

sorry for my bad english

[2015-04-22 20:50] laf commented on #804
Thanks for reporting back @anden4380.

That sounds more like your issue was just snmp timing out. I believe the original issue here was that the switch itself's snmp stack was crashing for some reason.

Good to know though and helpful to others I'm sure.

[2015-04-23 05:18] anden4380 commented on #804
Okay :-)

2015-04-22 22:50 GMT+02:00 Neil Lathwood <notifications@github.com>:

--
Hilsen Anders Jørgensen

[2015-04-23 10:32] f0o commented on #851
I guess only message-search is possible atm?

[2015-04-23 10:49] SaaldjorMike commented on #851
True. For the moment it lists a very long list of syslog info, which would be nice to only show stuff for certain time ranges.

[2015-04-23 17:18] f0o commented on #750
Merged

[2015-04-23 17:18] #750 closed

[2015-04-23 17:19] f0o commented on #842
Leaving this open as reminder

[2015-04-23 17:22] f0o commented on #622
any updates @joubertredrat ?

[2015-04-23 17:26] f0o commented on #714
@Ultra2D hi, any updates on this? Your patch looks quite logical to me and I'd like to merge this if it works.

[2015-04-23 19:57] Ultra2D commented on #714
Sorry, haven't looked at it yet. I probably will need to create a separate instance to see how the notification system works without LDAP.

[2015-04-23 21:11] sthen opened #859 "rrdcached filename fix (#839) causes problems if rrd_dir is outside install_dir"
I had rrdcached configured to keep files (-b) in /var/db/rrd, and set rrd_dir in LibreNMS to /var/db/rrd/librenms; the change in #839 gave the surprising result of looking in nonexistent /var/db/librenms instead.

Would it make sense to have a separate config variable e.g. rrd_cachedir to pass to rrdcached, which could by default be based on rrd_dir, but would allow the user to override if necessa

[2015-04-23 21:48] laf commented on #859
@f0o would you mind taking a look at this one?

[2015-04-23 23:56] supertylerc commented on #750
The new additions to the alerts interface are slick!  Thanks, @laf and @f0o!

[2015-04-24 00:01] supertylerc commented on #852
This would require a bit of work, I think.  We would need to detect the VCS being used (cvs, svn, or git) and provide support for all three in a single, fluent interface.  It's not impossible, but it is a decent bit of work to incorporate.  Perhaps adding incremental support for one VCS at a time would be prudent.  I suspect that git would be last, though, as it is fairly new to the RANCID scene.

[2015-04-24 04:35] f0o commented on #859
PRing today

[2015-04-24 06:41] f0o commented on #859
@sthen can you please test PR #861 and see if it works?

Apply patch:
[code]

Revert changes:
[code]

Thanks! :)

[2015-04-24 15:16] Tatermen commented on #443
I was getting zombie processes on Apache and PHP 5.6.1 (no php-fpm, OpenSuSE 13.2). @f0o 's fix worked for me.

[2015-04-24 21:37] JohnFlowerful commented on #443
The fix still doesn't work for me. Same setup as listed above, but with the php versions 5.5.24 and 5.6.8. php version 5.4.40 works fine.

[2015-04-25 02:30] wzhsunn commented on #805
The Librenms has a good performance at topology map,thanks for your hard work. And will it be better if  the appearance of the topology map displays like this http://visjs.org/examples/network/03_images.html.  ：）

[2015-04-26 08:26] adammmmm commented on #443
The fix also works on ubuntu 14.04.2 Apache, php5.5.x

[2015-04-26 22:27] itscassa opened #864 "LDAP Login with Jumpcloud"
Hi all,

I'm currently trying to set up LibreNMS with LDAP authentication.
I also have a Jumpcloud service with LDAP enabled for another LibreNMS instance.

I used the following FAQ: http://support.jumpcloud.com/knowledgebase/articles/474035-configuring-your-application-with-jumpcloud-ldap

When I enter the right login it's giving me a Failed to authenticate error. Though, it seems like it makes a

[2015-04-27 14:13] laf commented on #864
Had a check into this today @itscassa and managed to get something working without updating code.

It won't support multiple groups so if you trying to setup different level of users then it might not work for you at the moment.

My config is (although I'd suggest you switch to ldaps for the port):

$config['auth_mechanism'] = "ldap"; # default, other options: ldap, http-auth
unset($config['auth_l

[2015-04-27 14:21] laf opened #867 "Missing some support for Synology DSM"
https://dl.dropboxusercontent.com/u/9924670/synology/filer.txt

https://dl.dropboxusercontent.com/u/9924670/synology/filer.jpg

https://groups.google.com/forum/#!topic/librenms-project/w-gf99qm0OM