[2015-10-28 18:54] f0o commented on #2089
Close as it's PR'd :)

[2015-10-28 18:54] #2089 closed

[2015-10-28 18:57] #1037 closed

[2015-10-28 18:59] f0o commented on #2080
Upstream issue is #1196

[2015-10-28 18:59] #2080 closed

[2015-10-28 19:00] f0o commented on #2016
Been a long time, I dont have a PR-worthy patch.

Releasing my Tag, maybe somebody else takes over. Sorry

[2015-10-28 19:01] #1642 closed

[2015-10-28 20:43] laf commented on #2216
Option 1 seems more logical.

Question on this, are you expecting a shared dashboard to be selected and copied so that the new user can fully update it (it becomes private) or actually share the original one so only one dashboard exists and new users can't update it if it's read-only but can if it's shared writeable?

[2015-10-28 20:48] Lonecrowe opened #2360 "Feature Request - Disable Alert Notifications Globally"
Since we don't have any parent/child relationships is an entire site is experiencing issues we have a plethora of alerts coming in via email.

For example there are some routing issues taking place on the internet today making some of our subnets unreachable so it is constantly flapping and alerting us all day.  Instead of needing to disable manually 20-30 devices I'd like to manually disable the

[2015-10-28 20:52] laf commented on #2205
@johngriegerjr That works for me still :( Only difference is I tested against a 12.x release and on CentOs 7 for the syslog box, looks like you are using Ubuntu / Debian?

For more debugging, can you edit syslog.php and uncomment:

`#logfile($line);`

You will need to then restart syslog, generate a new syslog message and checking /opt/librenms/logs/librenms.log and you should see something like:

[2015-10-28 20:54] laf commented on #2360
Can do a simple on / off switch if that is of use?

[2015-10-28 20:54] f0o commented on #2360
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

You should be able to suppress those alerts by adding an alert-schedule

- - f0o

On 28 October 2015 21:48:39 CET, Roy Fokker <notifications@github.com> wrote:

-----BEGIN PGP SIGNATURE-----

iQJPBAEBCgA5MhxEYW5pZWwgUHJldXNza2VyIChNb2JpbGVLZXkjMikgPGYwb0Bs
aWJyZW5tcy5vcmc+BQJWMTX2AAoJEJMZKtVWOFzBx7kP/irCUtdlKww6wAeBjG7G
hn4j0yx8hkM7SqNRjVq3uHW4kUqTU

[2015-10-28 20:57] laf commented on #1650
We didn't I'm afraid :(

My only overall concern with how much data we might see in this table but overall it's unlikely to be too much that MySQL can't cope.

@librenms/reviewers Any thoughts folks?

[2015-10-28 21:05] paulgear commented on #2216
I think we should have a default dashboard that is used if no others are assigned, and allow admins to customise whether their users get a private or shared dashboard.

[2015-10-28 21:12] laf commented on #2191
Keep tagging core-team when I mean @librenms/reviewers

[2015-10-28 21:31] Rosiak commented on #1650
:+1: So far.
No matter what status the MIB polling is on, we would still need to be able to add custom OIDs or similar at some point.
How is the historic data preserved?

[2015-10-28 21:36] Rosiak commented on #2191
I'm not a fan of this, but to some extent we could add a option to look at the sysName too?(Even though the business case for this change is very poor). I don't think we should take it further than this.

[2015-10-28 22:09] laf commented on #2178
Thanks @nielsraijer and sorry for the delay on this. The poller output doesn't look complete.

If possible, can we get access to at least one of these units so we can get what we need? If so, please email team AT librenms.org. I'm not going to get chance to take a look at this for probably a week but someone else might pick it up in the meantime.

[2015-10-28 22:16] laf commented on #2180
Closing this.

Please feel free to submit a pull request.

[2015-10-28 22:16] #2180 closed

[2015-10-28 22:42] laf commented on #2171
This is the best I could come up with:

Before:

![image](https://cloud.githubusercontent.com/assets/3941142/10805290/80dce1ec-7dc4-11e5-9bd1-8bca7d8263cf.png)

After:

![image](https://cloud.githubusercontent.com/assets/3941142/10805296/8ab8aff2-7dc4-11e5-9f7b-f367c800d497.png)

With this:

[code]

If however you just mean you want to get rid of the 95% line then we can probably add an option to

[2015-10-28 22:43] #1620 closed

[2015-10-28 22:45] laf commented on #1698
Are we talking about having the IP of what the DNS was resolved to? We don't store this information, I guess we could but I'm really not certain if it's worth storing the value of this.

Anyone else?

[2015-10-28 22:48] laf commented on #2016
I'll pick this up soon. Shouldn't be too difficult to just add a toggle switch for the widget with only show down devices?

[2015-10-28 22:49] laf commented on #1525
Proposing to close in 48 hours.

[2015-10-28 23:02] johngriegerjr commented on #2205
I think the /opt/librenms/syslog.php file might be the problem. Mine doesn't have the #logfile($line); entry and when I put it in (without the hash tag) and restarted syslog-ng I didn't see any syslog messages in the /opt/librenms/logs/librenms.log file.  I'm using the Ubuntu virtual machine that I downloaded from the LibreNMS site

VirtualBox Appliance
Ubuntu 14.04.1 LTS tarball (1.2G)
md5sum: fb

[2015-10-29 00:53] alex1528 commented on #2191
I don't think so, if the device is more up,I do not believe that each device is certainly not independent of the IP address.

[2015-10-29 06:38] adaniels21487 commented on #1650
Hi @Rosiak,
Just to clarify, #1650 is to create a generic DB storage mechanism for Discovery/Poller modules. The basic idea being that if a module needs to store information in the database they can use this API and do not need to create their own database tables and write their own SQL.

The driver to create this is to implement the functionality of ports (enable/disable, ignore, etc) but to do t

[2015-10-29 07:51] simonholmbring commented on #2216
I would expect the admin to be able to "assign" a dashboard to a user, the user does not need to be able to update this dashboard.

Basically, I'm planning on using this for two purposes.
1. Servicedesk Dashboard with a dummy user on a TV in our NOC
2. Management User to login and check status.

Both users with read only profile, so should not be able to change anything.

[2015-10-29 08:00] laf commented on #2191
Sorry I'm not 100% on what you mean by that last reply.

[2015-10-29 08:05] laf commented on #2205
Just to be sure. Please run ./daily.sh to update. chmod 777 librenms.log and try again.

[2015-10-29 08:28] alex1528 commented on #2191
Sorry, poor english. i want to use chinese. :(
so, each device uses a separate IP address ,it's unrealistic, if not using DNS to separation the devices.
in my case, have a lot of the devices in NAT Env, by only use one public ip address for those devices. it's use the same ip address, with the different snmp port per devices.

[2015-10-29 08:42] tuxis-ie commented on #1698
It would be the IP that the snmp-client talked to. So it should be stored, not requested upon view.

[2015-10-29 09:03] laf commented on #1698
What's the need for this? I don't see the benefit if I'm honest.

[2015-10-29 09:08] laf commented on #2191
Thanks for clarifying :)

I'm not sure this is something we will change, we already have two options that address this and adding further code in to allow duplicates is just not how the base code works :(

1. Use hostnames that point to the same IP but with different ports.
2. Setup a distributed poller behind the nat device which will poll all of those devices.

[2015-10-29 09:14] alex1528 commented on #2191
Thank you for listening to me talk :)
If available that, I will test...

[2015-10-29 09:22] tuxis-ie commented on #1698
Me neither, but IF this would be implemented, I would like it not to be too visual.

[2015-10-29 09:29] laf commented on #2191
No problem.

#1 is all controlled by yourself

#2 We have docs on how to set this up: http://docs.librenms.org/Extensions/Distributed-Poller/

[2015-10-29 14:12] johngriegerjr commented on #2205
I haven't solved this but I think I found the problem? It's with the way the Cisco switch is sending the syslog messages.  Here's what I did to come to this conclusion.

1. Stopped the syslog-ng service ```'service syslog-ng stop'```
2. Enabled syslog debugging ```'syslog-ng -Fevd'```
3. Looked for differences in the way the syslog messages were formatted.

**Cisco Switch Syslog Not Working:**
Inc

[2015-10-29 15:10] Lonecrowe commented on #2360
Yes just a slider on off would do.  A widget would be nice too of controls to do other functions such as restart apache,  mysql or other services maybe?

[2015-10-29 15:13] f0o commented on #2360
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

What's wrong with using the alert-schedule?

- -f0o

On 29 October 2015 16:10:45 CET, Roy Fokker <notifications@github.com> wrote:

-----BEGIN PGP SIGNATURE-----

iQJPBAEBCgA5MhxEYW5pZWwgUHJldXNza2VyIChNb2JpbGVLZXkjMikgPGYwb0Bs
aWJyZW5tcy5vcmc+BQJWMjd5AAoJEJMZKtVWOFzBCe4P/Rrqz5wIGrFpSo7UjRBf
n5kFHFz32XuZW0KysTI/GO1mPzA30L/ZtYjKCf44PmoOqsUbaf9hBIoduk

[2015-10-29 15:17] #2184 closed

[2015-10-29 15:18] #2186 closed

[2015-10-29 15:20] #2201 closed

[2015-10-29 16:47] SaaldjorMike commented on #2154
As @f0o pointed out, this is already possible by using an url like:
https://librenms.example.org/overview/dashboard=1?username=guest&password=guest&bare=yes

[2015-10-29 16:47] #2154 closed

[2015-10-29 19:57] masonke commented on #1698
It would be for troubleshooting, to help when discovery finds a device and puts it in by name. Plus, if someone screws up a DNS or hosts entry, it is easier to figure out what to fix.
~KEM

[2015-10-30 02:10] masonke commented on #2068
This slipped through the cracks, will do this tomorrow

[2015-10-30 13:50] nielsraijer commented on #2178
Hi,

Of course. I will send a mail to the team address explaining how to access one of these routers.

Thanks so far!

Niels

--
Niels Raijer
niels@fusix.nl

[2015-10-30 14:44] betafork opened #2367 "similar as $config['uptime_warning'] for other (custom) alerts"
ie. Links gone full during the night would show in the morning.

[2015-10-30 16:53] Rosiak opened #2368 "Feature List"
There has been yet another question regarding LibreNMS' features.
How's everyones view on making a feature list, I'm well aware of the pro's and con's.

@librenms/core-team

[2015-10-30 21:50] paulgear commented on #1622
Hi all; this is something I've got almost ready to merge back in, but we need to resolve our strategy for #1888 before we add any other major data structures.

[2015-10-30 21:51] paulgear commented on #1650
@adaniels21487 I'm not entirely clear on how you would see this being used, and I'm not sure there's much overlap with the MIB polling.  It actually seems like it might be the start of a custom graphing solution.  How would you see it as working?

[2015-10-30 23:04] adaniels21487 commented on #1650
Hi @paulgear,
This is proposed as a generic storage container with an easy to use API. As an example, using this I can easily create:
Cisco CBQoS (#1851) - https://github.com/adaniels21487/librenms/tree/feature/Cisco-CBQOS
Cisco CallManager (#2196) - https://github.com/adaniels21487/librenms/tree/feature/CUCM-Perfmon
I can use component for storage. I dont need to create a new CBQOS/CallManager ta

[2015-10-30 23:54] ciscoqid opened #2371 "NX-OS memory, power, disk (flash) and fan support"
I am trying to see how to get memory pool info, storage (flash usage) and fan speed added to the NX-OS device type.  From my review of snmpwalk output from a 3064-T (here: https://www.dropbox.com/s/2g5xb0ekw6jopq7/nxos-snmpwalk.txt?dl=0), I see no evidence fan speed sensors are exposed via SNMP, just operational info via the FRU MIB.  It may be possible via their XML API, but I don't think that is

[2015-10-31 13:00] pingwiniasty commented on #1767
This is good idea. We also have some devices without SNMP.
Sometimes We adding customers IPs to monitor ICMP only, for check up/down, loss, avg time of reply.

[2015-11-01 02:08] paulgear commented on #2103
Big :+1: from me

[2015-11-01 16:53] MauJFernandez commented on #1622
This is awesome news @paulgear, I can't wait to test it!

[2015-11-01 17:36] ilar opened #2374 "DNS going down breaks the entire system"
Could we maybe use IPs to monitor systems on the network, or at least add an option to choose between a static mode and a resolved mode? Maybe a fallback mode, where if the host can't be resolved, it attempts the last known IP address?

Even if everything is up and working, any sort of DNS issue instantly breaks LibreNMS completely.

[2015-11-01 19:53] masonke commented on #2374
This is one of the reasons we use /etc/hosts for the critical devices.  If DNS has a problem, the tools still work.
~KEM

[2015-11-01 20:20] ilar commented on #2374
Definitely a good idea I'll be stealing, though I think we should probably have a 'proper' method for dealing with it, unless there's a convincing reason not to.

[2015-11-01 20:29] ciscoqid commented on #2374
On 11/1/15 12:20 PM, Steffan Pease wrote:

Perhaps cache host lookups in the database for a bit to check if host
lookups fail?

Mark

--
Mark D. Nagel, CCIE #3177 Emeritus <mnagel@willingminds.com>
Principal Consultant, Willing Minds LLC (http://www.willingminds.com)
cell: 949-279-5817, desk: 714-495-4001, fax: 714-844-4698

** For faster support response time, please
** email support@willingminds

[2015-11-01 21:30] masonke commented on #2374
It is not too bad, the routers and other infrastructure devices do not change often. We use salt to keep all the pollers in sync
~KEM

[2015-11-02 07:24] f0o commented on #2374
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Use IPs ?

Or is that too trivial?

Dont get the reason/meaning behind this issue. Is it just a discussion on how to make DNS HA ?

F0o

On 1 November 2015 22:30:27 CET, Kevin <notifications@github.com> wrote:

-----BEGIN PGP SIGNATURE-----

iQJPBAEBCgA5MhxEYW5pZWwgUHJldXNza2VyIChNb2JpbGVLZXkjMikgPGYwb0Bs
aWJyZW5tcy5vcmc+BQJWNw+VAAoJEJMZKtVWOFzBKygQ

[2015-11-02 09:30] SaaldjorMike opened #2376 "Issue with multicast and broadcast counters on Cisco SMB"
Looks like we use the HC counters for multicast+broadcast if numeric values are returned, but in my case they are never updated. Non-HC values looks good though.
https://github.com/librenms/librenms/blob/master/includes/polling/ports.inc.php#L271-L277

snmpwalk grepping for information about a specific port:
[code]

[2015-11-02 09:47] Rosiak commented on #2374
I'm still not sure this issue should be adressed by LibreNMS.
A proper DNS caching solution would be the thing in this case.

Something like DNSMASQ for example.
http://www.thekelleys.org.uk/dnsmasq/doc.html
Or
https://github.com/kenshinx/godns

[2015-11-02 11:59] dragon2611 opened #2377 "Feature: Support Manual override of interface speed."
Some devices have been known to mis-report the interface speeds, particularly on virtual interfaces such as VPN tunnels and PPP interfaces, this causes problems if interface utilisation alerting is enabled as LibreNMS believes an interface is at high utilisation whilst in reality it isn't.

An example of this would be the UBNT edgerouter reporting PPPoE interfaces at 10M.

[2015-11-02 14:03] laf commented on #2374
I'd certainly say that a local dns server is the way to fix it. Trying to do this in code re-invents the wheel and probably won't be done as well.

[2015-11-02 14:54] ilar commented on #2374
The problem with that is that using a local DNS server is the entire issue. If the local DNS server goes down or has issues- the exact situation you have LibreNMS for- libreNMS breaks completely. It's entirely useless as a monitoring tool in any situation with local DNS. That's a pretty major issue, I feel.

[2015-11-02 15:14] laf commented on #2374
This is the same as any other monitoring system using dns resolution and I've never come across one that cache records.

I really don't see this being an an issue for us let alone a big issue. Running a stable dns platform shouldn't be a challenge.

You might find someone else wants this and picks up the challenge and contribute the code.

[2015-11-02 15:26] ilar commented on #2374
Can I ask what monitoring systems you know of that rely on dns resolution to identify boxes? I know PTRG and Nagios do not.

[2015-11-02 15:30] f0o commented on #2374
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

But neither does LibreNMS.

I dont get the point of this issue :S

I run LibreNMS using IPs only just fine, as well as some smaller installs with DNS. I prefer IP over DNS as well because of said resolution issues l.

- - f0o

On 2 November 2015 16:26:52 CET, Steffan Pease <notifications@github.com> wrote:

-----BEGIN PGP SIGNATURE-----

iQJPBAEBCgA

[2015-11-02 15:34] ilar commented on #2374
Really? Hmm. Something, somewhere, is badly messed up on my monitoring box then, it could never add devices by IP.

[2015-11-02 15:35] laf commented on #2374
Nagios does, zabbiz does, I'm pretty certain when I tested opennms and zennos both did.

You know you can add devices by IP directly right?

[2015-11-02 22:18] paulgear commented on #2374
I'm fully with @laf on this one; if your local DNS caching or slave server is not stable, you've got more problems than running an NMS.  This is one of the reasons why our fork base didn't (doesn't?) support add via IP.  DNS is a fundamental Internet service, and it's not that hard to make it reliable.  Even if the local service goes down, you should have a backup in your /etc/resolv.conf that poi

[2015-11-02 23:34] ilar commented on #2374
I guess it's just a difference in opinion in the end then- I feel like a monitoring system shouldn't have such a massive external dependency, no matter how stable/reliable the service tends to be. Just because the service itself is reliable, that doesn't mean your network will be able to receive it faithfully- the whole reason you have monitoring, imo.

Cheers.

[2015-11-02 23:34] #2374 closed

[2015-11-03 00:41] masonke commented on #2068
My apologies, finally got this done and neutralized the data

[2015-11-03 09:34] paulgear commented on #2374
@ilar For avoidance of doubt, even if you don't like being dependent on DNS, there are two alternatives available to you: use /etc/hosts entries for everything (you can generate DNS from these, or vice versa), or add devices via IP.

Personally, I don't recommend either of these; my approach is that if DNS is broken, my network is broken.

[2015-11-03 11:45] Justmeccsn commented on #2066
I am seeing the same issue.

Bandwidth graph (which the switchport monitor shows as being correct)
![graph 1](https://cloud.githubusercontent.com/assets/15629409/10906955/c6f0eaa4-821d-11e5-8357-df46d38a4bed.png)

Billing Graph shows the 95th at 280mbps after spiking to almost 1gbps:
![billing-graph](https://cloud.githubusercontent.com/assets/15629409/10906993/2acb9150-821e-11e5-8522-a8645a061148.

[2015-11-03 16:54] khobbits commented on #1904
One thing to note:
rewrite ^api/v0(.*)$ /api_v0.php/$1 last;

This needs to be:
rewrite api/v0(.*)$ /api_v0.php/$1 last;

Or the API won't work.

[2015-11-04 13:32] tuxis-ie commented on #2123
https://github.com/librenms/librenms-agent/pull/12 Fixes this!

[2015-11-04 13:36] f0o commented on #2123
Merged https://github.com/librenms/librenms-agent/pull/12

[2015-11-04 13:36] #2123 closed

[2015-11-04 15:15] laf commented on #2374
To clarify @ilar. I've not said that other NMS' have a dependency on hostnames (i.e you can't use IPs), I've said that when hostnames are used they won't have their own caching mechanism which is what this issue was asking us to do. That is the part that we're saying is out of scope for LibreNMS and needs to be dealt with by users.

[2015-11-04 20:11] laf commented on #2367
I'm not sure how we can do this, we don't record the link data for more than 2 polls (current data + previous 5 mins) so we won't be able to show a warning about this.

@librenms/reviewers ?

[2015-11-04 20:39] laf commented on #2224
@sarcasym Are you ok with PHP? If so, we can provide some guidance on adding this.

[2015-11-04 21:15] laf commented on #2205
Have you still got logfile($line); uncommented?

Also, librenms.log is the default log file but if you've changed it then check the new log file.

If this is also now correct then you really should see something in the logs after restarting syslog-ng. We really need to see the output from the logfile() function so we can replicate this.

[2015-11-04 21:18] laf commented on #1650
We have code that could use something like this for logging data to the DB which we currently don't do and we can't then provide alerting functionality for.

@librenms/reviewers We need to progress this one way or the other so that @adaniels21487 can submit his PRs for the new functionality being proposed.

[2015-11-04 21:19] laf commented on #2191
Closing, feel free to re-open if you have any further questions.

[2015-11-04 21:19] #2191 closed

[2015-11-04 21:26] laf commented on #2078
@TNAJanssen Feel free to reopen this issue, we need more information on the issue you are seeing though before continuing.

[2015-11-04 21:26] #2078 closed

[2015-11-04 21:29] laf commented on #1698
I don't personally see the benefit of this seeing as we would need to then store the IP of the resolved domain. I'll leave this to someone else to add functionality for if they see fit.

[2015-11-04 21:29] laf commented on #1490
Proposing to close this in the next 24 hours.

[2015-11-04 21:31] #1525 closed

[2015-11-05 06:16] adaniels21487 commented on #1650
Perhaps a screenshot will help articulate the need I perceive.
So, as mentioned, the driver for this is to produce a generic container with the capabilities that ports has, the edit menu:
![image](https://cloud.githubusercontent.com/assets/13431617/10961166/943a466c-83d7-11e5-95f0-0847b18c5507.png)
Look familiar?

Without something like components, If I needed to duplicate this ports functionality

[2015-11-05 06:35] #2217 closed

[2015-11-05 08:17] aauvinet opened #2387 "GUI > Pseudowire not display"
Hello,
Sorry for my bad english.

I test Observium and librelms .

On Librelms
I have a problem in GUI, I don't see the pseudowire mpls of my devices.
Discovery seems ok,

[code]

[2015-11-05 08:52] abilashv opened #2388 "Housekeeping in Librenms"
First of all hats off to all the developers who make this tool so great !
It would be very helpful for an environment with 500+ hosts, if there is an utility php to
1. Cleanup old / never used rrd files
2. Stale database entries
3. Clean up old alert,syslog and event logs according to the age .
Just an optional things but it will be become very handy in long run  :) :+1:

[2015-11-05 08:54] f0o commented on #2388
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

I think 2nd and 3rd are already dealt with in the daily cronjob

On 5 November 2015 09:52:52 CET, abilashv <notifications@github.com> wrote:

-----BEGIN PGP SIGNATURE-----

iQJPBAEBCgA5MhxEYW5pZWwgUHJldXNza2VyIChNb2JpbGVLZXkjMikgPGYwb0Bs
aWJyZW5tcy5vcmc+BQJWOxlBAAoJEJMZKtVWOFzBmY4P/1nVW+t+GNbaGPURxcWp
utluVeIRGl00NG+Y2xcZps+MMFPvkp1U7/sKhRXEkHY+j1ZS

[2015-11-05 08:59] abilashv commented on #2388
Thanks for the reply f0o !
an option to clean old rrd files according to age will also be so useful.

[2015-11-05 09:36] Rosiak commented on #2388
:+1:
Should be integrated in the current daily job

[2015-11-05 09:38] abilashv commented on #2388
Awesome..Thank you Rosiak !!

[2015-11-05 09:51] f0o opened #2390 "Map widget cannot be resized"
Add some CSS or JS glue to allow resizing of the Map.

My attempt with re-setting the container's height via JS didnt work. Somebody with JS/CSS background should do it.

[2015-11-05 09:53] f0o commented on #2368
:+1:

[2015-11-05 09:59] betafork commented on #2367
we don't record a device reboot either?
Maybe just set it as at trigger as an alert option? After a period of time it resets and has to be triggered again?

[2015-11-05 10:05] laf commented on #2367
device reboot is done via uptime so that's easy as you just alert on anything with an uptime less than 24 hours.

Basing it on alerts also doesn't seem feasible as you are free to create alerts so we don't / won't know which alert to base this one.

I think the best you will get is using the alert history and us providing the ability to filter by date / time.

[2015-11-05 12:01] aauvinet opened #2391 "add devices by file"
Hello,

I am testing Observium and LibreNMS.
Libre NMS is very  good tools but i have a issue :

In Observium, it's possible to add devices by file.
It is not possible in librenms,  i don't find to make it.

Is it possible to add devices in LibreNMS ?

[2015-11-05 12:03] aauvinet commented on #2387
![librenms_pseudowire](https://cloud.githubusercontent.com/assets/15667014/10967831/a7f9d3da-83bd-11e5-893a-ba9eb72ff823.png)

[2015-11-05 13:27] laf commented on #2387
Would you be able to provide a dump of the pseudowires table so we can import it and test? Feel free to anonymise any data.

[2015-11-05 14:31] aauvinet commented on #2387
Hi,

Yes, I can.
There is not important data in the file.

Thanks,

André Auvinet
Département  des ressources numériques
Direction des Infrastructure de Services
Production / Reseaux & télécoms
Nantes Métropole et Ville de Nantes

Tour Bretagne - 29
44923 Nantes cedex 9
Tél. 02 40 99 93 59 / 06 75 25 04 18
Fax. 02 40 20 38 48

De : Neil Lathwood [mailto:notifications@github.com]
Envoyé : jeudi 5 n

[2015-11-05 14:50] Rosiak opened #2392 "Feature Request: Automatic group devices based on locations"
Just a quick thought.
Could be cool to be able to automatically(when activated ofc) create device groups based on location.

Say I have 4 devices, 2 in Berlin 2 in Munich.
The following device groups would be created:
EMEA->Germany->Berlin
EMEA->Germany->Munich

And include the listed devices.

[2015-11-05 14:57] Rosiak opened #2393 "Feature Request: Tree-like structure for navigating devices/groups"
Device Location/Group Tree structure, perhaps a widget or something(Not sure of the implementation but just a idea).

Example:
![lt3ai](https://cloud.githubusercontent.com/assets/6378934/10971699/d68df63c-83d5-11e5-9e73-572fe7c5c09c.jpg)

[2015-11-05 14:58] Rosiak commented on #2391
You can add devices through the web interface, and though the command line using the addhost.php file.

[2015-11-05 15:07] johngriegerjr commented on #2205
I was putting logfile($line); at the end of the syslog.php file previously, outside of the curly braces, which explains why I wasn't seeing anything in the /opt/librenms/logs/librenms.log. I didn't see the commented first line in the while statement (#logfile($line);) before. Anyways I was able to get the logfile() function to log to the librenms.log file.  Here is what it has in it.

1.1.1.1||loc

[2015-11-05 15:19] simonholmbring opened #2394 "Support for Wireless hardware controlled by a FortiGate Firewall"
I would like to see further support for Wireless Hardware controlled by a FortiGate Firewall.

Today FortiAPs are added/managed by FortiGate firewalls, and all interface statistics and counters are reported by the FortiGate (at least that's what it looks like when I look through their MIB).

But when polled by LibreNMS these interfaces don't show up.

[2015-11-05 15:29] zetarhopike commented on #2108
I had the same problem with a fresh install on Fedora 22. Downgrading the rrdtool package from 1.5.3 to 1.4.9 resolved the issue. The error I received was: RRDTool Output: ERROR: Unused Arguments "" in command : ...

[2015-11-05 15:29] aauvinet commented on #2391
Ok.
But it's for mass import ..
For example.
I would like imported more than one devices.
Five hundred.....

In observium. I can add hosts with argument a file.
In the file, there are all devices.
Line by line.
Add_host.php <file>

Not possible in livrenms

-------- Message d'origine --------
De : Søren Rosiak <notifications@github.com>
Date : 05/11/2015 15:58 (GMT+01:00)
À : librenms/librenms <li

[2015-11-05 15:35] f0o commented on #2108
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

I think you must specify the rrdtool version if you're over 1.5 because rrdtool has some non-backwardscompatible changes.

On 5 November 2015 16:29:27 CET, CWP <notifications@github.com> wrote:

-----BEGIN PGP SIGNATURE-----

iQJPBAEBCgA5MhxEYW5pZWwgUHJldXNza2VyIChNb2JpbGVLZXkjMikgPGYwb0Bs
aWJyZW5tcy5vcmc+BQJWO3cZAAoJEJMZKtVWOFzBzHAQAKILEzQhnYYWz8Sl

[2015-11-05 15:42] RichiH opened #2395 "Can't sort based on status (or vendor) on https://host/devices"
16:38:36 < RichiH> also, why can't i sort on status in /devices/type=network/ ?
    16:40:09 <@f0o> prolly a bug
    16:40:28 < RichiH> f0o: my mouse cursor is even blocked a bit
    16:40:35 < RichiH> with a small "no parking" icon
    16:40:51 <@f0o> make a github issue for it
    16:40:53 < RichiH> so i _suspect_ it's a feature, just not intended
    16:40:54 < RichiH> k

[2015-11-05 16:38] zetarhopike commented on #2108
I tried setting $config['rrdtool_version'] = 1.5; in my config.php and tested with rrdtool 1.5.3 again but the issue returned. Running with rrdtool 1.4.9 is an acceptable solution for my environment for the time being but I'd be happy to do further testing with 1.5.3.

[2015-11-05 17:28] Compizfox commented on #2108
Can confirm, my machine is running rrdtool 1.5.4.

I tried the same thing (I set `$config['rrdtool_version'] = "1.5.4";`) but that doesn't seem to solve anything.

I'm afraid downgrading rrdtool to an older version is non-trivial with Debian.

[2015-11-05 17:34] laf commented on #2108
Setting the version won't do anything other than when using rrdcached so don't worry about having to do that.

Compiling rrdtool from source is quite easy.

Otherwise I'll try and take a look at 1.5 tonight.

[2015-11-05 18:44] Compizfox commented on #2108
I see.

That's not the problem; I know how to compile something from source ;) The problem is that I have other packages installed that depend on rrdtool, so I can't simply remove the package because that will create dependency problems.

[2015-11-05 18:56] laf commented on #2108
No need to remove. You can compile into another directory and point rrdtool in config.php to the new version.

[2015-11-05 19:33] laf commented on #1904
@khobbits

Thanks. We've actually only just had a PR to remove the ^. Do you have your install in /opt/librenms?

https://github.com/librenms/librenms/commit/f52e7cb92ffc28447ba25c577c6e6eea1168409f

[2015-11-05 19:45] laf commented on #2391
@aauvinet

So you have to create a file something along the lines of:

hostname, v1, public

?

If so, why don't you just do:

/opt/librenms/addhost.php hostname v1 public

Then run:

`sh add.sh`

[2015-11-05 19:49] khobbits commented on #1904
Yep, I do.  I can't imagine many people actually would need to use the api, I'm only using it to register alert status with prtg (we're trying to go emailless and have a single alerting dashboard)

[2015-11-05 19:56] laf commented on #1904
I'll flag this to the other user and see if they can comment on why they removed the ^.

Thanks for fixing the bug, wouldn't say it's a major one as I know of a number of people using the API without issues they just must not use those particular filters. The API is still quite new / early in development, if you're starting to use it and find it doesn't do what you need then we'd love to see it im

[2015-11-05 20:13] #1792 closed

[2015-11-05 20:13] #2395 closed

[2015-11-05 20:14] laf commented on #1904
@paszczus would you be able to comment on this further. Your change and the one proposed by @khobbits conflict so we'd like to make sure we get the correct version for people to use.

[2015-11-05 20:16] aauvinet commented on #2391
Yes.
Good idea....
I don't think at this.
I will test tomorrow.
Thanks for this idea.

Envoyé de mon Galaxy Note 4 d'Orange

-------- Message d'origine --------
De : Neil Lathwood <notifications@github.com>
Date : 05/11/2015 20:45 (GMT+01:00)
À : librenms/librenms <librenms@noreply.github.com>
Cc : AUVINET Andre <Andre.AUVINET@nantesmetropole.fr>
Objet : Re: [librenms] add devices by file (#2391)

[2015-11-05 20:17] aauvinet commented on #2391
I close this issue

[2015-11-05 20:17] #2391 closed

[2015-11-05 20:29] paszczus commented on #1904
@laf thanks for asking me. I have tested this and with "^" API is not working. I am unable to get nodes for oxidized with ^. I have just tested this again, so please don`t add it to docs.
I am using debian 8.2 with nginx.

[2015-11-05 20:35] laf commented on #1904
@paszczus Ok so it should be as @khobbits has said:

`rewrite api/v0(.*)$ /api_v0.php/$1 last;`

Unless I misunderstood you?

[2015-11-05 20:36] paszczus commented on #1904
Yes, my current config (which should be already in docs?) is like that:

rewrite api/v0(.*)$ /api_v0.php/$1 last;

[2015-11-05 20:38] #2360 closed

[2015-11-05 20:39] paszczus commented on #1904
yep, it`s already in docs but for RHEL/CentOS

https://github.com/librenms/librenms/commit/f52e7cb92ffc28447ba25c577c6e6eea1168409f

[2015-11-05 20:50] laf commented on #1904
@paszczus you're right. Sorry for bothering you.

@khobbits the docs show the example without the ^ for the CentOS install guide, have you seen docs elsewhere? If you are looking at your local install then it's because you will need to update. The docs were updated about 4 weeks ago.

[2015-11-05 21:59] khobbits commented on #1904
Yep, I installed about 6 weeks ago.
I fixed the bug loudly, and the master branch is correct.  The examples in this thread above, without that change will not work at, and will return 404 errors.
I was just leaving a note in case this example was copied to docs without that update.

[2015-11-06 11:11] aauvinet opened #2398 "Poll FDB tables and allow searching for MAC addresses"
Hello,
I have the same issue :+1:
Poll FDB tables and allow searching for MAC addresses #1196

I have lot of Cisco switch, I need to find @mac of host / port / vlan , for exemple personal computer...

In observium, it's possible and it's very well.

see the picture

20151106 Rosiak:
Removed obs... picture

[2015-11-06 11:23] vizay commented on #2216
From an organizational point of view I'd say it's very logical if the admin can specify a shared dashboard as the default dashboard for new users (i.e not private and not editable).

In addition to this, an option for each specific user to change their default dashboard to something else (if allowed by the admin) would give full flexibility around the dashboards.

New users wouldn't have to hit a

[2015-11-06 13:48] Rosiak opened #2399 "Enhancement: Incorporate RRD file cleanup in daily.sh"
Make some kind of retention setting on RRD files, and cleanup these if needed.

[2015-11-06 13:50] Rosiak opened #2400 "Enhancement: Provide config example for daily InnoDB stuff"
Provide an config example with calculated value in the message.

[2015-11-06 16:50] Rosiak commented on #2398
Please don't post material from obs..., I've just removed the picture from your post.

[2015-11-06 16:56] Rosiak commented on #2400
Fixed #2401

[2015-11-06 16:56] #2400 closed

[2015-11-06 18:48] fran-nlt commented on #2394
+1

[2015-11-07 12:07] mitkodotcom opened #2402 "Billing details for previous billing periods - only for traffic data, but not for 95-th percentile"
Hello,

It seems there is no practical way to display the 95-th percentile billing for any previous month, only for the current one. If you wish to bill your customer, you have to be awake on the last date of the month at 23:59:59 in order to capture the Monthly View. Quite annoying for 31-st of December ...

If you click on Ports / Traffic Bills / Previous Billing Period, you can see the bill for

[2015-11-07 12:07] mitkodotcom opened #2403 "Limiting users' access to plugins"
Hello,

If I create an account for a client to monitor its usage, the user has unlimited access to the Weathermap and Vlan_Search plugins, which both reveal too much private and sensitive information. Is it possible to limit client's access to the entire plugin system until the plugins are mature enough to take into consideration users' access rights to devices and ports?

Regards,
Mitko

[2015-11-08 11:25] markuspachali opened #2404 "Feature-Request: Support for Sophos UTM Firewall Appliance"
Hi all,
are there any plans to support Sophos UTM Firewall appliances (virtual and/or physical edition)? At the moment the boxes are discovered as normal Linux servers.
Best regards,
Markus

[2015-11-08 11:31] laf commented on #2404
If it's just detection then please link to the output of:

./discovery.php -h HOSTNAME -d -m os
./poller.php -h HOSTNAME -d -r -m system,os

Using dpaste.de

[2015-11-08 11:39] markuspachali commented on #2404
Output from discovery.php:
https://dpaste.de/S0t6

Output from poller.php:
https://dpaste.de/9TaJ

I hope that helps.

[2015-11-08 12:48] markuspachali commented on #2205
If it helps:
I'd the same problem. In Cisco IOS the name of the "application" starts with a "%", and it seems that somewhere in the processing chan syslog-ng -> PHP-Script of LibreNMS -> MySQL the "%" is handled in a way that causes the described problem. If I musst guess "%" is not escaped at a position where it should be.
To handle that I'd written a little filter in syslog-ng to replace every "

[2015-11-08 15:26] johngriegerjr commented on #2205
@markuspachali

Thank you Markus! Your work around has fixed the issue for now. I'm now seeing the syslog messages in the db and on the webpage. Here is what my '/etc/syslog-ng/syslog-ng.conf' file looks like for others that may need to do this.

@version: 3.5
@include "scl.conf"
@include "`scl-root`/system/tty10.conf"

\# First, set some global options.
options {
        chain_hostnames(off);

[2015-11-09 05:53] amitfocis opened #2406 "Windows Server SNMP polling issue -- disk total size & usage shown as '0'"
I've got serveral Win hosts in my environment. Ranging from Win7 to Windows Server 2012 R2.

LibreNMS seems to have some problems with a few of these win servers - specifically with the disk space. It returns as "0".

Here is the poller debug log: http://pastebin.com/65V4vCGS

Lines 143, 144 and 146 correctly pick up the 3 drives on the Windows Server. The 'array' starting at line 169 also correct

[2015-11-09 10:21] ehk20 opened #2407 "missing cpu/memory info for ubiquity unifi APs"
I've just migrated from Observium and the only slight regret is that we no longer get cpu and memory graphs for our APs. It appears these came via the FROGFOOT-RESOURCES-MIB which doesn't appear in LibreNMS so it would be nice if it could be added.

[2015-11-09 10:46] ehk20 opened #2408 "Arbitrary graph comparison view"
I realise this is a pretty major feature request but I have a suggestion which, from experience, can be a very helpful troubleshooting tool:

A generated view of on-the-fly user-select graphs sharing the same time axis. By this I mean a processes whereby the user can select any graph in a view for 'comparison', in a similar way you can on some shopping sites, and after done so for two or more grap

[2015-11-09 13:09] aauvinet commented on #2398
Ok, sorry

[2015-11-09 13:52] Alucardfh commented on #2218
I agree summarizing CPUs would be beneficial for the readability of the overview page.
And also should give a performance boost by having less graphs to render.

As you can see below having all the core on the overview just clutter the screen

![toomanycpus](https://cloud.githubusercontent.com/assets/1701397/11035229/db3aac46-86e8-11e5-8622-bc57407c0b76.PNG)

[2015-11-09 14:03] Alucardfh opened #2409 "Hide neighbours on interfaces by default"
Hi,

When an interface has a large number of neighbours, having the whole list displayed render the page quite difficult to read.

Would it make sense to have the list displayed in a block that can be toggled from hidden to visible by a clic or with a button ?

![interfaceneighbors](https://cloud.githubusercontent.com/assets/1701397/11035472/91d10f94-86ea-11e5-8b90-7ca3b16727ef.PNG)

[2015-11-09 14:08] Alucardfh opened #2410 "Make graphs use more space on large resolutions"
Hi,

Most of the rrd graphs render quite small on large resolutions.
It start to get quite noticeable from 1920x1080 but in 2550x1440 some graphs pages don't even use half the screen width.

Would it be possible to have the graphs scale according to the available space ?

![webuisizegraphs](https://cloud.githubusercontent.com/assets/1701397/11035584/477ca9b6-86eb-11e5-85d2-e92073e80e1f.PNG)

![web

[2015-11-09 18:34] sarcasym commented on #2224
I'm fairly competent with PHP and what I don't know I can make up.

[2015-11-09 21:51] Rosiak commented on #2404
On it.
Mailed Sophos regarding permission to use logo.
Will PR basic support tomorrow or Wednesday.

[2015-11-09 22:45] amitfocis commented on #2406
Also thought I'd add -- 24 hours later, there seem to be some sporadic data in the graph. It looks like data is collected a few times, but for the most part it shows 0%.
![untitled](https://cloud.githubusercontent.com/assets/12567648/11049052/72f22714-87a0-11e5-8a66-cbec1e507615.png)

[2015-11-09 22:58] paulgear commented on #1967
:+1:

[2015-11-10 20:34] masonke opened #2413 "netscaler-vsvr not finding the vservers"
Running virtual Netscaler version 11, which might be the problem. The netscaler-vsvr module is enabled, but the vservers are never discovered.

The Netscaler mib in the /opt/librenms/mibs is NS-MIB, the new one fromthe Netscaler is NS-MIB-SMIV2-MIB.
Ran ./poller.php -h my-netscaler-a -m netscaler-vsvr -d and it looks like something changed in the MIB
vserverEntry = No Such Object available on this

[2015-11-11 09:32] adammmmm opened #2415 "default.php front page not showing any output for "Global Read" accounts"
We're using the "old" default.php instead of tiles. The accounts of type "Global Read" don't see any output on Alertlog, Eventlog and the Up/Down boxes. Looked at default.php which seems to check the userlevel and making sure it equals or is larger than 10, while apparently Global Read is 5. So it should go for the "else" stanza, which doesn't seem to output any data in this environment.
![image00

[2015-11-11 09:44] adammmmm commented on #2415
Apparently even though it's called Global Read, I need to add device access for every device, which seems a bit weird, but at least it's a workaround.

[2015-11-11 11:47] Rosiak commented on #2415
May I ask why you are preferring the default.php over tiles.php?

[2015-11-11 12:08] adammmmm commented on #2415
Sure, first off, I can't find the same type of "Device Down/Device rebooted" widget in tiles, while the availability map sort of fills the same role, you still have to mouseover a red/orange square to find out which device is having a problem.
I also prefer the alertlog entries instead of the alert notifications that's used in tiles.php, takes less screen estate.
Finally, when trying to create a "

[2015-11-11 13:47] fran-nlt opened #2416 "DHCP APP Fortigate"
Hi
I have Fortigate with DHCP enabled.
In LibreNMS I can select a APP for the monitoring, but not viewed DHCP

![sin titulo](https://cloud.githubusercontent.com/assets/13962782/11092362/86f1463e-8861-11e5-9261-192baec5123f.jpg)

[2015-11-11 14:17] Tawmu commented on #2409
I agree. To be honest I didn't really see the benefit of this on a lot of our devices (firewalls/core switches) so the ability to disable it even would be good.

[2015-11-11 15:10] Rosiak commented on #2409
I agree too, doesn't make sense in big environments with overlapping subnets etc.

[2015-11-11 21:16] laf commented on #2409
We do have a config option to disable all of that:

`$config['enable_port_relationship'] =false;`

[2015-11-11 23:01] SaaldjorMike commented on #2407
Tomorrow I'll make sure I'll power on a UniFi AP and one of the following days take a look at this issue.

[2015-11-11 23:03] paulgear commented on #2408
:+1: That's a great idea.

[2015-11-11 23:12] paulgear commented on #2108
This is just a bug in how we call the graph; I'll PR up a fix shortly.

[2015-11-12 06:49] rgormley commented on #1882
@SaaldjorMike at the risk of sounding a novice, where are you disabling IPv6 in ESXi?

[2015-11-12 07:52] adammmmm commented on #2415
Just an update, the red Device Down box isn't coming up for Global Read even though device access is added for every device, the "Device Rebooted" are all appearing.

[2015-11-12 08:33] SaaldjorMike commented on #1882
@rgormley You can disable the ipv6-addresses discovery module by going to `/device/device=X/tab=edit/section=modules/` (replace X with your device ID) or by going to the device in the UI -> device settings -> Modules.

[2015-11-12 09:58] SaaldjorMike commented on #1274
Just stumbled upon this issue. Poller debug shows:
[code]
As stated previously, removing the .index file "resolves" the issue.

[2015-11-12 13:01] Tatermen commented on #1128
I've now gotten a spike on a port that's shutdown.
![spike](https://cloud.githubusercontent.com/assets/8707177/11118895/6c7aacdc-893d-11e5-957e-cb255efb1050.png)

[2015-11-12 18:44] #2407 closed

[2015-11-12 19:24] laf commented on #2416
@fran-nlt The apps are for installing check_mk on the end device but this doesn't include dhcpd support anyway. What is it you want to monitor from dhcpd?

[2015-11-12 19:34] laf commented on #2415
PR submitted.

The boxes and alert log are easy to add as widgets.

I've also done a PR to make the dashboard responsive which should fix the different sized windows.

[2015-11-12 19:39] #2415 closed

[2015-11-12 19:42] laf commented on #2413
@masonke Can you provide the NS-MIB-SMIV2-MIB file please?

[2015-11-12 19:56] fran-nlt commented on #2416
I would like to display the IP addresses that are available for assignment.

[2015-11-12 20:19] laf commented on #2410
@Alucardfh I can't see a way to do this presently. We use a lazy load for images so we have to specify the width and height to do that. We'd need the browser width in php to do a calc on what size to display which is only possible by passing the width via another ajax call.

@librenms/reviewers - thoughts?

[2015-11-12 20:26] Alucardfh commented on #2410
Could the resolution be retrieved at login and stored in session ?
This way it would be available from php.

[2015-11-12 20:29] laf commented on #2410
I guess we could but this seems a bit hacky and won't be useful when resizing the browser.

[2015-11-12 20:49] laf commented on #2406
@amitfocis can you provide us the output from:

[code]

[2015-11-12 22:04] paulgear commented on #2410
This is definitely something I'd like to see stay on our radar to improve.

[2015-11-12 22:05] paulgear commented on #2416
:+1:

[2015-11-12 22:19] paulgear commented on #2368
:+1: If people are asking for it...

[2015-11-12 23:57] laf opened #2424 "Filter alerts"
Add some filters to the /alerts/ page such as hiding ack'd alerts

[2015-11-13 10:34] ehk20 commented on #2407
Can confirm these graphs are now back.

[2015-11-13 18:18] nenad007 opened #2426 "Application updated fails"
When I select a application to monitor the Query exeucted is:

INSERT INTO `applications` (`device_id`,`app_type`) VALUES ('1','nginx')

This fails, because the table require for app_status and app_instance a Value that is not null.

016.sql > ALTER TABLE  `applications` ADD  `app_status` VARCHAR( 8 ) NOT NULL ;
067.sql > ALTER TABLE `applications` ADD COLUMN `app_instance` varchar(255) NOT NULL;

[2015-11-13 18:27] f0o commented on #2426
we should fix the query to include empty string values instead of NULL.

On 13 November 2015 19:19:00 CET, Nenad <notifications@github.com> wrote:

[2015-11-13 18:47] khobbits commented on #1328
I've got a mx-sx1400 and it appears to be working fine on the surface, but looking at the graphs, show something completely different.

This is the graphs from a link between the mellanox and another device
Mellanox:
http://i.imgur.com/ZRmC7of.png
Other device:
http://i.imgur.com/2Rre9n1.png

The Mellanox poller seems to be fine:
http://i.imgur.com/NlsKXDH.png

[2015-11-13 20:21] nenad007 commented on #2426
fixed:

ALTER TABLE applications MODIFY COLUMN app_status VARCHAR( 8 ) DEFAULT '';
ALTER TABLE applications MODIFY COLUMN app_instance VARCHAR(255) DEFAULT '';

[2015-11-13 21:38] masonke commented on #2413
[NS-MIB-smiv2_mib.txt](https://github.com/librenms/librenms/files/34383/NS-MIB-smiv2_mib.txt)

[2015-11-13 21:38] masonke commented on #2413
Here you go

[2015-11-13 21:45] nenad007 opened #2427 "agent-port per host feature"
Is there any plan to add agent-port per host?

The purpose to this is to parse the information of servers behind
local networks with one single Public IP and a Firewall where I could do port forwarding.

Actually I do NAT/port forwarding to get different snmpd ports for every
server on one IP, but I cannot use unix-agent.

Or is there another way to catch this?

[2015-11-14 02:32] adaniels21487 commented on #2168
Hi Rosiak,
I have been looking at this too. I was thinking:
- Small Screens - Icon only - Wrap the label in a div with hidden-sm
- Medium Screen - Text only - add hidden-md to the icon
- Large Devices - shrink the left/right padding on .nav>li>a to 12px. At the moment we dont even fit on a large (1200w screen)

Thanks,
Aaron

[2015-11-14 02:52] paulgear commented on #2168
:+1: to that suggestion, @adaniels21487

[2015-11-14 06:08] paulgear commented on #2108
Actually, looks like this affects more than just RRDtool 1.5 - here's a UCD diskio graph from my server: http://libertysys.com.au/imagebin/ucd-diskio.png

[2015-11-14 06:33] paulgear commented on #2108
This seems to be the same root cause as the issues in #2092.  Not sure why the fix was reverted.

[2015-11-14 06:44] paulgear commented on #2092
@SaaldjorMike when was the fix reverted?  I'm looking through PRs and not finding it...

[2015-11-14 06:47] paulgear commented on #2092
Ah - found it in 54db5be7f10cd20f6c391f2b6c31c97a0cbec2c6

[2015-11-14 12:44] joseaugustocardoso commented on #1475
any luck?

[2015-11-14 12:46] joseaugustocardoso commented on #2196
sounds very good.
Share with us the progress. :)

[2015-11-14 17:52] rkojedzinszky opened #2429 "Selecting a node on map when librenms is reachable under an URI fails"
Our librenms installation is reachable under http://server/librenms/, and with that selecting a node on visualized map redirects to the root. Of course that fails.

[2015-11-15 14:33] joseaugustocardoso opened #2431 "High CPU"
A virtual setup with 8 CPU core (2.0 GHz) and 16GB RAM for "only" 200 hosts can be performance issue?

Have moments that all 8 cores are with 100% of usage.

Its normal?

(https://cloud.githubusercontent.com/assets/15846428/11169118/0514c5b4-8b95-11e5-95bb-9da981aa480c.png)

[2015-11-15 19:26] SaaldjorMike commented on #2431
Load seems quite high. What is your total poll time? (Can be found at `/pollers/tab=pollers/`)

[2015-11-15 19:42] Rosiak commented on #2404
@markuspachali - can you please repost the pastes, they've expired :(

[2015-11-15 20:17] joseaugustocardoso commented on #2431
Poller Name	Devices Polled	Total Poll Time	Last Ran
RIO-SRMG-0603	201	2454 Seconds	2015-11-15 18:15:56

(https://cloud.githubusercontent.com/assets/15846428/11170769/2abd8d16-8bc5-11e5-9d0f-0fffb15e056c.png)

[2015-11-15 20:20] joseaugustocardoso commented on #2431
My environment have more 400 devices, totalling 600, but if I have problem with 200, I cant add more...

[2015-11-15 20:21] SaaldjorMike commented on #2431
That is for sure the problem. The poller runs every 5 minutes (300 seconds), and it seems like your poller takes more than 30 minutes to finish. What does the `/poll-log/` page show you? Are there any particular devices that are very slow to poll? Need to make sure polling time is below that 300 seconds mark, which can be done by either adding more cores and/or by disabling polling modules you don

[2015-11-15 20:31] joseaugustocardoso commented on #2431
I can identify that are very slow (up to 900sec) was device with a lot of components, eg. Cisco Catalyst 6500, Nexus 5000 and 7000, Cisco 2900 with a lot of voice cards, Nexus 1000v. Other "simple" devices are fast to poll. I will try to disable polling modules.

[2015-11-15 20:32] joseaugustocardoso commented on #2431
Have a way to do that for all devices? (disable polling modules)

[2015-11-15 20:34] SaaldjorMike commented on #2431
You can disable poller modules globally. See more on: http://docs.librenms.org/Support/Poller%20Support

[2015-11-15 20:43] joseaugustocardoso commented on #2431
If I disable globally, can I enable for specific device latter?

[2015-11-15 20:54] f0o commented on #2392
:+1:

This sounds like something I can do while idling at the airport tmr. I'd group by comma seperated field in the sysLocation (and overrides). That good?

[2015-11-15 22:05] laf commented on #2431
Yes you can

We poll all those device types with no issues on time.

[2015-11-16 10:03] paszczus opened #2433 "Change the way alerts works"
Hello,
I am using LibreNMS for a month and the only thing which drives me nuts is alerting system.
When one of device goes offline for few hours i`m getting e-mail about it every X minutes (by default  minutes). I have change it to 15 minutes but still there are many e-mails if device is down for a day.
Alerts are sent to gmail account and it looks like gmail is blocking e-mails for a time if ther

[2015-11-16 10:30] SaaldjorMike commented on #2433
You can set "Max alerts" to however many alerts you would like. AFAIK, we do not currently have a way to send alerts with different intervals for the same alert.

[2015-11-16 16:25] masonke opened #2435 "Expensive Query"
The DBA I am working with tells me that we are hitting this query a lot.

SELECT COUNT(DATETIME) FROM `eventlog` AS E LEFT JOIN `devices` AS `D` ON `E`.`host`=`D`.`device_id`
Its not using a proper index and is being called very often.
Anyone have an idea what that is for, or how to track it down?

[2015-11-16 16:29] f0o commented on #2435
Ask your DBA what the best index col would be for that sort of query and we'll push a schema update :)

On 16 November 2015 17:25:27 CET, Kevin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-11-16 21:22] masonke commented on #2435
Will do!
~KEM

[2015-11-16 21:33] laf commented on #2435
Should be a simple one this, swap DATETIME for event_id as that's indexed already. Let me find this query.

[2015-11-16 21:40] Rosiak commented on #2168
@adaniels21487 Sounds reasonable!

[2015-11-16 21:57] laf commented on #1650
@librenms/reviewers we really need to push on with a decision one way or the other.

It has my +1 as we have a number of areas that don't store info in the DB but could do.

[2015-11-16 22:04] Rosiak commented on #1650
:+1:

[2015-11-16 22:19] #2092 closed

[2015-11-17 02:47] vectr0n opened #2440 "Global Alert Rules"
I created a global alert rule and it showed under the global alert rules as it should, but it did not show under all the devices like a global rule should. I deleted the global alert rule and re-added it, now the rule shows under each device, but does not show under the global alert rules.
Here is a ss of the rule being added: http://i.imgur.com/4vCqawm.png

[2015-11-17 05:09] f0o commented on #1650
:+1:

On 16 November 2015 23:04:53 CET, "Søren Rosiak" <notifications@github.com> wrote:

[2015-11-17 11:22] laf commented on #2413
Thanks, some of the fields have changed. Would it be possible to have snmp access to a device?

If not, can you at least provide the output from the below but if you replace mibs/NS-MIB with the one you've linked to.

`/usr/bin/snmpbulkwalk -v2c -c mycommunitystring -OQUs -m NS-ROOT-MIB -M /opt/librenms/mibs -t 1 -r 5 udp:my-netscaler-a:161 vserverEntry`

[2015-11-17 11:53] masonke commented on #2413
Let me see what I can do with access, that might be tough.  I can grab the snmpbulkwalk later today.
~KEM

[2015-11-17 15:26] simonholmbring commented on #2394
Any comments on this? From what I can see in the latest mibs (newer than the ones shipped with LibreNMS), there is interface support for ap's controlled by a fortigate firewall. So basically I'm guessing these "just" needs to be classified someway to also show up in the inventory and LibreNMS?

[2015-11-17 15:40] laf commented on #2433
Tagging #1314

This functionality is already planned afaik. I'm closing this issue but it's now referenced for f0o in the issue number he's tracking.

[2015-11-17 15:48] laf commented on #1475
If someone can provide a full rrdtool export of a ports rrd we can take a look.

[2015-11-17 17:47] Compizfox commented on #2108
@paulgear: Thanks, https://github.com/librenms/librenms/pull/2430 succesfully fixed the problem.

[2015-11-17 17:52] #2108 closed

[2015-11-17 19:00] HostioSolutions opened #2446 "Can't remove interface by bill"
Some bill ports will random duplicate and can't remove see:
https://i.gyazo.com/70fa41e47ff547938561626be5928e8d.png

[2015-11-17 19:41] laf commented on #2446
What browser are you using @HostioSolutions?

[2015-11-17 19:43] HostioSolutions commented on #2446
Chrome but on IE still not working.

Do you have skype i can show you ?

[2015-11-17 20:05] SaaldjorMike opened #2447 "Support for LigoWave Infinity series"
Got a working version ready, but currently waiting for an answer from the vendor regarding the use of their logo.

[2015-11-17 20:15] laf commented on #2446
I don't use it I'm afraid. What version of LibreNMS are you using? Either check /about/ page in webui or git log -n 1 in cli.

[2015-11-17 20:23] #2431 closed

[2015-11-17 20:29] HostioSolutions commented on #2446
LibreNMS is an autodiscovering PHP/MySQL-based network monitoring system.
Version	6e1e6b6
DB Schema	#75
Apache	2.4.7 (Ubuntu)
PHP	5.5.9-1ubuntu4.14
MySQL	5.5.46-0ubuntu0.14.04.2
RRDtool	1.4.7

[2015-11-17 20:39] laf commented on #2446
That's recent enough. We'll take a look but an initial check with Chrome earlier and I couldn't replicate the issue.

[2015-11-17 20:40] joseaugustocardoso opened #2448 "SNMP Communities dont work when begin with #"
SNMP v2 dont working when community have # on begin of string.

[2015-11-17 20:43] #2427 closed

[2015-11-17 22:00] #2426 closed

[2015-11-17 22:22] regnauld opened #2449 "Problem with xDP autodiscovery of devices, even when they have DNS names"
On a test network with some dynamips instances, we have 9 7206 instances. They all see each other as CDP neighbors, and both the canonical and interface names resolve (so do reverse). But even after adding one of the devices into LibreNMS, subsequent discovery doesn't pick up the neighbors.

Running discovery with -m discovery-protocols -d hinted that something was wrong:

Discovery by IP disabled

[2015-11-18 00:36] SaaldjorMike commented on #2092
Not sure we're there yet, as there are still "STACK" text in the bottom of my graphs. Here's some examples:
https://i.imgur.com/KpanUvY.png - Interface Errors
https://i.imgur.com/cpG4Xmw.png - Interface Non Unicast
https://i.imgur.com/nTW8jpR.png - device_bits graph

[2015-11-18 06:27] vectr0n commented on #2440
It would seem disabling memcached resolves this issue, but someone might want to look into this issue a bit more.

[2015-11-18 10:53] cultcom opened #2451 "API feature request: list devices by "Device Groups""
I defined some device groups for our network equipment and would like to have an API path to request those devices.

[2015-11-18 11:17] cultcom opened #2452 "Active Directory nested groups not working"
with "active_directory" authentication nested group membership seems to be ignored.

User is in group A

Group A is in Group "APP_LibreNMS_User"

$config['auth_ad_groups']['APP_LibreNMS_User']['level'] = 5;

--> does not work.

[2015-11-18 12:31] SaaldjorMike commented on #1650
I don't have any problems with this, and seems like the general view is :+1:

@paulgear had a few comments previously, so think we should let him come with his view on this.

[2015-11-18 12:55] SaaldjorMike opened #2453 "Transparent graph background on overlib graphs of minigraphs"
Going to `/device/device=210/tab=ports/view=minigraphs/graph=bits/` will show larger graph when mouse is over the mini-graphs. The graph background seems to be transparent instead of white.

[2015-11-18 16:02] SaaldjorMike commented on #1417
I still receive comments regarding the issue where my friend needs to change the rule to exclude specific servers from the alert rule. This is not a nice way to exclude some devices from what would else be global rule for all other devices.

[2015-11-18 16:25] SaaldjorMike opened #2454 "Alerts widget sorting"
It would be nice if one could specify the sorting of the alerts in the widget. Each time the widget updates/refreshes it shows the newest alerts in the top, but it would be nice to be able to sort by severity instead of just the timestamp to make sure critical alerts are in the top instead of being moved down the list by warnings.

[2015-11-18 19:22] #2051 closed

[2015-11-18 22:39] #2016 closed

[2015-11-19 00:04] vectr0n opened #2459 "Feature Request: Device Flap Detection"
I think it would be helpful for a lot of people if LibreNMS is able to detect a flagging device and not complain about that device taking a long time to poll, this is due to the device flapping. Have the ability to send alerts for a device that is flapping would be handy.
.

[2015-11-19 00:36] paulgear commented on #1834
Thanks for reporting back, @Tawmu!

[2015-11-19 00:36] #1834 closed

[2015-11-19 10:59] SaaldjorMike commented on #2453
Same goes for `/routing/protocol=bgp/` when hovering over the local+peer ip address.

[2015-11-19 11:00] Alucardfh commented on #2409
Ok, that's a suitable workaround if you are not interested at all in this feature.

I have made a PR #2460 to show a way of doing what I suggested.

[2015-11-19 14:22] Alucardfh commented on #2410
Ok I gave some thoughts on this and tried using an ajax call to store browser width and height in session in this PR #2461.

I only worked on print-graphrow.inc.php as it was the most obvious for me to start with.

The formula I used to calculate the width of each graph might need tuning.

[2015-11-19 20:36] regnauld commented on #2449
A fix was committed, resolving the issues.

[2015-11-19 20:36] #2449 closed

[2015-11-19 21:49] vectr0n opened #2463 "Alerts Widget"
I have come across a cosmetic error in the alerts widget. The box does not extend down to the bottom of the alerts like it should, please see screenshot.
http://i.imgur.com/h8lgWNZ.png

[2015-11-19 21:51] #2153 closed

[2015-11-19 21:54] murrant opened #2464 "Expose a group in the api for Oxidized"
I'm looking for a way to expose a single group for each device in the api to oxidized.  The goal is to be able to set authentication in Oxidzed for groups of devices.  To do that I need a group defined, right now they are all just default.

The problem is oxidized allows only one group per device and LibreNMS allows many.  We could have documentation that specifies specific naming of groups such a

[2015-11-20 14:14] Tatermen commented on #1865
Wrote a fix, pull 2466.

[2015-11-20 14:14] #1865 closed

[2015-11-20 14:18] laf commented on #1865
Thanks @Tatermen :)

[2015-11-20 14:21] svennd opened #2467 "proxmox application issue only one VM"
After activating the linux agent and proxmox app. I did not receive any info on my proxmox machine.

line 44 librenms/includes/polling/applications/proxmox.inc.php

`if (count($pmxlines) > 2) {`

As far as I understands this checks if there are any VM's, now I have one VM that is part of a cluster of proxmox machines. We generally only use containers, (hence the single VM).

The telnet client retu

[2015-11-20 19:36] #2168 closed

[2015-11-20 21:13] x3m commented on #2459
+1

[2015-11-20 21:17] x3m opened #2472 "Add message when acknowledging alert"
Hi,

Don't you think it's good to be able to add note/comment when acknowledging alert. Even to add multiple of notes/comments with timestamps.

This way rest of the team will be aware what is the situation about it and how things develop with the time.

I don't know why such simple feature is not available :) am I the only one that thinks it's good?

[2015-11-20 21:19] x3m commented on #2114
+1 for such feature.

[2015-11-20 21:28] Rosiak commented on #2393
https://github.com/jonmiles/bootstrap-treeview looks suitable for the job

[2015-11-20 22:42] vizay commented on #2459
+1 to the idea.

However on a more practical level, wouldn't it be hard to identify a flapping device if polling is done once every 300 seconds?

[2015-11-21 00:04] mayu30687 opened #2473 "Alert rules regexes not matching correctly"
Alert rule having the following expression ports.ifDescr ~ "Eth.*net" should match Ethernet. However  the rule fails to match the correct pattern.

Looking at the code in alerts.inc.php, the function GenSql which converts the configured alert rules into Sql queries.

The pretty_rule in that function expands "\*" in the alert rule to " * ". This breaks the regex pattern.
Presently if there is any "

[2015-11-21 08:00] f0o commented on #2473
The `*` character is reserved for arithmetic. It denotes Multiplication, hence why we suggest `@` as wildcard.

[2015-11-21 08:00] #2473 closed

[2015-11-21 08:04] f0o commented on #2459
@vizay :+1: that's exactly what I just thought of as well while reading OP

[2015-11-21 10:22] rasssta opened #2477 "Get alert notifications when muted alerts becomes better"
So, let's assume I have a switch where 3 ports are down since they are enabled waiting for the customer(s) to enable their end. When one of the customers enable their link I want to get a notification for this.

This is currently solved by modifying alerts.php with the following:
+    foreach (dbFetchRows('SELECT alerts.device_id, alerts.rule_id, alerts.state FROM alerts WHERE alerts.state != 2 &&

[2015-11-21 10:24] SaaldjorMike commented on #2472
:+1:

[2015-11-21 10:27] zamolxe opened #2478 "Cisco PIX not discovered properly"
For whatever reason the Cisco PIX running pixos 8.0 is reporting the sysDescr as following
```Cisco Cisco PIX Security Appliance Version 8.0(4)```
and discovery is expecting to start with "Cisco PIX"...
anyhow, here is the patch for fixing this issue
[code]
/Alex

[2015-11-21 10:29] SaaldjorMike commented on #2478
@zamolxe Will you be submitting a PR yourself?

[2015-11-21 10:31] rasssta opened #2479 "Bug in alerting, applies white spaces for some unknown reason"
The alert rule:
|151117 23:20:30| < rasm> %ports.port_descr_type = "core" && %macros.port_usage_perc >= "70" && %ports.ifType = "ethernetCsmacd" && %ports.ifDescr != "TGigaEthernet1/1"

The ifDescr, for an interface alarming, in the db:
|151117 23:22:58| < rasm>  ifDescr: TGigaEthernet1/1
|151117 23:23:01| < rasm> from the db

Running debug...
|151117 23:23:43| @laf rasm: If you run ./poller.php -

[2015-11-21 10:38] zamolxe commented on #2478
@SaaldjorMike I would prefer that someone else will do it as I am not so familiar with this process for the time being.

[2015-11-21 10:50] #2478 closed

[2015-11-21 10:52] laf commented on #1048
Think this still has a few more points that need working on (aside from branching out from just RIPE)

[2015-11-21 17:16] laf commented on #1996
Do we need to take anything from this issue or can we close?

[2015-11-21 17:17] laf commented on #1883
@XxPatrickxX Can you provide the check_mk_agents output?

proposing to close in 48 hours if we've not had any further info.

[2015-11-21 17:19] Diftraku commented on #1996
I'd say we can safely close this as resolved, just need to document it on the wiki/docs.

[2015-11-22 04:13] adaniels21487 commented on #2165
I am in the same boat.
Over at #2196 I am looking for somewhere to display the information. First I created my own tab 'Call Manager' when I hit this issue, no room.
Then I added it to the Applications menu, but it doesnt really belong there either as these seems to be components of the unix-agent.

My thoughts are fairly drastic. I think we could do with some major consolidation of the device men

[2015-11-22 04:16] vrillusions opened #2484 "Create a 'stable' branch that tracks latest release"
For people like me that don't want to live on the bleeding edge but have project auto update.  Some way to tell librenms "Autoupdate to the latest released version".  Few different ways of doing that.  I just mentioned making a new `stable` branch as that's the first thing that came to mind.  Also a quick search turned up a way to tell git to [checkout latest tag](http://stackoverflow.com/a/228572

[2015-11-22 07:41] f0o commented on #2484
No prob :)

[2015-11-22 07:46] f0o commented on #2479
The reason is `maths` :/
The `/` is reserved for the divider operation.

Feel free to suggest a workaround

[2015-11-22 07:48] f0o opened #2485 "rework update script, allow staged update for submodules"
I will rewrite the daily.sh to allow post-update operations in order to stage migration from subtree to submodules and also solve #2484

[2015-11-22 09:49] rasssta commented on #1823
Solved by issue #2465.

[2015-11-22 09:49] #1823 closed

[2015-11-22 12:57] hari2ulinux opened #2486 "Alerting rules"
HI,

I have installed librenms on my ubuntu machine. I am new to librenms. Can anyone provide  with examples to create alerting rules in librenms. Rules like alerting when swap, physical memory usage is above threshold, alerting when tunnel,port,system goes  down, alerting when cpu usage is high , alering when inbound and outbound traffic through particular port is high etc etc.

Also can be have

[2015-11-22 13:23] masonke commented on #2485
As a possible enhancement, could the script detect it is running on a distributed poller and only perform the git pull function?
~KEM

[2015-11-22 14:54] f0o commented on #2485
@masonke can do :)

[2015-11-22 18:00] #1996 closed

[2015-11-22 18:01] #2484 closed

[2015-11-22 18:02] #2485 closed

[2015-11-23 08:28] tobiasa1 opened #2488 "SLES distro detection"
Only kernel version is returned when running the distro detection script on SLES 11 SP3.
Expecting something like SLES 11 SP3.

Output from distro script:
[code]

Debug info:
[code]

[2015-11-23 10:09] laf commented on #2486
@hari2ulinux

If you add the generic alert rules we provide they should give you a starting ground for customising them to do what you need.

You can include links to the graphs - I'd suggest stopping by our IRC channel and asking in there. I know of one user who has done this.

[2015-11-23 18:38] Lonecrowe opened #2492 "Feature Request - Make Temperature Sortable"
The "Current" temperature needs to be sortable under Health/Temperature.  I know there are internal and external temps which make it a little confusing but sometimes its handy to be able to just click on the title heading to sort by that heading.  In most cases people will be looking for the highest temps.

Possibly even a sortable option to find the highest temp closest to its range max.

[2015-11-23 19:08] #2467 closed

[2015-11-23 19:31] x3m opened #2493 "Alert for IPMI module not reachable"
It often happens, when you need the IPMI module to access a server, it's not accessible...

How to actually get an alarm triggered when access/ping to IPMI module is no longer available?

[2015-11-23 20:31] murrant commented on #2464
This is the feature I'm looking to take advantage of in Oxidized.

"Introduce group level configuration for auth"
https://github.com/ytti/oxidized/commit/34af261b7928ba7d62496d2d87fbe64b1badc930

[2015-11-23 20:38] laf commented on #2493
What info do you see from ipmi in LibreNMS at present (I no longer have a box with it on to test).

[2015-11-23 21:12] x3m commented on #2493
Hi,

I'm still using observium as my main NMS and exploring LibreNMS as replacement so I still don't have running LibreNMS setup, but will soon have it.

Right now I've added one IPMI module to a server 192.168.0.103 in https://demo.librenms.org/ but nothing happened, although the credentials are pretty valid - I don't see anything happening related to that IPMI... Might be normal in the demo?

[2015-11-23 21:36] Rosiak opened #2494 "Feature Request: IPAM Integration"
- For NIPAP, PHPIpam or similar, using their API's.

[2015-11-23 21:45] laf commented on #2493
ipmitool needs installing which I expect it's not on demo. @f0o would you mind installing?

[2015-11-23 22:00] masonke commented on #2413
I am screwing this up somehow. With NS-MIB-SMIV2-MIB in /opt/librenms/mibs and ran
/usr/bin/snmpbulkwalk -v2c -c mycommunitystring -OQUs -m NS-MIB-SMIV2-MIB -M /opt/librenms/mibs -t 1 -r 5 udp:my-netscaler-a:161 vserverEntry

I ended up with this error

MIB search path: /opt/librenms/mibs
Cannot find module (NS-MIB-SMIV2-MIB): At line 11 in (none)
vserverEntry: Unknown Object Identifier (Sub-id no

[2015-11-23 22:13] laf commented on #2413
:)

use the command I sent across, the NS-MIB-SMIV2-MIB is just the name of the file, the actual MIB name is NS-ROOT-MIB

[2015-11-23 22:27] amitfocis commented on #2406
Hi,

It appears this is an issue with windows SNMP service becoming overwhelmed with multiple queries. Looks like it isn't as robust as say.. snmpd.

Please close this, this isn't a problem with LibreNMS.

[2015-11-23 22:33] masonke commented on #2413
Here you go

/usr/bin/snmpbulkwalk -v2c -c mycommunitystring -OQUs -m NS-ROOT-MIB -M /opt/librenms/mibs -t 1 -r 5 udp:my-netscaler-a:161 vserverEntry

returned
vserverEntry = No Such Object available on this agent at this OID

[2015-11-23 22:43] laf commented on #2413
:(

Any joy with us being able to get access?

[2015-11-23 22:43] masonke commented on #2413
Trying, may need to go through a webex session, if that would work

[2015-11-23 22:43] laf commented on #2406
We could possibly add some small delays to storage polling for windows?

[2015-11-23 22:50] masonke commented on #2413
Used snmpbulkget and it worked
/usr/bin/snmpbulkget -v2c -c mycommunitystring -OQUs -m NS-ROOT-MIB -M /opt/librenms/mibs -t 1 -r 5 udp:my-netscaler-a:161 vserverEntry

curConfigVservers.0 = 423
vsvrBindCount.0 = 785
vsvrSvcGrpBindCount.0 = 391
curConfigLbVservers.0 = 381
curConfigGslbVservers.0 = 0
totSpilloverCount.0 = 0
csPipolicyName = No more variables left in this MIB View (It is past the end

[2015-11-24 10:29] Alastair-VOIPUNLIMITED commented on #1380
any news on TRAP support? would anyone else find this useful? :)

[2015-11-24 11:07] RichiH commented on #1380
I would.

[2015-11-24 11:22] SaaldjorMike commented on #1380
:+1:

[2015-11-24 12:42] svennd commented on #2493
IPMI does work here (you get allot of extra info on the machines, hardware wise), though you get no alarm or error when connection (info) is not working, I could change my interface to 123.123.123.123 and it just said oke updated. (not a active ip here)

@x3m ipmi is about the same information as the last observium community version, though in observium they have upgraded the options so you can ch

[2015-11-24 13:58] fstern commented on #2452
So basically you have another group inside the APP_LibreNMS_User group?

[2015-11-24 14:22] tobiasa1 opened #2496 "Quanta LB4M detected as EdgeSwitch"
Hi,

My Quanta LB4M is being detected as an Ubiquiti EdgeSwitch.

Please let me know if you need any other output or snmpwalk access.

Snippet from snmpwalk:

[code]

[2015-11-24 15:41] x3m commented on #2493
I'm sure the IPMI will be working in LibreNMS, but what to do about Alarming when IPMI is not reporting/not reachable? What are the options to get this? Observium is not having it either AFAIK.

[2015-11-24 15:54] masonke opened #2497 "Add Real Time polling of interface errors"
It would make troubleshooting a lot easier if there was a way to watch a realtime graph of the errors on an interface.  For simple L1/L2 testing, we would not need to give access to the switch or router when SFP or cables need to be replaced.

[2015-11-24 15:56] jcounsell1222 commented on #2497
i second this. would make troubleshooting issues on an interface level much easier.

[2015-11-24 16:26] ciscoqid commented on #2452
This might help with nested group enumeration:

http://stackoverflow.com/questions/12313922/ldap-nested-group-filter-for-microsoft-ad

Mark

--
Mark D. Nagel, CCIE #3177 Emeritus <mnagel@willingminds.com>
Principal Consultant, Willing Minds LLC (http://www.willingminds.com)
cell: 949-279-5817, desk: 714-495-4001, fax: 714-844-4698

** For faster support response time, please
** email support@willi

[2015-11-24 17:31] cultcom commented on #2452
@fstern: yes, that is a quite typical role mapping schema

@ciscoqid: that filter is working quite well for old 2.2 apache ldap filter, but I don't know how it could help me with the librenms config

[2015-11-24 17:34] laf commented on #2493
@x3m I've just taken a look and we store the results in the DB for IPMI.

We don't however store the last timestamp in the DB, we could add an auto updating column that just updates to NOW() when an insert or update is run then you can base your rule on sensors that haven't updated in > 5m or something similar.

[2015-11-24 22:50] paulgear commented on #2497
:+1:

[2015-11-24 22:53] paulgear commented on #2115
The code & doc are pretty much ready to go, I think.  It's just waiting on the schema changes decision.  But I think we might be better off just pushing through the current outstanding PRs before dealing with the schema issue.

[2015-11-24 23:47] nenad007 opened #2499 "Feature request Agent for BIND 9.6.1+ stats server"
A agent for the BIND statistics server (since 9.6.1) would be great.

[2015-11-25 01:32] hari2ulinux commented on #2486
Hi Neil,

Thanks. Can you please provide links or some examples or faq to configure
alert rules.

Thanks in advance

On Mon, Nov 23, 2015 at 3:39 PM, Neil Lathwood <notifications@github.com>
wrote:

[2015-11-25 03:44] mail3dexter opened #2500 "Enhancement in alerting"
Alerting content doesn’t specify detailed information.
The initial alert nor the recovery alert doesn’t specify any details about the port which is recovered. It just gives generalized output.

Is it possible to separately specify or mark (bold/italic/color) the port which has caused this alert?

E.G.:

Device r1-jpr-sw1 recovered from Port Status
Changed (From Up --> To Down)
Severity: critical
T

[2015-11-25 05:39] f0o commented on #2500
Thats the default 'One-Size-Fit-All' template. You can define own templates and access all details from the incident as we do a snapshot of the db-tables when an incident happens.

We got that covered in the docs though, if you dont think they're usefull then please help us enhance them :)

[2015-11-25 05:42] f0o commented on #2488
Is there a sles_release or similar?

[2015-11-25 06:12] f0o commented on #2486
Rtfm ;)
http://docs.librenms.com/Extensions/Alerting/

When you have no rules and browse to the rules page there is also a big button that will create you a handfull of default rules

[2015-11-25 08:25] tobiasa1 commented on #2488
Yup:

[code]

[2015-11-25 08:53] locobox commented on #207
I'm a little confused, all I'd like to do is monitor services (either a specific services, some, or all services on a windows host/server).  Is this possible with LibreNMS?

I have an instance of Nagios doing this already, but I'd really like to replace nagios with LibreNMS--the only thing holding me back is the monitoring of services for my 130 Windows servers.

[2015-11-25 09:22] laf commented on #207
We support nagios service checks so in theory anything you can do with nagios you should be able to do with us. It's basic at present but does seem to work ok: http://docs.librenms.org/Extensions/Services/

I'd recommend you jumping on irc or creating another issue if you have issues as responses only show up to those who've subscribed here and check back.

[2015-11-25 09:54] x3m commented on #2493
Might do the job :)

[2015-11-25 12:04] fstern commented on #2452
Thanks, I'll have a look at this.

[2015-11-25 13:24] #2488 closed

[2015-11-25 16:09] Wickusb opened #2503 "Cisco CBQOS"
Hi

Can the developers please have a look to see if they can implement the cisco cbqos support module

[2015-11-25 17:18] f0o opened #2504 "Add `advanced Inputfield` to Alert-Rules for expert users"
Just a textarea or inputfield, nothing fancy, no UI interpretation - people using this are _required_ to know what they're doing

[2015-11-25 17:53] Rosiak commented on #2503
Hi,
Please see #1851

[2015-11-25 17:53] #2503 closed

[2015-11-25 17:57] Rosiak commented on #2496
Fixed #2498

[2015-11-25 18:02] Rosiak opened #2506 "Enhancement: Provide more alert rule examples"
For the docs.
Fire away!

[2015-11-25 21:03] hlmtre commented on #2506
// send an alert if the device is a server and the storage is above the warning level
%storage.storage_perc > %storage.storage_perc_warn && %devices.type = "server"

[2015-11-26 06:34] f0o commented on #2499
What's the gain?
Doesnt that server also just trigger rndc stats and present it in xml?

Thats the same source of information that we use now, parsing the xml than the bare source sounds like unecessary overhead to me

[2015-11-26 06:48] nenad007 commented on #2499
No, it's completely different, since 9.10 the old stats fromat v2 is no longer available, there exist only the new v3 format that can be accessed over statistics channel in xml or json format.

https://www.isc.org/blogs/bind-9-10-statistics-troubleshooting-and-zone-configuration/

[2015-11-26 09:48] nokoya opened #2507 "Sort by Traffic on device port page"
Sortable traffic in port page within each device.

[2015-11-26 15:00] fran-nlt opened #2509 "Alert for CPU and RAM"
Hi
I Can´t create alert for the CPU is over 80%
I Can´t create alert for the RAM is over 80%

Some help please

[2015-11-26 15:26] Wickusb commented on #1851
I see someone was working on this. Can we also verify the stats is the same as on observium and perhaps torrus

[2015-11-26 15:34] fran-nlt commented on #2509
Hi
The Alert of CPU is Work
But the RAM don´t work.

Some Example?

[2015-11-26 15:36] f0o commented on #2509
Memory:
`%mempools.mempool_perc >= "80" && %mempools.mempool_descr ~ "@irtual@"`

CPU:
`%processors.processor_usage > "90"`

These rules may only work for servers but they're a good start :)

[2015-11-26 15:43] fran-nlt commented on #2509
Thanks.
Look Please
Alert For CPU is Work

![1](https://cloud.githubusercontent.com/assets/13962782/11426450/2d201104-943b-11e5-8f72-152d944ce4fe.JPG)
![2](https://cloud.githubusercontent.com/assets/13962782/11426452/317757ee-943b-11e5-8689-2e7e137e008a.JPG)

[2015-11-26 15:47] f0o commented on #2509
I doubt the CPU alert will work, your processor_descr has an invalid value.

[2015-11-26 16:37] fran-nlt commented on #2509
@irtual@  but my image is Main Memory I must change for this @ain @emory??

[2015-11-26 16:43] fran-nlt commented on #2509
Thanks!
is Work!

[2015-11-26 16:50] fran-nlt commented on #2509
![1](https://cloud.githubusercontent.com/assets/13962782/11427780/989cf52e-9444-11e5-8fc6-dc0c999cf2cb.JPG)

[2015-11-26 19:08] #2509 closed

[2015-11-26 20:39] adaniels21487 commented on #1851
Hi @Wickusb,
I am unaware how this compares with other NMS as I dont use them but please feel free to try this out from https://github.com/adaniels21487/librenms/tree/feature/Cisco-CBQOS
if you can suggest any improvements I'd be happy to work them in.

Thanks,
Aaron

[2015-11-26 20:43] vectr0n opened #2512 "Muted Alerts"
It would seem that muted alerts do not clear themselves after the device has come back online. I had 3 alerts muted, and they did not clear till I unmuted them. All the devices have been back up and running for days now and graphing just fine. If you need any other information don't hesitate to ask.

[2015-11-26 20:48] adaniels21487 commented on #1650
Hi @paulgear,
Could you please supply your thoughts so we can get a resolution on this one way or the other.

I am planning a phase 2 which would look at adding performance data and performance threshold alerting but I dont want to spend too much time on it if the community is not interested.

Please let me know,
Aaron

[2015-11-26 20:49] Rosiak commented on #1650
I think we should get moving on this!
@librenms/reviewers

[2015-11-26 22:08] paulgear commented on #1650
I've looked at the diff of adaniels/librenms/issue-1650 against librenms/librenms/master, and it seems pretty clean; I think this is ready for a PR.  There's not really any overlap with MIB-based polling as it stands; the two may be able to use each other's services in future.

[2015-11-27 05:44] Wickusb commented on #1851
Hi @adaniels21487

Sorry to be asking seeing as im new to git. How can i merge only your cbqoq into the current version im using

thanks

[2015-11-27 06:55] f0o commented on #2509
:+1:

[2015-11-27 06:56] f0o commented on #2499
Legit, will dig into it

[2015-11-27 06:58] f0o commented on #2440
Memcache has a 5minute retention time and isnt flushed on changes. This is likely the issue

[2015-11-27 06:59] #2368 closed

[2015-11-27 07:00] f0o commented on #2424
:+1:

[2015-11-27 12:32] adaniels21487 commented on #1851
Hi @Wickusb,
This has worked for me.

1. Add my git repository to your local repository, in this example I have called the repository adaniels:
```git remote add adaniels https://github.com/adaniels21487/librenms.git```

2. Pull the branch replacing local with what you would like to name the branch locally:
```git fetch adaniels feature/Cisco-CBQOS:local```

3. Checkout the branch:
```git checkout

[2015-11-27 13:09] SaaldjorMike commented on #2507
Tagging #2508

[2015-11-27 13:54] svennd opened #2514 "a slightly more intuitive /settings/sub=alerting/ page"
A "chevron" (aka this drops down) to the page /settings/sub=alerting/ would make it more clear there are options below each of the transports.

If I have some spare time I might have a look onto it, since I assume its only a minor change.

[2015-11-27 13:59] vectr0n commented on #2440
That's already been determined but thanks.......

-------- Original message --------
From: Daniel Preussker <notifications@github.com>
Date: 2015-11-27  1:58 AM  (GMT-05:00)
To: librenms/librenms <librenms@noreply.github.com>
Cc: vectr0n <k@kensim.net>
Subject: Re: [librenms] Global Alert Rules (#2440)

Memcache has a 5minute retention time and isnt flushed on changes. This is likely the issue

--

[2015-11-27 15:11] vectr0n commented on #2440
With the help from people on IRC, this was already determined to be the issue.

[2015-11-27 15:11] #2440 closed

[2015-11-27 16:18] HenocKA commented on #280
Hey @htam-net @laf !
No news about this feature-request ?

[2015-11-27 16:46] SaaldjorMike opened #2517 "Misplaced confirmation buttons on reset/delete for a bill"
See left part of the following screenshots:
Delete: https://i.imgur.com/n1uxSVr.png
Reset: https://i.imgur.com/kCWKgTK.png
They should be moved a bit to the right so the entire button is visible.

[2015-11-28 06:48] wizzycom commented on #2404
Hello. I am also interested on this.

[root@ares librenms]# ./poller.php -h 10.70.25.30 -d -r -m system,os
LibreNMS 2015.master Poller
commit 6e70c230831aa496987a9563cd01bfd4f7953956

DEBUG!
Starting polling run:

SQL[SELECT `device_id` FROM `devices` WHERE `disabled` = 0 AND `hostname` LIKE '10.70.25.30' ORDER BY `device_id` ASC] ./poller.php 10.70.25.30 2015-11-28 08:46:55 - 0 devices polled in

[2015-11-28 10:24] paulgear commented on #1883
Closing due to inactivity; please feel free to reopen when further information is available.

[2015-11-28 10:24] #1883 closed

[2015-11-28 10:30] paulgear commented on #2165
@adaniels21487 I think you're right in that a major change is necessary, but we need to be careful that a) it is intuitive and adds little inconvenience for existing users, and b) it preserves backwards compatibility for URLs, so that people don't have to change their bookmarks.

[2015-11-28 10:41] paulgear commented on #2492
:+1: It looks like temperature, fan speed, and voltage are all the old-style tables; we need to change them to use bootgrid.

[2015-11-28 11:20] #2507 closed

[2015-11-28 11:22] f0o commented on #2514
:+1:

[2015-11-28 11:26] f0o commented on #2500
Proposing close in 48h

[2015-11-28 11:26] f0o commented on #2494
:+1:

[2015-11-28 12:16] Rosiak opened #2518 "Feature Request: Unified way of doing real-time graphs"
Make a unified way to fetch real time data based on attributes in DB, much like the graph widget of today, but real-time.

Also, look at another graphing engine than the current one for real-time graphs, could use a refresh.

Tagging:
#2497
#593

[2015-11-28 12:22] Rosiak commented on #2506
VMware LAG
[code]

[2015-11-28 23:05] jeromeza commented on #1767
I'd definitely support this. Trying to add devices without SNMP and use the check_mk agent but I CAN'T as the device first needs SNMP... Seems very backwards.

[2015-11-29 05:54] x3m opened #2520 "Not getting CPU and Memory on Huawei switches"
Hi,

I'm not getting memory usage and cpu usage graphs for Huawei S6700 and S5710 devices. On observium that I was also testing I'm having those graphs.

What could be the reason?

[2015-11-29 09:19] f0o commented on #2506
High Memory:
`%macros.device_up = "1" && %mempools.mempool_perc >= "90" && %mempools.mempool_descr = "Virtual@"`

High CPU (per core usage, not overall):
`%macros.device_up = "1" && %processors.processor_usage >= "90"	`

[2015-11-29 09:25] f0o commented on #2518
Yes please

[2015-11-29 10:45] Rosiak commented on #2520
Probably the code that hasn't been written yet.
Could you please post the output of an SNMPWALK, I'll have a look then.

[2015-11-29 11:18] x3m commented on #2520
Done,

find attached file.
[snmpwalk-hua-s5710.txt](https://github.com/librenms/librenms/files/46566/snmpwalk-hua-s5710.txt)

[2015-11-29 17:11] nicearma commented on #280
Hello @HenocKA, this feature was implement in my libreNMS fork, because i changed of work i didn't have the time to make the all changes order by the community and test it. Normally someone of my old job is working on it (maybe is you). I don’t think i will work with this code anymore, because i didn't like how i ended it with them (is not the enterprise who ask me to do this, the problem is with

[2015-11-29 17:53] #2517 closed

[2015-11-30 09:21] HenocKA commented on #280
Yes, it's me and i am working on it. I just want to know if anybody else
was working on it.
Thanks Nicolas.

Le dim. 29 nov. 2015 à 18:11, Nicolas Armando <notifications@github.com> a
écrit :

[2015-11-30 13:59] bpetit opened #2521 "Python errors reported by mail"
Hi,

There are regular mail sent to librenms user on my librenms master instance:
[code]
I use a distributed poller in addition to the master instance. May be it's linked...

I'm using latest version of librenms on the master instance, commit 82272d0c8832d2f3ce3d4a369f95f7d09084038e

and commit b58c178f1bc1d4df9eb71ab177c99699809d6e43 on the distant poller.

Some graph are also never drawn, for ex

[2015-11-30 15:28] khobbits commented on #1328
Any idea on what this could be?  Since I'm seeing these weird spikes, i've had to disable alerts on this device, as the traffic is spiking past the speed of the interface.

[2015-11-30 16:46] compuguy commented on #2091
This would help with devices that do not have a resolved DNS domain (i.e. switches, routers, etc). That and showing the DNS and or sysname in the availability map widget.

[2015-11-30 17:34] laf commented on #1328
I have a PR in the queue that should fix this but it's not been merged yet.

[2015-11-30 17:36] laf commented on #2521
This looks like poller-wrapper.py isn't able to use distributed polling due to memcached. What happens when you run it manually?

[2015-11-30 17:39] murrant commented on #2187
The MIB at the URL above has been updated to include a proper enterprise ID.  Please update the MIB in LibreNMS and detection will work.  (I tested this on my local instance)

[2015-11-30 19:30] #2187 closed

[2015-11-30 23:07] digitalcohesion opened #2528 "Airfiber fixes for throughput and interface graphing"
Airfiber devices don't display throughput properly when graphed.

It seems using the default snmpwalk provides the wrong oids for the data we need.
I found something on the UBNT forum about using 64bit counters and these OIDs
rxOctets: .1.3.6.1.4.1.41112.1.3.3.1.6.1
txOctets: .1.3.6.1.4.1.41112.1.3.3.1.7.1

I'm not sure about those IDs specifically, but it does look like the right data is there so

[2015-11-30 23:41] khobbits commented on #1328
@laf that pr wouldn't address the fact I see zero traffic on the link between spikes would it? (Maybe I found the wrong one).
Compare the two interface screenshots to see what I mean.  Those are different sides of the same cable.

[2015-12-01 12:41] bpetit commented on #2521
On the distributed poller:

root@poller:/opt/librenms# ./poller-wrapper.py
Registered as Node joining Master myserver

INFO: starting the poller at 2015-12-01 12:35:21 with 16 threads, slowest devices first
INFO: worker Thread-3 finished device 49 in 4 seconds
INFO: worker Thread-4 finished device 50 in 5 seconds
INFO: worker Thread-2 finished device 51 in 12 seconds
INFO: worker Thread-1 finished

[2015-12-01 13:52] #2500 closed

[2015-12-01 14:20] f0o commented on #2512
Tested against upstream and cant reproduce :/
Checked the code and it doesnt bother about the alert status as long as it's not 0 (which means it's already resolved).

Can you give us any more info about it? (as much as possible)

[2015-12-01 14:34] f0o commented on #2521
The error within python's threading library concerns me. It's not an issue with distributed polling so not an issue with memcached (or it's availability) either..

this is reall odd... Best to jump on IRC and ask `job` who wrote the script about it. I dont speak native Python sadly :S

[2015-12-01 14:37] f0o commented on #2521
Naive interpretation of the error:

The Thread#17 (so 16th worker thread I guess?) Could not access the shared resources as the main thread already closed the queue and removed the resources.

Some python-guru might know it better though.

[2015-12-01 19:55] x3m commented on #2520
Did you manage to work on this?

[2015-12-01 21:10] Rosiak commented on #2520
Hi @x3m
Sorry I've been busy with work and personal stuff.
Won't be able to look at it before Sunday earliest.

[2015-12-01 22:42] laf commented on #2521
For the devices you are missing rrd files for can you pastebin the output from:

[code]

Also probably worth making sure both installs are on the same version to be safe.

[2015-12-01 22:43] laf commented on #2520
@x3m what would be helpful as well is the output of:

[code]

[2015-12-02 07:34] thepacmanfan opened #2532 "Smokeping integration fails when smokeping is configured for less than 20 pings"
If smokeping is configured for less than 20 pings, the integrated graph drawing fails on the first nonexistant ping data. For instance, if smokeping is configured for 10 pings, graph drawing will fail with "ERROR: No DS called 'ping11' in '/path/to/data.rrd' "

[2015-12-02 07:43] paulgear commented on #2532
I've run into this before and will sort out a PR shortly.

[2015-12-02 09:14] kreggz opened #2533 "Feature Request: Checkpoint Gaia OS Support"
Checkpoint 21700 and Management servers are being detected as Linux

I am assuming because it sees a linux kernel then it must be a server
2.6.18-92cp
2.6.18-92cpx86_64

[2015-12-02 09:36] bpetit commented on #2521
Of course:

./discovery.php -h switch3 -d

[test-discovery.txt](https://github.com/librenms/librenms/files/49520/test-discovery.txt)

./poller.php -h switch3 -d -r

[test-poller.txt](https://github.com/librenms/librenms/files/49536/test-poller.txt)

One thing I didn't notice earlier is the stderr output:

MIB search path: /opt/librenms/mibs/junos
Cannot find module (NOTIFICATION-LOG-MIB): At line

[2015-12-02 10:57] samyscoub opened #2535 "Filtering into "Alerts" widget"
Hello,

is it possible to add a filter option into the "Alerts" Widget ?

This is very usefull when we have dashboards per datacenter and you want to add the current datacenter alerts into the correct dashboard.

[2015-12-02 11:01] #2514 closed

[2015-12-02 11:04] #2492 closed

[2015-12-02 11:26] SaaldjorMike commented on #2533
Hi @kreggz

Please provide output from the following (remove any sensitive data):
[code]

[2015-12-02 12:05] x3m commented on #2520
Hi,

here is the output of both.

[poller-results.txt](https://github.com/librenms/librenms/files/49693/poller-results.txt)
[discovery-results.txt](https://github.com/librenms/librenms/files/49692/discovery-results.txt)

[2015-12-02 13:57] #2410 closed

[2015-12-02 13:57] #2409 closed

[2015-12-02 16:33] ehk20 commented on #2187
It's now detected as 'Netonix' but it's not graphing cpu/memory and other interesting stuff (like fan speed, voltage and poe for example).

Espen

On 30 Nov 2015, at 17:39, Tony Murray wrote:

[2015-12-02 20:45] Rosiak opened #2540 "Feature Request: LifeCycle Management"
Reporting/Alerting/Tracking based on EndOfSales/EndOfService announcements.

An interface to navigate these informations, bootgrid or similar.

[2015-12-02 20:47] Rosiak commented on #2540
DB table info:
Date for EndOfLife,EndOfService,EndOfSupport etc.
Vendor
Model
Link(To announcement etc.)

[2015-12-02 20:48] laf commented on #2521
That shouldn't cause any issues.

I can see you are running rrdcached. Can you post your config for rrdcached + rrdtool (full info -> got to /settings/ in the webui and search for both that strings).

[2015-12-02 21:04] laf commented on #2520
@x3m

I'm hoping the tagged PR will fix this. Once it's merged if you can update and re-run a full discovery / poller for one of the devices and see that would be great. If it still doesn't work then we need another debug output again.

[2015-12-02 21:05] #2520 closed

[2015-12-02 21:20] laf commented on #2486
Please feel free to log onto our IRC channel and we can help further.

[2015-12-02 21:20] #2486 closed

[2015-12-03 10:18] starnetwork opened #2546 "Using Proxmox Plugin"
Hi,
few things regarding to Proxmox Plugin
1. I added $config['enable_proxmox'] = 1;
to the config file, but I still don't see anything that related to Proxmox Extension at External Settings / System plugins Pages
2. fixing for Agent setup:
cp check_mk_xinetd /etc/xinetd.d/check_mk
should be: cp check_mk_xinetd /etc/init.d/check_mk
3. now after Agent setup is done on Proxmox node, how I should add

[2015-12-03 11:02] bpetit commented on #2521
Yes:

On the master:

rrdtool	/usr/bin/rrdtool
rrdtool_version	 1.4
rrdcached_dir	.
rrdcached	127.0.0.1:42217
rrd_dir	/opt/librenms/rrd

On the distributed poller:

$config['rrdtool_version'] = 1.5;
$config['rrdcached']    = "myserver:42217";
$config['rrd_dir']	= "/opt/librenms/rrd";
$config['rrdcached_dir'] = ".";

This makes me remember I use rrdtool 1.4 on the master. During the setup it seemed

[2015-12-03 11:24] x3m commented on #2520
Yes,

after the last git pull, it's now working properly. Thanks.

[2015-12-03 11:31] laf commented on #2521
@bpetit Are you actually running rrdtool 1.5 on master (and the poller)? If not then you need to change the poller config to version 1.4 AND make sure the poller can access the rrd directory over a shared filesystem.

Or, ensure you are actually running rrdtool 1.5 on the master.

[2015-12-03 11:57] f0o commented on #2546
No 2. Is correct. It's a xinetd config not an initscript

On 3 December 2015 11:18:22 CET, starnetwork <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-12-03 12:00] laf commented on #2546
@starnetwork you need to add the device to LibreNMS as normal. The proxmox device needs to be running snmp. Once added, ensure in the device settings that the agent for polling is enabled and that you select proxmox from the applications list:

http://docs.librenms.org/Extensions/Proxmox/

[2015-12-03 12:04] starnetwork commented on #2546
are you sure?
root@server12:/opt/librenms-agent# cp check_mk_xinetd /etc/xinetd.d/check_mk
cp: cannot create regular file `/etc/xinetd.d/check_mk': No such file or directory
and also:
how /etc/init.d/xinetd restart will work if we didn't add it to the init.d in any step of the guide here: http://docs.librenms.org/Extensions/Agent-Setup/ ?

[2015-12-03 12:09] laf commented on #2546
You probably need to install xinetd

[2015-12-03 12:35] starnetwork commented on #2546
Hi,
thanks for that, installed, after that I added the Proxmox as snmp to the librenms
but it's add it as Generic x86 64-bit Linux 2.6.32-43-pve
I still don't see in the librenms gui any mention for Proxmox Extension at External Settings / System plugins or any other Pages, any reason?

[2015-12-03 12:47] bpetit commented on #2521
I was running rrdtool 1.5 on the poller, and rrdtool 1.4 on the master. I use rrdcached setup instead of a shared fs.

I just upgraded rrdtool to 1.5 on the master and have set the rrdtool version to 1.5 in config.php.

I'm not sure it may change anything. All faulty devices (the ones that lack rrd files) are polled by the distributed poller on which rrdtool was already in version 1.5 (and I had $

[2015-12-03 13:07] x3m commented on #2520
One, maybe small glitch is with the names of the CPU and Mem pools.

Here is screenshot from Obs, where the names seem more logical, and also from Libre, where the names are not ok.

![librenms names of cpuandmem](https://cloud.githubusercontent.com/assets/741774/11561350/889d86f8-99cf-11e5-846b-699004cd5cdc.png)
![obs names of cpuandmem](https://cloud.githubusercontent.com/assets/741774/11561349/

[2015-12-03 14:00] SaaldjorMike commented on #2520
Hi @x3m
I've removed one of your screenshots.
Please dont post pictures from obs. Try instead to describe what sort of behaviour you'd like.

[2015-12-03 14:02] x3m commented on #2520
Okay,

I'm expecting my Processors and Memory pools to have proper names, like "MPU Board 0" instead of the ones that is coming now "S6700-24-EI........" which is quite long.

[2015-12-03 15:45] mjsteckel opened #2548 "mib path error"
Might be a upstream bug in net-snmp-utils, but looks strange to me.

Note that snmpget can not find the specified MIB when the path is not included with the -m option.

Do I have something borked or is this something else?

---

[root@librenms librenms]# uname -a
Linux librenms.citywisper.co 3.10.0-229.20.1.el7.x86_64 #1 SMP Tue Nov 3 19:10:07 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

[root@librenm

[2015-12-03 18:12] starnetwork opened #2549 "Best way to Monitoring Hard drives in RAID Array"
Hi,
what is the best way to monitor Hard drives in RAID Array
I have branded Dell / HP / IBM servers from many models
I try to Install Dell OpenManage but I see only Temperatures and Fanspeed data
any suggestion?

Regards,

[2015-12-03 18:51] jcounsell1222 opened #2550 "LibreNMS interface error question"
Hey guys, i could not find anything in documentation about this but i was wondering if i could get some info here. i was looking at the interface error graph and trying to figure out why the count is so much higher than what the interface counter on the switch is. is there anyway to break down what the errors are in libre?

[2015-12-03 21:48] Rosiak opened #2553 "Enhancement: Sort device ports"
![yada](https://cloud.githubusercontent.com/assets/6378934/11575145/d8afb3f6-9a0f-11e5-9a6e-230cd34f297e.png)

[2015-12-03 21:52] Rosiak commented on #2550
Are you sure the number in the graph is not micro?

Like 800m

[2015-12-03 23:36] paulgear commented on #2553
What sort of device is that?

[2015-12-04 01:31] nemec2000 opened #2554 "Feature Request: Add a module to monitor Asterisk"
Please add the ability to monitor Asterisk servers. Here is an example that worked before
20151211 Rosiak - Link removed

[2015-12-04 07:58] samyscoub commented on #2424
:+1:

[2015-12-04 10:59] laf commented on #2548
I reckon that's an issue with the UBNT mibs If i'm honest :/

[2015-12-04 11:28] samyscoub opened #2556 "i18n usage and multi language translation"
Hello,

is it possible to add the i18n support into librenms for multi language feature ?

[2015-12-04 11:30] samyscoub commented on #2472
:+1:

[2015-12-04 12:20] x3m commented on #2472
Let's hope that some of the devs will implement it soon :)

[2015-12-04 14:02] Justmeccsn opened #2557 "Increase global search limit"
Global search does not display all the results, as it has a limit on the number of results displayed.

Can you please increase the limit, or make it easier for users to change the value via a global config option.

Thanks,
Cat

[2015-12-04 14:16] jcounsell1222 commented on #2550
so in our case its showing 3.6m. is that something that can be changed to a better number like a 1 to 1 ratio.

[2015-12-04 15:58] samyscoub opened #2559 "Add IP field into devices table even if hostname is DNS reachable"
Hi,

when you add the ```$config['mydomain']``` option into librenms config, hostname is filled with dns name and the IP address information is forgotten.

Into the Web UI, hostname is only visible with its DNS name.

Is it possible to change the Database model to add a 'ipaddress' field into the 'devices' table and display it into Web interface when this information is available ?

- When DNS nam

[2015-12-04 17:54] mjsteckel commented on #2548
I can easily believe that that is the case.Though it does seem a bit odd that the -M option does not work, but explicitly including the path to the mib with the -m option does. ie the following works
"-m /opt/librenms/mibs/UBNT-AirFIBER-MIB"

I am a complete newbie when it comes to snmp,.. so please forgive the basic questions...

How do the snmp utils maps the data received from a device to a dev

[2015-12-04 19:17] x3m commented on #2377
Hi,

more examples for the same issue are Mikrotik Routers and especially the VPLS tunnels.

Voting +1 for this feature.

btw, Obs. has it.

[2015-12-04 19:18] x3m commented on #2520
Can we do something about this, or if the issue remains closed, nobody will pay attention anymore?

[2015-12-05 09:20] SaaldjorMike commented on #2520
Hi @x3m, As this is a separate issue I'd open a new issue for what you describe.

[2015-12-05 11:10] flatterlight opened #2561 "cisco SG500 os and vendor don't get identified"
Librenms don't get the OS and vendor from Cisco SG500-28 switches.
latest librenms version, switch os: 1.4.1.3

if you need more information feel free to ask.

[2015-12-05 12:10] Rosiak commented on #2561
Just a note:
Works fine on SG300.

![screen shot 2015-12-05 at 13 10 16](https://cloud.githubusercontent.com/assets/6378934/11607697/8ffa11ae-9b51-11e5-8165-825709f0018c.png)

[2015-12-05 12:11] Rosiak commented on #2472
:+1:

[2015-12-05 13:55] flatterlight commented on #2561
with my sg220-26 it looks better

[2015-12-05 14:00] flatterlight commented on #2561
with my SG220 it looks better

![Uploading sg220.jpg…]()

[2015-12-05 21:13] f0o commented on #2472
:+1: might have chance to draft something tomorrow

[2015-12-05 21:25] f0o commented on #2550
@jcounsell1222 I'm not sure. The value you see is the rate over time, not an absolute datapoint. I think thats just how RRD is. But I might be mistaken

[2015-12-05 21:27] vectr0n opened #2562 "Feature Request: Date/Time stamp on notifications"
Hello,

I think it would be handy to be able to see the date and time of the notifications. Notices about updates could of been from days/weeks/months ago and people wouldn't have any clue if they missed the notification number change.

[2015-12-05 21:28] f0o commented on #2556
I'm sure its possible but it might be a long and big process. I wouldnt know where to start really :S

[2015-12-05 21:32] f0o commented on #2562
:+1: will add

[2015-12-06 05:39] paulgear opened #2563 "Allow sorting by address or description in IPv4 & IPv6 address search"
Currently it's disabled; I had a quick hack at this and couldn't come up with something I was happy with.  Will come back to it when I have more time.

[2015-12-06 05:42] paulgear commented on #2193
:+1: This is a good idea, and we could do a lot more with the nagios checks (a.k.a. services) if they were better integrated.  I'll have a look at this when I get a chance.

[2015-12-06 05:45] paulgear commented on #1622
@MauJFernandez PR #2536 has been submitted; some more details at https://groups.google.com/forum/#!topic/librenms-project/5Yo8slYxHwM

[2015-12-06 09:18] f0o commented on #2563
Search by address or subnet can be done with converting the ips to integers. Might be a pain to do now afterwards, afaik the ips are text at the moment

[2015-12-06 09:35] f0o opened #2564 "urlencode custom port-types"
I have a custom port-type with / inside, this is not being urlencoded so the link doesnt work.
Gonna pr a patch when coffee begins its magic

[2015-12-07 08:50] Tatermen commented on #2533
FYI, Check Point Gaia is based on Red Hat Enterprise Linux 5.2.

[2015-12-07 09:41] aauvinet opened #2567 "red marker on map issue"
Hello,

I have a issue with a red marker :
- On the first picture, we can see more devices down
- On don't see the red market on the map.

![librenms](https://cloud.githubusercontent.com/assets/15667014/11623633/8005d322-9cce-11e5-85b9-4195ce25fbb2.png)

When  I zoom on the map, I can see the red marker when device is down.

![librenms2](https://cloud.githubusercontent.com/assets/15667014/11623637

[2015-12-07 10:08] laf commented on #2546
@starnetwork You need to enable the proxmox plugin for the device, if you edit the device and go to applications (I think)

[2015-12-07 10:13] SaaldjorMike commented on #2567
If anyone were to pick this up, I'd suggest also making sure that groupings of devices are kept in a green colour if all is ok, and not change to yellow+red if there are many devices.

[2015-12-07 11:24] starnetwork commented on #2546
Hi,
you mean for?
cp /opt/librenms-agent/proxmox /usr/lib/check_mk_agent/local/proxmox
chmod +x /usr/lib/check_mk_agent/local/proxmox
I did it...

[2015-12-07 11:48] laf commented on #2546
Nope :)

You'll be better off jumping on irc for us to help. Freenode ##librenms

[2015-12-07 11:48] laf commented on #2546
Nope :)

You'll be better off jumping on irc for us to help. Freenode ##librenms

[2015-12-07 12:40] aauvinet commented on #2567
:+1:

[2015-12-07 14:50] clearmoon247 opened #2568 "Device summary widget shows 2 down ports when no ports are down"
When using either the horizontal or vertical device summary widget, it shows the ports down as 2, but when I click the link (/ports/format=list_detail/state=down/) to see the down ports, there are no entries.

![device_summary_2](https://cloud.githubusercontent.com/assets/3594299/11629843/77337b06-9cc8-11e5-8d25-20ead358df01.JPG)
![port-list-0](https://cloud.githubusercontent.com/assets/3594299/11

[2015-12-07 15:49] Kivit opened #2569 "VMWare ESXi 5.5 mempool info is stored in storage table"
LibreNMS is storing the memory related data inside mysql table "storage" instead of "mempool".
Hope I described my problem clearly enough. I'll try to answer if you guys have any questions.

2x servers running:
VMware ESXi 5.5.0 build-1331820 VMware, Inc. x86_64
1x server running:
VMware ESXi 5.5.0 build-2068190 VMware, Inc. x86_64
Hardware is different on all 3 (so it can't be hardware specific p

[2015-12-07 16:11] Kivit commented on #2569
Output for the mentioned 3 servers:

./discovery.php -h HOSTNAME -d -r -m storage
http://pastebin.com/UGqQg1Su
http://pastebin.com/H8ggRbwD
http://pastebin.com/tQkU4YEK

./poller.php -h HOSTNAME -d -r -m storage
http://pastebin.com/ikhufQC9
http://pastebin.com/ErhbmTez
http://pastebin.com/JbPi0xsz

Links are in order.

[2015-12-07 19:27] djtecha opened #2570 "Allow custom info to be added via API call to Notes section"
I was thinking it would be a really nice feature if I could craft a script that could be run on a client and update a field in librenms. For instance we have custom binary versions and I would simply like to be able to create a table with the SW and version number like so.

Puppet: 4.2
JDK: 7.0
MISC: 3.3

I was thinking this could just be a free form that leaves it up to the user to craft their sc

[2015-12-07 20:33] Kivit commented on #2559
I'd love to have hostname + IP address on the Web UI.

[2015-12-08 08:18] f0o commented on #2570
:+1:

[2015-12-08 08:19] f0o commented on #2559
:+1: perhaps something for 2016Q1 ?

[2015-12-08 11:51] benjaminburzan opened #2574 "Hipchat Integration not working"
I have been trying to get the Hipchat integration to work.
Here is what I am doing:

1) Testing the API call using curl - this works without problems
[code]
2) Adding those data to the Alert Settings (using the web interface)
[code]
_and leaving the configuration options field blank_

3) When I hit `Test transport`, the button color turns red

Can you help me out with this issue?
Thank you !
Ben

[2015-12-08 13:14] f0o commented on #2574
Do you have php's curl extension installed?

[2015-12-08 13:24] benjaminburzan commented on #2574
Yes, I have php5-curl installed. Is there any kind of log I can look into? The error_log doesn't provide any message regarding this issue ..

[2015-12-08 13:27] f0o commented on #2574
Just to make sure, after installing the curl extension did you restart apache/fpm/... ?

As for logs, edit your cronjob and make the alerts.php job log to file. It will be noisy if curl fails.
Bare in mind that the alerts job honours all the delay/interval/count options from your alerts so you might not be able to trigger it OnDemand.

On 8 December 2015 14:24:16 CET, Benjamin <notifications@githu

[2015-12-08 13:30] benjaminburzan commented on #2574
I restarted (in my case) nginx again just to double check that I really did.
Thanks @f0o for your hint with alerts.php. I'll check the output and let you know what happened.

[2015-12-08 13:31] f0o commented on #2574
Ah for nginx you must restart the php-fpm service :)

On 8 December 2015 14:30:32 CET, Benjamin <notifications@github.com> wrote:

[2015-12-08 13:32] benjaminburzan commented on #2574
Yep, I did that too :-)

[2015-12-08 13:57] benjaminburzan commented on #2574
Here is the message I am getting.
[code]
Did anyone or you @f0o set the message format? I guess in the filed I left blank.

[2015-12-08 14:54] dhavalsoni88 opened #2576 "Can not add any Widget to Dashboard"
I've just installed fresh LibreNMS version "8a1573a". after login to admin area 1st time, I am trying to create Dashboard. when I select any widget from "Select Widget Drop down menu", i am not getting "Add Widgets" button enable.

[2015-12-08 15:41] jcounsell1222 commented on #2377
+1

this would be quite helpful.

[2015-12-08 16:12] #1128 closed

[2015-12-08 16:12] #1514 closed

[2015-12-08 17:10] laf commented on #2576
@dhavalsoni88 The add widget button isn't actually a button, when you select the widget you want it dynamically adds it in.

If you don't see the widget being added do you see any errors or anything in the browsers console?

[2015-12-08 17:13] laf commented on #2568
The ports page can be a bit misleading sometimes, we don't show disabled ports by default in the port listing so I expect if you click the disabled tickbox and search again you will then see the two missing ports.

Their is a reason why it's like which has been discussed in a previous issue.

[2015-12-08 17:15] laf commented on #2561
@flatterlight is this resolved? If not we'd like to make sure it does work.

[2015-12-08 17:18] laf commented on #2548
snmp maps numerical OIDs to names usually via the MIB. The device doesn't tell you what MIB to use, you have to tell snmp what MIB you want to use.

[2015-12-08 17:19] laf commented on #2549
We should be able to add drive support via Dell OpenManage, can you provide us access to a box to test?

[2015-12-08 17:21] laf commented on #2521
Are all the devices handled by that one single poller? As you didn't have rrdtool 1.5 on the master then the rrd files would never have been created so I can only assume you had a single setup to start with before moving to a distributed setup and it's since then some rrd files haven't been created.

[2015-12-08 17:24] dhavalsoni88 commented on #2576
No, it did not show any error or anything on browser console.

[2015-12-08 17:30] mjsteckel commented on #2548
Thanks. That's what I expected but appreciate the confirmation.

[2015-12-08 17:56] laf commented on #2574
@benjaminburzan Can you try this patch please:

https://gist.github.com/laf/922e1ba47c3dbe476b85

[2015-12-08 17:57] laf commented on #2576
@dhavalsoni88 Do you have mysql strict mode on?

Widgets work in general for people so this is something specific to your setup - have you followed the instructions correctly when installing?

[2015-12-08 18:28] dhavalsoni88 commented on #2576
MySQL Strict mode is disabled on server:

mysql> SELECT @@GLOBAL.sql_mode;
+-------------------+
| @@GLOBAL.sql_mode |
+-------------------+
|                   |
+-------------------+

[2015-12-08 19:05] djtecha opened #2578 "IPMI allow interface type and userlevel"
So coming from observium I realize we don't have the same IPMI options available such as setting the UserLevel and Interface which is blocking me from associating the IPMI tool to a server.
![screenshot from 2015-12-08 11-04-21](https://cloud.githubusercontent.com/assets/3084627/11665324/a2041768-9d9b-11e5-9ce6-3b96fc412e90.png)

[2015-12-08 19:10] starnetwork commented on #2549
Hi, it's will take me some time but I will find some box for that tests
anyway, it's required to use OpenManage?
am asking since I don't like it, heavy installation with no big benefit

[2015-12-08 19:19] ekoyle opened #2579 "Add option to disable 'recovery' message for alert"
It would be very useful to be able to disable the recovery message for a given alert, for example the recovery on "Device rebooted".

[2015-12-08 19:56] renselu opened #2580 "Make lazyload optional via config"
Please make it optional to pre-load all graphs on a page. Now it starts loading when scrolling down, which works a lot slower.

[2015-12-08 19:57] djtecha opened #2581 "LLDP issues with switch"
So I'm trying to get lldp working to build a network map for a cisco switch and it appears that the SQL is not querying correctly.

(
    [17] => Array
        (
            [lldpRemChassisIdSubtype] => macAddress
            [lldpRemChassisId] => 20 47 47 7D D6 8C
            [lldpRemPortIdSubtype] => macAddress
            [lldpRemPortId] => 20 47 47 7D D6 8C
            [lldpRemPortDesc] => Int

[2015-12-08 20:05] flatterlight commented on #2561
my last status is like described.
I will setup the hardware in the next days again, to report back

[2015-12-08 20:08] benjaminburzan commented on #2574
How do I apply this patch? I tried it with `git apply --check gistfile1.txt` and got `fatal: corrupt patch at line 43`.

[2015-12-08 20:50] rlphnger commented on #2559
Really hoping for this in 2016/Q1, as it would be great to be able to see both hostname and ip from WebUI.

[2015-12-08 20:53] laf commented on #2574
You might just need to add new line to the file

[2015-12-08 20:54] laf commented on #2549
I expect you can do it via check_mk / munin plugin I expect.

[2015-12-08 20:55] laf commented on #2578
Can you provide access to an ipmi setup for us to work on this?

[2015-12-08 21:02] laf commented on #2581
Can you provide us access to the device running lldp so we can debug this?

[2015-12-08 21:04] jcounsell1222 opened #2583 "LibreNMS custom Macros"
i am trying to create a Macro that tells me if a device is down. i want it to look and check for the reason to be ICMP and and for it to be in the type firewall or network. i created the following macro and added it to the web front end in the config.php file:

$config['alert']['macros']['rule']['device_down'] = '%devices.status = "0" and %devices.status_reason = "icmp" and (%devices.type = "netwo

[2015-12-08 21:05] djtecha commented on #2581
Sadly I cannot as this is all enterprise gear. But I can tell you this is a standard CentOS 7 server running lldp connected to a Cisco catalyst37xxStack running Cisco IOS 12.2(58)SE2 (IPBASEK9). I can also see the lldp neighbor showing up on the switch and have this working in observium if that helps narrow the issue to the code.

[2015-12-08 21:07] laf commented on #2583
Not tested but:

[code]

[2015-12-08 21:07] djtecha commented on #2578
This should be the standard for all dell servers using an idrac card. I unfortunately do not have gear I could donate for testing.

[2015-12-08 21:13] laf commented on #2581
Without kit we can't go changing the code as that may just fix this issue but break it for anyone else :/

[2015-12-08 21:15] benjaminburzan commented on #2574
Ok I'm able to apply the patch and its working! I receive the test notification in my hipchat room. Great stuff, thank you for you help!

[2015-12-08 21:27] djtecha commented on #2581
Am I wrong in believing that "SELECT `port_id` FROM `ports` WHERE (`ifDescr` = ? OR `ifName` = ? OR `ifDescr` = ? OR `ifName` = ?) AND `device_id` = ?', array($if, $if, $id, $id, $remote_device_id)" Wouldn't actually fetch the MAC address though? Or is it the fact that the lldpRemPortDesc is posting the wrong string? Like, does this feature link by MAC or by hostname & port name?

[2015-12-08 21:29] jcounsell1222 commented on #2583
so it looks like maybe macros.device_down already exists. is there a config file other than the config.php that defines this? another location for macros? i created the following fining that the other already existed and this is not doing what i had hoped.

$config['alert']['macros']['rule']['network_device_down'] = '(%devices.status = "0" && %devices.status_reason = "icmp" && (%devices.type = "ne

[2015-12-08 21:38] laf opened #2584 "Stop debug output for polling outputting binary"
Crashes numerous clients now :/

[2015-12-08 21:40] laf commented on #2583
The initial macros are stored in the DB but putting the entry in config.php should overwrite the initial value.

I've just tested your rule but changed icmp to snmp and it works perfectly fine for me. The single network device I have in my test lab which is down (due to snmp) alerts. Can you screenshot your actual alert rule you've created.

[2015-12-08 21:42] jcounsell1222 commented on #2583
![screen shot 2015-12-08 at 4 41 30 pm](https://cloud.githubusercontent.com/assets/15875372/11669421/97c5ae68-9dca-11e5-9913-efb55efaeed6.png)

[2015-12-08 21:42] laf commented on #2581
That would return the port_id based on a port existing in the DB that has the descr returned by the lldp lookup. So it links (or in this particular query) based on what it expects to see in ifName or ifDescr

[2015-12-08 21:43] laf commented on #2583
Looks good, post the end of the output which shows the queries for rules of a device you expect this to match:

`./poller.php -h HOSTNAME -d -r -m system,os`

[2015-12-08 21:44] laf commented on #2574
@benjaminburzan I will submit a PR to fix this, you will at some stage most likely need to remove the patch (git checkout includes/alerts/transport.hipchat.php) when the patch is officially merged in.

[2015-12-08 21:45] jcounsell1222 commented on #2583
select
d.hostname
,d.type
,d.status
,d.status_reason
from devices d
where d.status = '0' and d.status_reason ='icmp' and (d.type = 'network' or d.type = 'firewall')

![screen shot 2015-12-08 at 4 44 43 pm](https://cloud.githubusercontent.com/assets/15875372/11669501/05a9ea5c-9dcb-11e5-8ef2-c19192ca4d19.png)

[2015-12-08 21:46] djtecha commented on #2581
Right so when the port description uses "Interface   2 as eth0" I would assume this fails to link as it should just be eth0:

hassis id: 782b.cb1c.70fe
Port id: 782b.cb1c.70fe
Port Description: Interface   2 as eth0
System Name: query-5

System Description:
Linux query-5 3.10.0-229.11.1.el7.x86_64 #1 SMP Thu Aug 6 01:06:18 UTC 2015 x86_64

Time remaining: 119 seconds
System Capabilities - not adve

[2015-12-08 21:48] djtecha commented on #2581
I think I need to get my env to fix that Description or the code should be using a regex in the sql.

[2015-12-08 21:50] benjaminburzan commented on #2574
@laf Great, thanks!

[2015-12-08 21:54] laf commented on #2583
That's not the query that's actually run by poller though. What commit version are you on?

[2015-12-08 21:56] jcounsell1222 commented on #2583
sorry about that, i am not sure what commit version. i know our pollers are set to search for the newest code and update each night if new code is out.

jac@prdwndsrenms001:/opt/librenms$ ./poller.php -h HOSTNAME -d -r -m system,os
LibreNMS 2015.master Poller
commit 2e10a5d4f61d58b36b49cc1fc6376071304215e0

DEBUG!
Starting polling run:

SQL[SELECT `device_id` FROM `devices` WHERE `disabled` = 0 AN

[2015-12-08 23:04] laf commented on #2583
You need to replace HOSTNAME with the devices hostname :)

commit is recent so that's fine.

[2015-12-08 23:15] laf commented on #2576
Try the dashboard on demo:

demo.librenms.org
u/p: demo

If it doesn't work there then it has to be your browser, if it does then it's got to be your install.

[2015-12-08 23:34] clearmoon247 commented on #2568
When I show disabled ports, my list shows ~2,681 devices when I click disabled and search.

[2015-12-09 03:18] jcbailey2 commented on #2394
I'm interested in taking a stab at this.. What are you looking for? Just the tunnel interface statistics, or the wireless-specific stats? Client count, channel, TX power, etc?

Are you more interested in a per VAP view, or per physical AP?

[2015-12-09 08:22] #2574 closed

[2015-12-09 09:09] simonholmbring commented on #2394
Hi JCBailey,

First of all to see that there are AP's connected to the Fortigate, second, to see client count, channel, ssid's being broadcasted, power, and interface stats.

I would like to see per physical AP.

/Simon

[2015-12-09 13:08] jcounsell1222 commented on #2583
librenms@prdwndsrenms005:~$ ./poller.php -h orr-pa500-b -d -r -m system,os
LibreNMS 2015.master Poller
commit a2d97f4283c7a920904fa953cf677db92df189e8

DEBUG!
Starting polling run:

SQL[SELECT `device_id` FROM `devices` WHERE `disabled` = 0 AND `hostname` LIKE 'orr-pa500-b' ORDER BY `device_id` ASC]
SQL[SELECT * FROM `devices` WHERE `device_id` = '1147']
SQL[SELECT * FROM devices_attribs WHERE `de

[2015-12-09 13:49] jcounsell1222 commented on #2377
Just out of curiosity is this something that could be implemented quickly? i dont mean to sound pushy or anything so i apologize in advance and appreciate all the work that you do on this product. the issue i am having is that the bandwidth statements that we have implemented can not change due to the affect on routing that it would have. i am not sure if there is a way to do a work around at this

[2015-12-09 14:28] laf commented on #2583
I don't see that rule being run there :/

Are you mapping the alert rule to a device or device group?

[2015-12-09 15:08] jcounsell1222 commented on #2583
no i dont have any rule mappings setup.

[2015-12-09 15:10] laf commented on #2583
I'm out of ideas @f0o?

[2015-12-09 15:27] laf commented on #2581
I've tested this on a Cisco switch to a Proxmox hypervisor and it works as expected. The lldpRemPortDesc returned is eth0 so the port can be matched fine.

I'm wondering if this is more that your lldp response returns Interface 2 as eth0 and that needs resolving. We probably could add another item to the query and include the lldpRemPortId / mac check.

[2015-12-09 15:56] #2570 closed

[2015-12-09 16:25] laf commented on #2568
Are you now searching just disabled, if so that's not what I was referring to, it was searching down AND disabled. See if that shows up 2?

[2015-12-09 17:22] clearmoon247 commented on #2568
I was able to confirm that when i search for down and disabled that is what my results are.

![down_disabled](https://cloud.githubusercontent.com/assets/3594299/11692818/848382bc-9e6f-11e5-92e0-b3a02db6c3f0.JPG)
![down_disabled_results](https://cloud.githubusercontent.com/assets/3594299/11692817/84832c9a-9e6f-11e5-90c2-b8c9017b4c9f.JPG)

[2015-12-09 17:31] Rosiak commented on #2581
Just for info:
LLDP working fine here, between Edgerouter and Cisco SMB sw.

[2015-12-09 17:57] f0o commented on #2583
That macro works for me :S

[2015-12-09 17:58] f0o commented on #2583
@jcounsell1222  Run this in your SQL: (Substitute the `?` with an device's ID that you know should be matching)
`SELECT * FROM devices WHERE (devices.device_id = ?) && ( (  ( devices.status = "0"  &&  devices.status_reason = "icmp"  &&   ( devices.type = "network"  ||  devices.type = "firewall" )  )  )  = 1)`

[2015-12-09 17:58] jcounsell1222 commented on #2583
using the same alert as well?

[2015-12-09 17:59] f0o commented on #2583
I used:
[code]

[2015-12-09 18:01] jcounsell1222 commented on #2583
if i run that i get the device back that i would expect.

![screen shot 2015-12-09 at 1 01 08 pm](https://cloud.githubusercontent.com/assets/15875372/11693822/f5ef0624-9e74-11e5-97c9-08e00d3fda77.png)

[2015-12-09 18:04] f0o commented on #2583
Then something must be funky with your mappings. (did you add any or did you leave it blank or..?)

Try removing the rule and re-adding it.

[2015-12-09 18:05] #2580 closed

[2015-12-09 18:06] jcounsell1222 commented on #2583
so currently the rule looks like this. ill try killing it an adding it back.

![screen shot 2015-12-09 at 1 05 54 pm](https://cloud.githubusercontent.com/assets/15875372/11693978/a8e089f6-9e75-11e5-8ac8-6bea0a811482.png)
![screen shot 2015-12-09 at 1 06 06 pm](https://cloud.githubusercontent.com/assets/15875372/11693981/aad619d8-9e75-11e5-9066-098585629ec1.png)

[2015-12-09 18:07] laf commented on #1698
Tagging #2559

[2015-12-09 18:08] laf commented on #2559
Tagged this into #1698.

Considered duplicate so closing.

[2015-12-09 18:08] #2559 closed

[2015-12-09 18:08] f0o commented on #2584
Binary is fun!

But no, you're right.. what's your proposal though?

[2015-12-09 18:11] jcounsell1222 commented on #2583
in the database it looks like all my rules have a device_id of -1. is that typical?

![screen shot 2015-12-09 at 1 10 17 pm](https://cloud.githubusercontent.com/assets/15875372/11694104/3b3b455c-9e76-11e5-9fac-a9f53ad379a8.png)

[2015-12-09 18:12] laf commented on #2584
I don't have any, posted as last night I had my shell crash four times in a row :/

[2015-12-09 18:13] f0o commented on #2583
Yes, -1 means all devices

[2015-12-09 18:14] laf commented on #2553
Ports are sorted by ifIndex at present. What would you want them to be sorted by?

[2015-12-09 18:16] jcounsell1222 commented on #2583
ok cool. i recreated the rule. here is what it looks like currently.

![screen shot 2015-12-09 at 1 16 06 pm](https://cloud.githubusercontent.com/assets/15875372/11694273/1adb77fe-9e77-11e5-9ffe-29d231c42a09.png)

[2015-12-09 18:17] f0o commented on #2583
Looks correct so far :)

[2015-12-09 18:17] laf commented on #2550
It is possible using CDEF:

http://forums.cacti.net/viewtopic.php?t=8168

Patches greatly accepted if you would like :)

[2015-12-09 18:18] laf commented on #2548
Closing this, feel free to re-open if you have any further questions.

[2015-12-09 18:18] #2548 closed

[2015-12-09 18:19] djtecha commented on #2581
Yea I dug into this more. Looking at the observium code it looks that if ALL else fails there is a MAC check performed. I also was looking into why lldp is even adding that extra string but I couldn't find anything useful as to how to modify the output. It's coming from CentOS7 so there's something weird going on as I agree that it should just be the interface name IE. eth0

[2015-12-09 18:19] laf commented on #2546
Closing this, please feel free to pop into our irc channel for help with this.

[2015-12-09 18:19] #2546 closed

[2015-12-09 18:19] f0o commented on #2584
I use `less` :X

[2015-12-09 18:20] jcounsell1222 commented on #2550
i would be more than happy to help you guys out but programing is not my strong suit. i am sure i can figure out something in the interim. thanks for all that you guys do!!

[2015-12-09 18:21] jcounsell1222 commented on #2583
still not alerting. hmmmm wonder what i am missing here. this will not only fire on new hosts that go down but on hosts that are currently in the down state correct?

[2015-12-09 18:22] f0o commented on #2583
Correct

[2015-12-09 18:22] f0o commented on #2583
Can you do above poller command again for a host that should be matching the rule and paste it again? (sorry for the redundancy)

[2015-12-09 18:23] laf commented on #2512
Proposing to close in 48 hours.

@vectr0n if you have any information on this then please re-open the issue.

[2015-12-09 18:25] jcounsell1222 commented on #2583
librenms@prdwndsrenms005:~$ ./poller.php -h orr-pa500-b -d -r -m system,os
LibreNMS 2015.master Poller
commit a2d97f4283c7a920904fa953cf677db92df189e8

DEBUG!
Starting polling run:

SQL[SELECT `device_id` FROM `devices` WHERE `disabled` = 0 AND `hostname` LIKE 'orr-pa500-b' ORDER BY `device_id` ASC]
SQL[SELECT * FROM `devices` WHERE `device_id` = '1147']
SQL[SELECT * FROM devices_attribs WHERE `de

[2015-12-09 18:26] jcounsell1222 commented on #2583
also no apology required you guys are helping me :)

[2015-12-09 18:26] f0o commented on #2583
Cant find it in the output, what the hoth ...

[2015-12-09 18:27] f0o commented on #2583
Wait I spot something disturbing
`SQL[]` << That is a bad thing!

[2015-12-09 18:30] jcounsell1222 commented on #2583
its odd but after i ran that it seemed to fire off an alert on the specific device that i ran the command on.

[2015-12-09 18:30] laf commented on #2583
Is the SQL[] that f0o spotted as it shows in your console (i.e nothing between the brackets?)

[2015-12-09 18:31] f0o commented on #2583
it seemed? Do you see it as a fault?
Does it magically work all of a sudden?

If not, shout so I can spin up a VM to fit your setup and recreate a condition upon it

[2015-12-09 18:49] jcounsell1222 commented on #2583
yes it does look like a line has SQL[] with nothing in the brackets. that was run from one of the many pollers that we have. if i run it from the front end webserver i get the following.

ibrenms@prdwndsrenms001:~$ ./poller.php -h orr-pa500-b -d -r -m system,os
LibreNMS 2015.master Poller
commit a2d97f4283c7a920904fa953cf677db92df189e8

DEBUG!
Starting polling run:

SQL[SELECT `device_id` FROM `de

[2015-12-09 18:53] f0o commented on #2583
[code]

Now that's more like it!

[2015-12-09 18:54] f0o commented on #2583
Do you have some caching or multiple SQLs or something that could be holding stale information so that the rule wasnt made aware to the pollerbox?

[2015-12-09 18:56] jcounsell1222 commented on #2583
i am not sure. i was not involved with the setup on these boxes. just in the process of getting the alerts configured. i can check with the individual that setup the boxes and get back to you with that info.

[2015-12-09 18:59] f0o commented on #2583
Important thing is that the macro works :)

[2015-12-09 19:00] f0o commented on #2549
I use munin for my software raids (md-raid) - Perhaps there's something for yours as well?

[2015-12-09 19:21] laf commented on #2583
memcache on each local box? That could cause that.

[2015-12-09 19:33] jcounsell1222 commented on #2583
we might have that on each box. would you thin it should only be on the front end?

[2015-12-09 19:35] laf commented on #2583
@jcounsell1222 it's more beneficial on the web front end to speed things up. It would also help overall for a single poller box but distributed you either need to switch it off or run a single instance that all pollers talk too.

[2015-12-09 19:35] Rosiak commented on #2553
Well, I guess that makes sense.
I'm not sure which direction we should move in, and if we should.

But for this case it would be nice to be able to sort them by ifName, but I'm very well aware that's not the case for everyone.

[code]

[2015-12-09 19:44] #2493 closed

[2015-12-09 19:45] laf commented on #2581
We can add an additional check in for macs. As I've got it running here now I can see what's happening.

Leave it with us.

[2015-12-09 19:45] laf commented on #2553
Config option or a vote?

My preference is as it is now :)

[2015-12-09 19:49] jcounsell1222 commented on #2583
good to know, looks like we have some internal cleanup to do here. ill report back on that after we have finished. thanks for you help on this guys its really appreciated.

[2015-12-09 19:52] x3m commented on #2493
@laf Could you provide and example, how an alarm can be created to achieve this?

[2015-12-09 19:56] djtecha commented on #2581
Awesome, thanks for the quick response. Good community here!

[2015-12-09 20:15] Rosiak commented on #2047
Closing since this alignment is intended.

[2015-12-09 20:15] #2047 closed

[2015-12-09 20:51] #2429 closed

[2015-12-09 21:01] laf commented on #2583
Np. Feel free to re-open this if you still have issues.

[2015-12-09 21:01] #2583 closed

[2015-12-09 22:26] laf commented on #2493
You will need to create a macro such as:

$config['alert']['macros']['rule']['sensors_test'] = '(%sensors.lastupdate < %macros.past_30m)';

Then the rule would be: %macros.sensors_test = "1" + whatever other checks you want such as %sensors.type = 'ipmi'

[2015-12-09 22:34] Rosiak commented on #1575
Will PR this ASAP, just need to separate the menus since I ditched the old work.

![screen shot 2015-12-09 at 23 32 22](https://cloud.githubusercontent.com/assets/6378934/11700982/3a697df4-9ecd-11e5-8afe-8cc3c54d82d4.png)

[2015-12-09 23:26] laf commented on #2479
Config option to disable maths functions? Not everyone needs it?

Alternatively maths functions have to be wrapped like _/_ or _*_ something like that? Would need to announce out that change so the first option is the easy win here but someone could get stuck with needing maths functions and ports with / in them :)

[2015-12-10 00:07] paulgear commented on #2553
Config option.

[2015-12-10 00:24] laf commented on #2477
@f0o thoughts on this?

[2015-12-10 01:44] laf commented on #2463
You just need to expand the box itself. Unfortunately it doesn't appear that we can resolve this. The tile library we use have an open issue to enable call backs to resize the content in widgets but it's not available yet so I think we're kind of stuck unless someone re-implements the library we use.

[2015-12-10 06:18] #2581 closed

[2015-12-10 06:23] f0o commented on #2479
We can also try not adding spaces, not sure how SQL likes that though

[2015-12-10 07:34] Rosiak commented on #1650
@adaniels21487
Ready for PR?

[2015-12-10 08:36] samyscoub commented on #2556
First you can extract every label into a global language file.

I think thaht a framework like this can make the job :

https://github.com/Philipp15b/php-i18n

[2015-12-10 09:10] kaoru290 opened #2594 "not found interface discard in ports table"
where `ifInDiscard` or `ifOutDiscard` ?
my ports table below.
[code]

[2015-12-10 10:09] f0o commented on #2594
We only have that field in the RRD's it seems

[2015-12-10 10:12] f0o commented on #2556
PR's welcome :)

[2015-12-10 10:46] kaoru290 commented on #2594
thanks.
i want to alert setting of interface discard.
can i config it?

[2015-12-10 11:45] dhavalsoni88 commented on #2576
Yes I can see the dashboard of demo server, but can you please suggest why my dashboard is not working even after fresh installation?

my System Specs is as below:
CentOS 6.7, 4 Gig RAM, 2 vCPU, Apache 2.2.15, PHP 5.3.3, MySQL 5.5.46 and RRD 1.4.7

PHP modules installed on my system:
apc
apcu
bz2
calendar
Core
ctype
curl
date
dom
ereg
exif
fileinfo
filter
ftp
gd
gettext
gmp
gv
hash
iconv
igbinary

[2015-12-10 11:47] Alastair-VOIPUNLIMITED opened #2596 "FEATURE REQUEST - alert acknowledgment emails"
Hi guys,

Me again unfortunately,

We have a very large network all plugged into Libre, with multiple sys admins and users.

When an alert is acknowledged we all get the email however we then chase eachother to ask what was wrong and what the fix was.

Was wondering if it would be sensible or if others might find it helpful too if...

When an alert acknowledgment is clicked (mute button) a window

[2015-12-10 11:48] f0o commented on #2596
:+1:

On 10 December 2015 12:47:40 CET, Alastair-VOIPUNLIMITED <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-12-10 12:00] Alastair-VOIPUNLIMITED commented on #2596
![5555](https://cloud.githubusercontent.com/assets/11542248/11714906/6982a648-9f35-11e5-9053-4188869ea313.PNG)

would be great if next to acknowledge column we had a column for "acknowledged by" where it puts the user who did it :)

[2015-12-10 12:22] SaaldjorMike commented on #2596
:+1:

[2015-12-10 14:12] snis commented on #2114
+1
Any updates on this?
But persistent bot? All that's needed is to request a uniqe API key from Telegram and some strings and just POST them with http.
But then again I'm not the sharpest knive in the box.

[2015-12-10 14:22] jcounsell1222 opened #2598 "LibreNMS Device overview page infromation request"
is there some way to show the IP address of a device on the overview page? currently it shows System name, hardware info on contact info but would be helpful if you could have it show the management IP address that Libre is connecting to.

[2015-12-10 16:42] adambialy commented on #1698
Hi. How about having same system like in nagios? So for example you have two fields to fill when you adding device name and ip address. Later the ip address will be preferred in polling device over name. If someone wants fqdn will be able type same record into both fields. How about that?

[2015-12-10 16:47] laf commented on #2598
Tagging #1698

Closing as this is a duplicate

[2015-12-10 16:47] #2598 closed

[2015-12-10 16:47] laf commented on #1698
Tagging #2598

[2015-12-10 16:49] adambialy commented on #1698
Hi. How about having same system like in nagios? So for each host you got hostname and ip address(or fqdn). In this case librenms will poll ip address(or fqdn) rather than name but messages/error reporting will mention name rather than ip address.

[2015-12-10 16:52] arrmo commented on #1757
Hi,

Also having issues here ... :(. I have set things up as outlined in http://docs.librenms.org/Extensions/Smokeping/ ... but no joy. BTW, that last line doesn't seem right in "Standard Smokeping" (which is what I'm trying) - is it? At least a semicolon is missing, but is that line needed?

Thanks!

[2015-12-10 19:44] petracvv opened #2599 "ESX 6.0u1 port error stats incorrect"
We are evaluating Librenms for our environment and noticed that on our newer ESX6.0 hosts librenms was displaying millions of port errors on every physical port. Example:
![vmport](https://cloud.githubusercontent.com/assets/3154784/11726251/640179a2-9f43-11e5-83c0-b3b830a80739.png)

If I do an snmp-walk on that host, the error count is very low and is not changing or increasing. See relevant data:

[2015-12-10 20:20] x3m commented on #2596
Already asked for the same: https://github.com/librenms/librenms/issues/2472

would be really appreciated if such feature appears anytime soon.

[2015-12-10 21:26] jcounsell1222 commented on #2196
it would be helpful to view the active calls on a voice router.

[2015-12-10 23:12] laf commented on #2599
Those values aren't what you expect :) It's not millions it's milli and is showing you the values you see returned via snmp.

It doesn't look wrong to me. If you don't see the same on 5.5 then check snmp, I expect you just don't have any errors on the port showing.

[2015-12-10 23:14] laf commented on #2594
We merged a PR (#2542) today that adds this info to a new table: ports_statistics so you can use that to alert on once your install is updated.

[2015-12-10 23:15] laf commented on #2596
Closing as is a duplicate. Putting a note in the other issue to check this for showing user who ack'd

[2015-12-10 23:15] #2596 closed

[2015-12-10 23:15] laf commented on #2472
Please check #2596 for some more info on what to add.

[2015-12-10 23:17] #2594 closed

[2015-12-10 23:34] laf commented on #2584
We could replace the debug output when we see INSERT INTO `alert_log` with a message saying an alert_log was added. No real info is gleaned from that insert anyway.

[2015-12-10 23:36] laf commented on #2576
PHP 5.3.3 - upgrade. We try and support at least 5.4 but 5.3 is pushing it - released just over 5 years ago.

[2015-12-10 23:37] laf commented on #2569
Sorry would you mind also providing the output of:

[code]

[2015-12-10 23:40] laf commented on #2568
Is this an admin user or non-admin?

Can you run this mysql query:

`SELECT COUNT(*) FROM ports AS I, devices AS D WHERE I.`deleted` = '0' AND D.`device_id` = I.`device_id` AND I.`ignore` = '0' AND D.`ignore` = '0' AND I.`ifOperStatus` = 'down' AND I.`ifAdminStatus` = 'up'`

[2015-12-10 23:41] laf commented on #2564
merged in #2597

[2015-12-10 23:41] #2564 closed

[2015-12-10 23:42] laf commented on #2561
If you can provide the output of:

[code]

[2015-12-11 01:20] masonke commented on #2599
Looking at the vmnic0 graph, are there currently  .00014444 Packet Errors/Sec In, with an Avg of .00164/sec and a max of .01319/sec ?
~KEM

[2015-12-11 01:58] kaoru290 commented on #2594
@laf i found it!
thank you!

[2015-12-11 06:56] Kivit commented on #2569
Sure.

./discovery.php -h HOSTNAME -d -m mempools
http://pastebin.com/Ly58qYSB
http://pastebin.com/1zCHwyVM
http://pastebin.com/ui0fspwm

./poller.php -h HOSTNAME -r -d -m mempools
http://pastebin.com/RcixNyeA
http://pastebin.com/VjCHPYjc
http://pastebin.com/xaisqYrJ

[2015-12-11 09:54] f0o commented on #2114
@snis looking at the docs it seems to need a persistent connection to get chat_id's and group_id's which are highly volatile.

It can also work in a Re-Action styled WebHook based thing, but then you need to crack open a webhook from LibreNMS to Telegram and allow bidirectional streams (which is why I'd like to outsource it from the enduser's install to some 3rd entity not directly linked.. parano

[2015-12-11 09:54] Alastair-VOIPUNLIMITED commented on #2472
+1

[2015-12-11 09:55] f0o commented on #2114
Maybe I'm also missing some point or some hook - I'm just browsing their examples and 'API Docs' and see that they all rely on a WebHook or on LongPolling to figure what to do - So feedback/input/help is highly appreciated!

[2015-12-11 10:09] kaoru290 opened #2604 "have you plan to extension alert template Placeholders?"
i want to setting template more flexible.
e.g. http://myserver/device/device=<DEVICE_ID>/tab=port/port=<PORT_ID>/
i think PORT_ID is not exist in alert template Placeholders.

[2015-12-11 10:10] kaoru290 opened #2605 "have you plan to extension alert template Placeholders?"
i want to setting template more flexible.
e.g. http://myserver/device/device=DEVICE_ID/tab=port/port=PORT_ID/
i think PORT_ID is not exist in alert template Placeholders.

[2015-12-11 10:20] laf commented on #2604
You can use port_id in the foreach faults loop:

{foreach %faults}  #%key: %value.string http://example.com/device/blah=%value.port_id \r\n{/foreach}{/if}

[2015-12-11 10:21] laf commented on #2605
Duplicate #2604

[2015-12-11 10:21] #2605 closed

[2015-12-11 11:46] kaoru290 commented on #2604
@laf thanks.
i will attempt it.

[2015-12-11 13:10] flatterlight commented on #2561
Hi,
I've set up librenms from scratch, so here are the asked outputs.
discovery -> http://pastebin.com/0vQ7KTjE
poller -> http://pastebin.com/T456EdiA
If you need more infos, feel free to ask.

[2015-12-11 13:34] clearmoon247 commented on #2568
That was for an admin. When I ran that command in MySql, it gave the count of 2. I ran that command again, but with * instead of COUNT(*), I was able to find the two ports that it was counting.

Both ports in Port Settings were in an Up/Down state, and the settings were Disabled was checked, but Ignore was not.

Once I checked ignore, the number of down ports is now 0
![port-list-fixed](https://cl

[2015-12-11 14:59] Rosiak commented on #2576
Just a note I have installs running on PHP 5.3.3 with no issues.

[2015-12-11 15:47] dhavalsoni88 commented on #2576
Its fixed now, I've increased PHP memory limit to 256 MB and post_max_size = 20M.

[2015-12-11 16:59] pmcnabb opened #2606 "Feature Request: Weathermap widgets (or image viewer) in dashboard"
It'd be nice to be able to include Weathermaps as widgets on a dashboard. Since they are really just static images, maybe a generic image widget would handle this feature (and any other external images the user may wish to include on a dashboard).

[2015-12-11 17:17] f0o commented on #2606
:+1: imageviewer comes in handy for xkcd as well!

[2015-12-11 18:25] jcounsell1222 opened #2607 "Setup IPSLA"
hey Guys,

i have devices running IPSLAs for jitter on voice gateways. i have confirmed on the pollers that the cisco-sla module is on (see below) but i am still not seeing anything in the sla table on the Libre database. anyone have any idea on this? thanks in advance for all your help.

$config['poller_modules']['cisco-sla'] = 1;

[2015-12-11 20:39] Cheeze-It commented on #2607
This probably wouldn't be a bad idea to put in for both Cisco IPSLA and for Juniper RPM functionality.

That way the largest vendors that have the kind of monitoring can be developed for.

[2015-12-11 21:11] Rosiak commented on #2136
Yup bare would work!

[2015-12-11 21:30] Rosiak opened #2608 "Enhancement: WebUI - Bulk delete devices"
Convert the existing UI to a bulk method.
Perhaps by simply just using a table instead of a dropdown.

[2015-12-11 21:33] Rosiak commented on #2606
:+1: to a "generic" solution.

[2015-12-11 21:35] Rosiak commented on #2576
Proposing closing this, any objections @laf ?

[2015-12-11 21:35] Rosiak commented on #2562
:+1:

[2015-12-11 22:33] Rosiak commented on #2557
Should be pretty trivial, the limit today is 8 and is defined in ajax_search.
I think a global_config option is reasonable.

[2015-12-11 22:35] Rosiak commented on #2556
This will not be something I will invest time in.
But as @f0o states, PR's are welcome.

[2015-12-11 22:36] Rosiak commented on #2554
Link to obs.. material removed.

[2015-12-11 22:37] Rosiak commented on #2553
Not sure if this is worth proceeding with, I honestly don't care :)

[2015-12-11 22:39] Rosiak commented on #2533
Any news @kreggz ?

If not I propose we close this in 48 hrs.

[2015-12-11 22:40] Rosiak commented on #1759
Since there has been no response on this one, I'll close it.

[2015-12-11 22:40] #1759 closed

[2015-12-11 22:42] Rosiak commented on #1757
@librenms/reviewers
If anyone got time, could you please go through the guide and verify that it's actually working?

[2015-12-11 22:45] Rosiak commented on #2451
Are you asking for a API path to request a list of existing groups or a path to request devices in a specific group?

[2015-12-11 22:48] paszczus commented on #1757
It is working fine for me for month or so...

[2015-12-11 22:48] Rosiak commented on #2218
Closing due to #2470 being merged.

[2015-12-11 22:48] #2218 closed

[2015-12-11 22:50] Rosiak commented on #2188
#2518 created for this purpose - closing this one.

[2015-12-11 22:50] #2188 closed

[2015-12-11 22:53] Rosiak commented on #1984
Status on this one?

[2015-12-11 22:54] Rosiak commented on #1971
Has this been fixed with the introduction of the collapsed CPU graphs?
If so let's close this one.

[2015-12-11 22:57] Rosiak commented on #1672
Proposing closing this in 48hrs.

[2015-12-11 23:00] Rosiak commented on #1343
@Lonecrowe
Is this still relevant?

[2015-12-11 23:05] arrmo commented on #1757
Hi,

It could be me, no argument there … ☺. But there definitely is an error in the online documentation. At least the last line is incorrect (if nothing else, semicolon needed … right?).

I have a working smokeping configuration, so don’t want LibreNMS to “mess” with that … ;-). So I just make the changes as follows (vs. the documentation) – adding these new lines to the bottom of /opt/librenms/c

[2015-12-11 23:15] masonke commented on #1672
Close it now. Thank you

[2015-12-11 23:43] #2576 closed

[2015-12-11 23:43] #2561 closed

[2015-12-11 23:45] laf commented on #2451
I think the latter.

[2015-12-11 23:45] laf commented on #2451
Or both actually, makes more sense.

[2015-12-12 00:25] paulgear commented on #1757
If you're running Debian/Ubuntu, you might find this doc update from @thepacmanfan helpful: https://github.com/thepacmanfan/librenms/blob/master/doc/Extensions/Smokeping.md

[2015-12-12 03:02] arrmo commented on #1757
Appreciate the link!

Arrgh – pulling my hair out though … ☹. Followed this link, and it adds all my LibreNMS machines to Smokeping – they work great, show up in Smokeping. But still no tab in LibreNMS – that part is what is broken.

Open to any ideas you have!

Thanks,
… Russell

From: Paul Gear [mailto:notifications@github.com]
Sent: Friday, December 11, 2015 6:25 PM
To: librenms/librenms <libre

[2015-12-12 03:09] thepacmanfan commented on #1757
I ran into this a few times when testing for my documentation; I think it was always caused by not enabling integration in /opt/librenms/config.php
In my doc it's covered under the heading "Configure LibreNMS", near the end. Make sure 'dir' points to your actual smokeping data location!

[2015-12-12 03:16] arrmo commented on #1757
Hi,

Yep, agree with you 100%! Really, for LibreNMS it seems only two lines are needed (the rest of the info is about SmokePing, and that is all working fine – data, graphs, etc.). Here is all I have added to /opt/librenms/config.php

$config['smokeping']['dir'] = '/var/lib/smokeping';
$config['smokeping']['integration'] = true;

And if I look at /var/lib/smokeping, I see all the data directories

[2015-12-12 03:22] thepacmanfan commented on #1757
It adds a tab when viewing a specific device. On Network devices, it's
between "Ports" and "Map". On Server devices it's between "Ports" and
"Virtual Machines".

On Fri, Dec 11, 2015 at 9:16 PM, arrmo <notifications@github.com> wrote:

[2015-12-12 03:26] arrmo commented on #1757
Ah-ha! There’s the confusion (on my part) – sorry! When folks were referring to a tab, I thought that meant at the very top. Yes, I do see it lower down. But here’s the issue then … I want to do this to include devices that don’t support SNMP (I think that’s the point of this, no?).

So that said, how do I add a device that only has ping data (from SmokePing), no SNMP?

Thanks!

… Russell

From: t

[2015-12-12 03:33] thepacmanfan commented on #1757
No idea if that's feasible, sorry! I'm a newbie to LibreNMS. I am using it
in a supplementary role for more thorough network diagnostic information
than SNMP provides. All the hosts I'm using it for support SNMP, and I'm
graphing a lot more than just smokeping data.

On Fri, Dec 11, 2015 at 9:26 PM, arrmo <notifications@github.com> wrote:

[2015-12-12 03:40] arrmo commented on #1757
Makes sense, much appreciated! I’m new to LibreNMS as well, but really like it. Let’s see if others have added machines that are ping-only.

Thanks again,
… Russell

From: thepacmanfan [mailto:notifications@github.com]
Sent: Friday, December 11, 2015 9:34 PM
To: librenms/librenms <librenms@noreply.github.com>
Cc: Morris, Russell <rmorris@rkmorris.us>
Subject: Re: [librenms] Smokeping graphs do not

[2015-12-12 06:54] paulgear commented on #1757
@arrmo There's currently no interface to view the non-SNMP hosts from your statically-defined hosts in smokeping.
P.S. When you reply to these threads via email, please trim the original email or use Usenet-style quoting.  Otherwise it makes the github thread very noisy.

[2015-12-12 11:00] #1672 closed

[2015-12-12 12:44] Rosiak commented on #1757
Closing this one, documentation has been updated #2610

[2015-12-12 12:44] #1757 closed

[2015-12-12 12:49] arrmo commented on #1757
Will do on the trimming, sorry! Some folks like the history, but understood – thanks for the pointer. And thanks so much for all the help, sorry for the confusion on my part.

FYI, it would be nice at some point to provide this capability, as many hosts are ping only, and it would be helpful to have all the hosts in one tool.

And perhaps update the online documentation? As noted in the thread, th

[2015-12-12 12:59] laf commented on #1757
@arrmo
We have an open issue to add non-snmp device support.

As for the docs, feel free to contribute when you see issues :)

[2015-12-12 14:30] SaaldjorMike commented on #1984
Lets close this one for now.

[2015-12-12 14:30] #1984 closed

[2015-12-12 14:30] laf commented on #2607
@jcounsell1222 please provide the output via dpaste.de of:

[code]

@Cheeze-It missed this last night! If this works then we just need to get RPM done.

[2015-12-12 14:34] #2604 closed

[2015-12-12 15:46] #1575 closed

[2015-12-12 19:15] arrmo commented on #1757
Sounds great, thanks! If you have some WIP for ping, let me know – more than happy to check it out.

And on the documentation – I’ll go in and update it. I didn’t realize I’d be able to mess with it, but will do.

Thanks again!

[2015-12-13 02:02] laf commented on #1295
Ok so the auth side of this is easy, I've got that sorted. The issue we face is that we need a user id and user level, neither of which we can get from radius. So we'd have to add users to mysql as well (no passwords) so that lookups for user id and level come from mysql.

You'd either have to create users still in LibreNMS or we can auto add users when they successfully login, however removing ol

[2015-12-13 09:26] #1971 closed

[2015-12-13 09:59] job commented on #1295
Automatically add users when they login. Make it a configurable option in config.php what by default their user level is. Job

[2015-12-13 10:02] f0o commented on #1295
Removal of users can be cronjob'd:
I.e. if user has default access and hasnt logged in within N time => remove.
Thoughts?

[2015-12-13 10:14] f0o commented on #2553
I'm with laf, current ifIndex makes sense to me so no reason to change from my pov.

Side-Q: could one use bootgrid tables for this page? If so the issue would become obsolete as bootgrid sorts it any way user demands it.

[2015-12-13 10:21] f0o commented on #2557
:+1: on config

[2015-12-13 10:24] job commented on #1295
On Sun, Dec 13, 2015 at 02:02:37AM -0800, Daniel Preussker wrote:

Wasn't there some kind of radius command to check if a user /exists/ or
not? You could check every 24 hours if the user exists, and if not
remove it.

Kind regards,

Job

[2015-12-13 10:38] job commented on #1295
On Sun, Dec 13, 2015 at 11:24:24AM +0100, Job Snijders wrote:

Seems I was confused, there is no such command.

I'd make the defaults that the access level is 'read only' and the
internal user is deleted after 12 hours or so.

We can document that admins & read/write access levels should be 'real'
users created through other means (commandline, ldap).

Kind regards,

Job

[2015-12-13 14:35] masonke commented on #1295
Seems like a reasonable methodology to start.
~KEM

[2015-12-13 16:08] vitalisator opened #2614 "LLDP discovery on devices with absent lldpRemSysName field"
have here some enterasys G3G124-24P (Rev 06.03.08.0012) without lldpRemSysName information in snmp.

/usr/bin/snmpbulkwalk -v2c -c public -O QUs -M /opt/librenms/mibs -m LLDP-MIB udp:10.131.30.232:161 lldpRemoteSystemsData
lldpRemChassisIdSubtype.0.23.2 = macAddress
lldpRemChassisId.0.23.2 = "20 B3 99 0A 6B DE "
lldpRemPortIdSubtype.0.23.2 = interfaceName
lldpRemPortId.0.23.2 = "ge.1.24"
lldpRemSy

[2015-12-13 16:20] laf commented on #2614
lol, we've only just merged a PR in that deals with lldpRemPortId having a mac address stored as well. Should be easy to add another element to the query:

https://github.com/librenms/librenms/commit/8ed1a50657579fae079ab3401a6d6614db69d21f

[2015-12-13 16:23] laf commented on #1295
@job

If you want to test, I've just submitted a PR #2615. If your install is upto date then you could add my git repo as another branch and switch over to test it.

[2015-12-13 16:42] SaaldjorMike commented on #2557
Also :+1: on a config option

[2015-12-13 17:41] laf commented on #2599
@petracvv Feel free to re-open this if you have any further queries.

[2015-12-13 17:41] #2599 closed

[2015-12-13 17:41] #2512 closed

[2015-12-13 18:05] laf commented on #2569
PR has been done for this. If you want to test then please ensure you have a clean working directory:

[code]

If this works (and retains the data for memory but in the correct section) then please report back.

[2015-12-13 18:39] #2584 closed

[2015-12-13 18:46] #2606 closed

[2015-12-13 18:57] laf commented on #2568
Feel free to re-open this if you have any further queries.

[2015-12-13 18:57] #2568 closed

[2015-12-13 18:59] #2569 closed

[2015-12-13 21:22] Rosiak commented on #2506
%macros.port_usage_perc >= "80" &&
%port.port_descr_type != "client" &&
%ports.ifType != "softwareLoopback" &&

[2015-12-13 21:34] Rosiak commented on #2533
Closing.
Please reopen when you have the required information.

[2015-12-13 21:35] Rosiak commented on #2447
Close this one?
It's only a matter of a logo, I'm sure Mike will add it anyways if he gets the permission.

[2015-12-13 21:36] SaaldjorMike commented on #2447
Agreed.

[2015-12-13 21:36] #2447 closed

[2015-12-13 21:40] Rosiak commented on #1351
This could be some device specific option, since ports are first added after disco.
Perhaps just a simple if statement in the code afterwards.

[2015-12-13 21:43] Rosiak commented on #1288
I'm pretty certain on what needs to be done, will get this done between xmas and new year - otherwise people are free to pick it up before then :)

[2015-12-13 21:44] Rosiak commented on #1631
Any news on this?

[2015-12-13 21:55] SaaldjorMike commented on #2464
:+1: for the possibility of having groups exposed using the API. I have different credentials for different groups of devices.

[2015-12-13 21:59] SaaldjorMike commented on #1417
Closing this one, as one should use the alert mappings for mapping alerts to a set of devices.

[2015-12-13 21:59] #1417 closed

[2015-12-13 22:23] adaniels21487 commented on #2196
Hi @jcounsell1222,
How do you get calls into your voice router and from there into Call Manager?

This module tracks MGCP connections and SIP/H323 trunks from a Call Manager Point of view and LibreNMS already tracks ISDN PRI channels in use on a voice router.

Thanks,
Aaron

[2015-12-14 04:35] Cheeze-It commented on #2607
So I haven't really tested this out yet. Mainly because I just haven't gotten a chance but I was kinda thinking in my head.

Would it be cool to have anything that has to do with Cisco IPSLA/Juniper RPM to be under the "health" tab on the main page as well under the device. Maybe name it something like "SLA Monitoring". Maybe orient it similarly to where one graph is one SLA operation. That way mu

[2015-12-14 06:03] xUmaRix commented on #1851
After enable CBQoS module i cannot find CBQoS menu from the header.

[2015-12-14 07:09] adaniels21487 commented on #1851
Hi @xUmaRix,
After enabling the CBQOS discovery module you will need to complete a discovery to find the policy and class maps. You can do this manually with:
/opt/librenms/discovery.php -h *HOST* -m cisco-cbqos
You should see something along the lines of:

[code]

You should see + for new classes found and . if a previously discovered class was found.
If you dont have a + or . here please re-run

[2015-12-14 07:32] hlmtre opened #2624 "IRC alerts fail"
When attempting to send alerts to the IRC transport, the bot appropriately joins the channel, but never says anything, or responds to commands.

[2015-12-14 07:32] hlmtre commented on #2624
I'm actually working on this -- can it be assigned to me?

[2015-12-14 08:28] f0o commented on #2624
IRC Bot is working fine here, complaining about all sorts of things:
[code]

[2015-12-14 08:30] f0o commented on #2579
@laf how do we go on the UI?
The backend is finished and works

[2015-12-14 09:15] xUmaRix commented on #1851
tq for the clarification. :)

Cisco-CBQOS: ++++++++++
Discovered in 144.7 seconds

[2015-12-14 10:17] cultcom commented on #2451
I asked for a list of devices within a specific group, but actually both options make sense.

[2015-12-14 10:25] SaaldjorMike commented on #2624
@hlmtre Can you provide your IRC settings from the config file?
`grep irc /opt/librenms/config.php`
Remember to remove any sensitive information.

[2015-12-14 10:25] laf commented on #2624
Ditto. Do you have:

`$config['irc_alert_chan'] = '#netalerts';` set?

[2015-12-14 10:26] laf commented on #2579
Not looked into it anymore than just "it won't fit"

[2015-12-14 10:26] laf commented on #2451
The PR should cover it all don't worry :)

[2015-12-14 13:16] jcounsell1222 commented on #2196
@adaniels21487 i am not really part of the Voice team, more of a network engineer, so we take care of the voice routers but dont configure them for the voice side. i was looking over the libre GUI and i was not able to figure out how to track the calls and alert on them if there was an issue. is that something that can be done? i assume that when you say it tracks the PRI if it stops showing calls

[2015-12-14 13:19] jcounsell1222 commented on #2607
root@prdwndsrenms001:/opt/librenms# ./discovery.php -h ven-core-b -d -m cisco-sla
LibreNMS 2015.master Discovery
commit 6cfe0c4b3fd4bafd5148096b746f9694b9c06001

DEBUG!

SQL[SELECT version FROM `dbSchema` ORDER BY version DESC LIMIT 1]
SQL[SELECT revision FROM `dbSchema`] DB Schema already up to date.

SQL[SELECT * FROM `devices` WHERE status = 1 AND disabled = 0 AND `hostname` LIKE 'ven-core-b' A

[2015-12-14 15:44] job commented on #1295
@laf the authentication itself works. How can I set an access level?

[2015-12-14 15:47] markuspachali opened #2625 "Some graphs not drawn for QNAP storage"
Hi all,
I have a little problem with the storage and memory graph on the right top of the website for a QNAP Turbo NAS TS-809U running OS 4.2.0. For the memory graph it says "Error drawing graph" and for the storage nothing is display. The strange thing is, that on the host overview page in the sections "Memory Pools" and "Storage" everything is displayed as expected. If I click on "Show RRD Comma

[2015-12-14 15:58] hlmtre commented on #2624
Certainly.

    $config['irc_host'] = "prod-srv";
    $config['irc_port'] = 6667;
    $config['irc_chan'] = "#networks";

`prod-srv` is pingable from the librenms box (it is an IRC server hosted on my network).

http://aql.ink/6dCoFUML.png

That's all Mr Bot does.

[2015-12-14 16:03] laf commented on #1295
@job

So you can either do that by manually adding the user with ./adduser.php in the cli. Or if you have an existing admin user then login with those and edit the user within the webui and if you don't then just update the users table in mysql:

`UPDATE users SET level=10 WHERE username='job';`

[2015-12-14 16:03] f0o opened #2626 "PowerWalker Devices"
MIBs: http://www.powerwalker.com/index.php?page=nmc&lang=en
`sysObject.0 => enterprises.935.10.1`
`sysDesc.0 => Network Management Card for UPS`
`sysObjectID.0 => .1.3.6.1.4.1.935.10.1`

walk pending

[2015-12-14 16:04] laf commented on #2624
@hlmtre You need the config I mentioned above.

[2015-12-14 16:21] f0o commented on #2624
More importantly, you need to tell the bot to actually care about alerts..
http://docs.librenms.org/Extensions/IRC-Bot/
`$config['irc_alert']	= true;`

otherwise it wont do anything

[2015-12-14 16:42] hlmtre commented on #2624
Apologies, I didn't get from the docs that the alerting functionality had to be explicitly enabled; I thought that that was the basic purpose of the IRC bot and all that was required for that was

    $config['irc_host'] = "myserver";
    $config['irc_port'] = myport;
    $config['irc_chan'] = "#mynetwork";

damn damn damn damn

[2015-12-14 16:42] #2624 closed

[2015-12-14 16:50] SaaldjorMike commented on #2528
Can this be closed due to the fix in PR #2544 ?

[2015-12-14 17:04] laf commented on #2528
Think I linked to the wrong issue. Closing as it does fix this :)

[2015-12-14 17:04] #2528 closed

[2015-12-14 17:34] Rosiak commented on #2625
Hi @markuspachali
Please run the validate.php

[2015-12-14 18:26] markuspachali commented on #2625
Hi @Rosiak
validate.php runs without errors:
[root@librenms librenms]# ./validate.php
[OK]      config.php tested ok
[OK]      Database connection successful
[OK]      fping has been found
[root@librenms librenms]#

[2015-12-14 22:25] laf commented on #2625
I expect it's similar to another issue we had as we can show different memory/storage graphs on different pages :/

Can you go to Health -> Overview page for the device. Click on both the memory and Disk usage graphs, then on the new page -> Show RRD Command and paste the output onto dpaste.de and link here.

[2015-12-15 00:57] SaaldjorMike commented on #1684
I've got some Catalyst WS-C3560E-12SD, all running firmware 15.0(2)SE2 (same firmware as you). For all dBm sensors in across the multiple 3560E's, I also see a problem with fetching the low+high limits for the sensors.

@Lucheni: Have you tested using a newer firmware since you created this issue?

Checking the data available through SNMP (using `snmptable`) shows that the values are not returned

[2015-12-15 01:13] SaaldjorMike commented on #1820
Any clarification regarding exactly what we need here?

[2015-12-15 07:48] krzysztofpuchala opened #2628 "Ever devices"
MIBS: http://ever.eu/uploads/product/links/3deb8cdb9f62b4cf533d16433d3a9caf68e6ebe6.txt
iso.3.6.1.2.1.1.2.0 = OID: iso.3.6.1.4.1.9797.1.2.1.1.0
iso.3.6.1.2.1.1.3.0 = Timeticks: (299217718) 34 days, 15:09:37.18
iso.3.6.1.2.1.1.4.0 = STRING: "Kontakt do administratora"
iso.3.6.1.2.1.1.5.0 = STRING: "Nazwa"
iso.3.6.1.2.1.1.6.0 = STRING: "Lokalizacja"
iso.3.6.1.2.1.1.7.0 = INTEGER: 72

[2015-12-15 08:23] f0o opened #2629 "PHP7.0-FPM Docs"
Hi,

I'm running PHP7.0-FPM from dotdeb on my install and it works great.

Only bumps so far:
- PEAR needs to be installed manually with the gopear.phar
- PEAR's includepath needs to be added to fpm's php.ini as well as cli's php.ini
- DotDeb's php-packages have a different naming convention so dependencies are to be substituted from `php5-*` to either `php-*` or `php7.0-*`
- NetIPv4 and NetIPv6 a

[2015-12-15 08:52] f0o opened #2630 "Fix JpGraph's silly version compare"

[2015-12-15 09:16] aauvinet commented on #2567
Hello,
This isn't work for me....

For exemple,  More devices is down where is the number 44. it is orange because there is lot of devices but no because is down...

![2015-15-12-librenms](https://cloud.githubusercontent.com/assets/15667014/11806574/6397e0c6-a314-11e5-9d06-222d9f236c95.png)

If I zoom
Wee can see the devices are down.

![2015-15-12-librenms2](https://cloud.githubusercontent.com/as

[2015-12-15 09:18] aauvinet commented on #2567
I do :
./daily.sh for update the librenms on my server.

[2015-12-15 09:19] SaaldjorMike commented on #2567
@aauvinet The new PR is not merged yet, which is why you still see the same old behaviour.

[2015-12-15 09:29] aauvinet commented on #2567
Ok....
I wait quietly

[2015-12-15 10:28] laf commented on #1820
It was job who raised it so probably best asking him.

[2015-12-15 10:29] SaaldjorMike commented on #1820
Tagging @job

[2015-12-15 10:39] job commented on #1820
This can be closed, i don't remember what this was about

[2015-12-15 10:41] #1820 closed

[2015-12-15 11:12] bpetit commented on #2521
I have 22 devices polled. 20 are polled by the distributed poller. 2 are polled by the master instance.
Only 6 devices have graphs missing (like the ones I told you). All other devices seem alright.

I was using rrdtool 1.4 on the master instance but I've always been using rrdtool 1.5 on the distributed poller. Now I use rrdtool 1.5 everywhere but nothing has changed.

Thanks.

[2015-12-15 12:50] snis commented on #2114
@f0o stumbled upon this page: http://kb.paessler.com/en/topic/65075-prtg-with-telegram. From my understanding the chat and user ID are static.
There is a limit of 30 messages/sec.

In order to get the group chat id, do the following:

1) Add the Telegram BOT to the group.

2) Get the list of updates for your BOT: https://api.telegram.org/bot<token>/getUpdates Ex: https://api.telegram.org/botjbd78s

[2015-12-15 12:51] snis commented on #2114
Also, there are some php bot examples at: https://core.telegram.org/bots/samples#php

[2015-12-15 13:59] snis commented on #2114
Managed to get this to work by using the "API Transport". By using the following API URL (Post method):
https://api.telegram.org/bot<token>/sendMessage?chat_id=<chat_id>&text=%title

replace token and chat_id with your settings.

[2015-12-15 14:23] f0o commented on #2114
The chat_id however isnt static, how do you figure which one it is?

On 15 December 2015 14:59:34 CET, snis <notifications@github.com> wrote:

[2015-12-15 14:33] snis commented on #2114
By visiting https://api.telegram.org/botTOKEN/getUpdates

I added the bot to a group and typed /start in the group after that the getUpdates URL displayed the chat_id

[2015-12-15 15:34] f0o commented on #2114
Fair, can hack something together on that basis

[2015-12-15 16:25] petracvv commented on #2599
@laf Thanks for the clarification. Just to make sure I understand, Librenms is calculating a packet error rate from the snmp error count and the number of packets coming in/out?

[2015-12-15 17:36] Rosiak opened #2634 "Enhancement: Update bootstrap"

[2015-12-15 20:44] markuspachali commented on #2625
I have Physical Memory, Virtual Memory and Swap Space. I've selected Physical Memory as an example. If you need also the others please let me know:
https://dpaste.de/64W0

For Storage there are three mount points. I've selected /mnt/HDA_ROOT, if you need also the others, please let me know:
https://dpaste.de/JY4D

[2015-12-16 10:20] laf commented on #2599
The rate comes from the difference between two polls and the time between them rather than the packets.

[2015-12-16 10:20] laf commented on #2625
You should have an overview graph for memory and storage, rather than drilling down if you stay on the health -> overview page.

[2015-12-16 15:13] #2630 closed

[2015-12-16 17:05] markuspachali commented on #2625
Nope, if I click Health -> Memory I see three graphs for that host (Physical, Swap and Virtual) and if I click on Health -> Storage I see also three graphs for the three discovered mount points. There is no combined graph for no device.

[2015-12-16 17:24] ekoyle opened #2636 "New device: Ligowave LigoPTP"
I have some Ligowave LigoPTP 5-23 MiMo devices that are being discovered as generic devices.

Here is the discovery output:
[ligoptp_discovery.txt](https://github.com/librenms/librenms/files/64303/ligoptp_discovery.txt)

Here is the output of snmpwalk -Oqn:
[ligoptp_snmpwalk.txt](https://github.com/librenms/librenms/files/64288/ligoptp_snmpwalk.txt)

[2015-12-16 18:28] Rosiak commented on #2636
Tagging @SaaldjorMike
Not sure if we should create a separate "os" for PTP or just rewrite the existing so it covers more than just the Infinity ones.

[2015-12-16 21:27] laf commented on #2625
Ah you're clicking the heading, click the actual graph which shows everything in one.

[2015-12-16 22:30] tylerapplebaum opened #2639 "Mirth MIB"
The MIB and OIDLIB are attached in the ZIP file. Is this something you'll support?

Thanks,

Tyler

[2015-12-16 23:49] markuspachali commented on #2625
Okay, I was in the wrong section. I'd selected health from the top bar and not from the host overview.

Memory:
https://dpaste.de/D0EZ

Storage/Disk usage:
https://dpaste.de/eE5i

[2015-12-17 04:04] f0o commented on #2634
Again? :D

[2015-12-17 07:27] Rosiak commented on #2634
@f0o
Yuz! v3.3.6 is the latest now, we're on v3.3.5!!

[2015-12-17 09:39] samyscoub commented on #2021
Same problem with remote mysql host :

`/opt/librenms/rrd/librenms/app-mysql-20.rrd: found extra data on update argument`

Have you found the problem ?

[2015-12-17 20:13] silverwizard opened #2640 "Config error causes alert spam"
I added a transport rule for Nagios compatible alerts to our local LibreNMS install. When it got to the Nagios alert it errored (I'd made a typo), and didn't increment the correct variables. Therefore when it got here:
            if (dbInsert(array('state' => $state, 'device_id' => $alert['device_
id'], 'rule_id' => $alert['rule_id'], 'details' => gzcompress(json_encode($alert
['details']), 9)),

[2015-12-17 20:16] f0o commented on #2640
That sounds more like you got an interval running. That code part doesnt care about the success or failure of a transport

On 17 December 2015 21:13:23 CET, silverwizard <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-12-17 21:15] jcounsell1222 opened #2641 "Palo Alto Firewall Global Protect connected users"
Hey guys,

i was wondering if i am missing something here. i am trying to see if Libre can show active connected global protect users connected to a palo alto firewall. similar to the command "show global-protect-gateway current-user".

thanks in advance.

[2015-12-18 02:07] masonke commented on #2413
The problem is this netscaler is using partitions. On using without partitions, things work normally.

[2015-12-18 09:41] samyscoub opened #2642 "Mysql unix agent plugin for 5.7 version"
Hi,

For the Mysql 5.7 ( and 5.6 ? ) version, I had to change some keys into the `$overrides` array :

[code]

And this before (because it is not present is recent Mysql versions ) :

[code]

And the same Mysql plugin does not work if host is not localhost.
The reason is that `$fields` is not correctly unset :

You have to unset the `$fields` variable because there is values from other plugins ins

[2015-12-18 12:01] laf opened #2643 "Poller performance improvement for sensors - beta testers needed"
https://github.com/laf/librenms/tree/sensors-perf

This branch is currently upto date with LibreNMS master. For me with devices that have a large number of sensors (> 100) I get a saving of around 5-10 seconds per device:

![image](https://cloud.githubusercontent.com/assets/3941142/11896516/fd09096c-a57e-11e5-9797-5f243f36641e.png)

The poll_sensor call has been updated in a big way and I'd like t

[2015-12-18 14:38] cchance27 opened #2644 "Cambium do not give ifAlias or ifName - Api Search via ifDescr"
As per  our convo on the IRC, i create this issue because the Cambium 450's do not return ifName or ifAlias only ifDescr, and as such we can't access their interfaces via the API...

I'm hoping you will be able to add the ability to the API to search via the ifDescr as an alternate.

Below is an example of the db for one of the devices.

MariaDB [librenms]>  SELECT ifName,ifDescr,IfAlias FROM port

[2015-12-18 15:38] samyscoub commented on #2021
You have to unset the `$fields` variable because there is values from other plugins inside and the count of elements inside the array is greater than the number of fields expected by rrdtool_update

$values = array();
+ unset($fields);
foreach ($mapping as $k => $v) {
    $fields[$k] = isset($map[$v]) ? $map[$v] : (-1);
}

[2015-12-18 16:11] #2614 closed

[2015-12-18 16:22] #2216 closed

[2015-12-18 16:38] cchance27 opened #2646 "EDP Discovery Integration (extremenetworks)"
Do you need access (working on it) or just a sample of the snmp walk from the EDP discovery? I've attached it below it seems pretty straight forward its basically just a snmp table of neighboring switches.

extremeEdpNeighborName(3)
extremeEdpNeighborSoftwareVersion(4)
extremeEdpNeighborSlot(5)
extremeEdpNeighborPort(6)
extremeEdpEntryAge(7)

I walked one of my switches

snmpwalk -v 2c -c xxxxxx 1

[2015-12-18 16:39] #2021 closed

[2015-12-18 16:39] #2642 closed

[2015-12-18 16:40] laf commented on #2640
I can confirm that this is the case. When testing new transports if they don't function correctly then the alert is never sent so it will continue to re-attempt each minute.

[2015-12-18 16:41] laf commented on #2639
You've not linked to a mib. However that alone isn't what we need and we will need to know what it is you want to see out of it.

[2015-12-18 16:43] laf commented on #2634
If it's not needed then I'd recommend leaving it. We have so many other elements that depend on it now it's difficult to 100% test compatibility

[2015-12-18 18:48] tylerapplebaum commented on #2639
[Mirth.zip](https://github.com/librenms/librenms/files/67031/Mirth.zip)

I'm looking for the Mirth connect channel stats in table form:

  MIRTH-MIB|mirth connect channel stats: #[1.3.6.1.4.1.29009.2.2.1.3.1.1.1]

[2015-12-19 12:44] #1295 closed

[2015-12-19 18:50] f0o commented on #2640
How can i reproduce this?

[2015-12-19 18:56] laf commented on #2640
I had the issue before the last update to the hipchat transport, I had that configured and got continuous mail alerts as that transport was ok but hipchat wasn't.

That's from memory but I think that's what it was.

[2015-12-19 19:15] laf commented on #2644
Once this is merged in, you can just append ?ifDescr=true to the API call.

[2015-12-19 19:22] silverwizard commented on #2640
I added the wrong file to the Nagios transport and caused this error

[2015-12-19 20:19] laf commented on #2646
I'm not sure that is a full walk of the correct table. Try:

snmpwalk -v 2c -c xxxxxx 172.16.0.11  -M /opt/librenms/mibs/ -m EXTREME-BASE-MIB extremeEdpEntry

We really could do with access if possible, it would simplify the whole thing.

[2015-12-19 20:21] laf commented on #2628
Can you provide the debug output from:

[code]

[2015-12-19 20:39] krzysztofpuchala commented on #2628
LibreNMS 2015.master Discovery
commit 271f0591e84f17e7a51a6bd0644666a6c9ef254c

DEBUG!

SQL[SELECT version FROM `dbSchema` ORDER BY version DESC LIMIT 1]
SQL[SELECT revision FROM `dbSchema`] DB Schema already up to date.

SQL[SELECT * FROM `devices` WHERE status = 1 AND disabled = 0 AND `hostname` LIKE '192.168.10.199' ORDER BY device_id DESC]
SQL[SELECT * FROM devices_attribs WHERE `device_id` =

[2015-12-19 20:55] laf commented on #2625
@markuspachali

Please try this, edit includes/definitions.inc.php and find this line:

`$os = 'qnap';`

Below:

`$config['os'][$os]['ifXmcbc'] = 1;`

Add this:

[code]

And try again.

[2015-12-20 09:35] markuspachali commented on #2625
Neil: Thanks for that. I will do that as soon as I'm back home from my trip to Munich on Monday evening.

Von meinem iPhone gesendet

[2015-12-20 13:20] f0o commented on #2640
Just to be 100% sure here, can you paste me exactly what config parameter you used - would really like to recreate the same situation. Also please tell us your LibreNMS version as well.

[2015-12-20 14:18] jviersel opened #2650 "Feature request: permissions on sensors"
Currently, i can give users permissions on network interfaces (ports) instead of the full device. But for sensors i can only give access to the full device. On devices like powerbars, i would like to limit this to just the assigned powerport (sensor).

[2015-12-20 15:33] tsypa opened #2652 "missed MIBs"
php poller.php -d -r -m snmp -h localhost
MIB search path: /opt/librenms/mibs
Cannot find module (MTA-MIB): At line 1 in (none)
Cannot find module (NETWORK-SERVICES-MIB): At line 1 in (none)

[2015-12-20 17:06] f0o commented on #2643
On it :)

[2015-12-20 17:25] #2644 closed

[2015-12-20 17:35] #2451 closed

[2015-12-20 17:48] f0o commented on #2652
I dont think `-m snmp` does anything...

[2015-12-20 17:55] #2567 closed

[2015-12-20 19:03] Rosiak commented on #2634
Agree @laf , closing for now.

[2015-12-20 19:03] #2634 closed

[2015-12-20 20:10] laf commented on #2652
No but we do indeed get those warnings. Whilst it's not an actual issue it is annoying so think we should merge in the PR that adds these mibs.

[2015-12-20 20:13] #2652 closed

[2015-12-20 20:37] Rosiak commented on #2626
Mailed them regarding their logo.

[2015-12-20 22:00] Rosiak commented on #2608
I think this fits the task:
http://www.jquery-bootgrid.com/Examples#selection

[2015-12-20 22:15] Rosiak commented on #2178
Mailed them regarding their logo.

[2015-12-21 05:22] elleryweber opened #2656 "Feature Request: Navigation Menu for Weathermaps"
The PHP Weathermap 'plugin' for Observium has a custom navbar include that allows quick selection of maps that have been created. Is this something that could be easily incorporated into LibreNMS?

I submitted this issue with the plugin creator (https://github.com/librenms-plugins/Weathermap) and he suggested that I post it over here.

Thanks!

[2015-12-21 06:18] f0o commented on #2656
:+2:

[2015-12-21 06:19] f0o commented on #2626
Thanks!

[2015-12-21 10:02] aauvinet commented on #1196
Hi,
Me too.....
I have got  five handred devices, I need  to find the location's (switch/interface) Client, PC, printers...

Cdlt,

[2015-12-21 10:22] SaaldjorMike commented on #2398
Closing this as this is a duplicate of #1196 which you also refer to yourself.

[2015-12-21 10:22] #2398 closed

[2015-12-21 10:24] aauvinet commented on #2398
Ok,
Excuse me for the duplicate.

[2015-12-21 11:30] jenslink opened #2657 "Notifications"
Came back to the office after a couple of days and saw 2 notifications for me.

eg "Important update being released" with http://www.librenms.org/notifications.rss

I think it would be great if the notifications would show a date. It's in the rss feed but not in the notification text itself.

[2015-12-21 11:32] SaaldjorMike commented on #2657
We already have an open issue regarding this: #2562

[2015-12-21 11:32] #2657 closed

[2015-12-21 11:36] SaaldjorMike commented on #2562
:+1:

[2015-12-21 12:52] arjitc opened #2658 "Uptime % in a day/month/year for devices"
Would be nice to have this feature/stat as well, perhaps under Availability?

EDIT: Just further clarifying, I mean in text based stats for this, uptime in %, last downtime (timestamp), current uptime (in hours) and last downtime duration

[2015-12-21 12:52] arjitc opened #2659 "Export graphs option"
Would be nice to have a option to export graphs as currently right click & save gets a graph with a transparent background which looks pretty weird in many image viewers.

[2015-12-21 15:11] fran-nlt opened #2661 "monitoring active directory"
Hi
I need monitoring active directory of Windows Server
I need view user login
Avality of Service

Is possible?

[2015-12-21 15:53] masonke opened #2662 "Allow line graphs instead of stacked area graphs."
For some of the graphs, they would make more sense to use lines instead of stacked areas to display the data. For instance, on the mysql connections, a glance at the graph gives the impression that there are 3,400 connections in use, yet the max is 1,600. If this was a line graph, it would be much easier to interpret.

Would it be possible to add a switch or check box to switch to line graphs?

Th

[2015-12-21 17:27] Rosiak commented on #2658
@arjitc
Think this is the same as #2139 is asking for, right?

[2015-12-21 17:31] Rosiak commented on #2656
I made this at some point, is this good or should we proceed for a version more integrated in the menubar?
![screen shot 2015-12-21 at 18 29 57](https://cloud.githubusercontent.com/assets/6378934/11936882/0a96164e-a811-11e5-9010-e8e10fa6e727.png)

[2015-12-21 17:43] elleryweber commented on #2656
I think this looks great, personally. Is this just what appears when you
click on the plugin entry?

EW

--- Ellery Weber

On Mon, Dec 21, 2015 at 9:31 AM, Søren Rosiak <notifications@github.com>
wrote:

[2015-12-21 17:48] cchance27 commented on #2646
Ya i'm trying to arrange access, but need permissions from management to do it... in the meantime here you go... looks about the same

[root@librenms ~]# snmpwalk -v 2c -c xxxxxxxx 172.16.0.11 -M /opt/librenms/mibs/ -m EXTREME-BASE-MIB extremeEdpEntry

EXTREME-EDP-MIB::extremeEdpNeighborName.1017.'.....'.M' = STRING: "SITEASW-1"
EXTREME-EDP-MIB::extremeEdpNeighborName.1018.'.....6.%' = STRING: "SI

[2015-12-21 19:28] masonke commented on #2656
Looks good, easy to use.
👍

[2015-12-21 20:35] mneth1 opened #2664 "poller.php doesn't properly parse unix process output when the TIME column has days in it"
My current commit level from the git show command: commit ac46c70f7ed52d76a12e8823b0aa43d1cf2bcf45

When processes have used enough cpu TIME that they get into days, they begin to show the numbers of days with a hyphen before the standard time. Example from the output poller.php gets (which is the same TIME reported by ps -ef on the server):
(mysql,94989836,90144172,54-03:43:19,2468) /usr/sbin/mys

[2015-12-21 20:42] #2636 closed

[2015-12-21 20:52] Rosiak commented on #2628
@krzysztofpuchala
The pastes has expired :(

[2015-12-21 21:49] mneth1 commented on #2664
For what it's worth, I seem to have fixed it by changing line 101 of $installDir/includes/polling/unix-agent.inc.php to this:
$process = preg_replace('/\((.*),([0-9]*),([0-9]*),([0-9]*-)?([0-9\:]*),([0-9]*)\)\ (.*)/', '\\1|\\2|\\3|\\4\\5|\\6|\\7', $process);

[2015-12-21 23:37] blgarion commented on #1380
Another person interested here, in case it helps push into that direction. Either way, awesome work to all of the guys helping at LibreNMS. I love it.

[2015-12-22 02:44] adaniels21487 commented on #2196
Hi @jcounsell1222. If you send me your router config (lists at daniels.id.au) I can let you know which module your request belongs in. Currently neither module alerts on trunks, they only do utilisation.

Aaron

[2015-12-22 03:04] adaniels21487 opened #2665 "Cisco OTV Poller"
Discovery / Poller module to monitor Cisco OTV.

Team,
I would like to create this one as an 'application', which allows a global, and per-device view of OTV links. Are applications reserved for the unix agent only, or can I use them for this kind of thing as well?

Thanks,
Aaron

[2015-12-22 14:06] silverwizard commented on #2640
I had /var/spool/nagios in the nagios transport (which was been good, until that became a directory)

Version	d385a6a

[2015-12-22 19:40] arjitc commented on #2658
Ah yes, it's the same @Rosiak  . Closing this one :)

[2015-12-22 19:40] #2658 closed

[2015-12-22 22:38] paulgear commented on #1698
@adambialy I think that's a very different suggestion to what this issue is about; this issue is just about keeping a log of which IP address(es) the configured name resolved to at the time of last poll.

[2015-12-23 06:00] f0o commented on #2664
Can you PR that ? :)

[2015-12-23 08:33] Semcon commented on #386
Searching for a solution to my problem with a VPN router having 1157 interfaces, but only 20 showing (with very limited history) lead me here. I use openvpn for the tunnels and everytime the tunnel goes down and reconnects I will end up with a new interface index and a new traffic graph starting from the time the tunnel was renegotiated.

I see that this issue is almost a year old and I am just cu

[2015-12-23 09:31] PhilipOlsson opened #2666 "Strip quotes in ifAlias"
We have quotes/ "" in many interface descriptions/ifAlias which prevents the "Port Description Parser" code from parsing those interfaces.
There also seems to be some attempt to escape those quotes since we get '\' in the interface descriptions where quotes are supposed to be.

Should be simple enough to replicate on any device with just inserting quotes / '"'  in any interface description.

A goo

[2015-12-23 09:33] f0o commented on #386
Well we have no plan for this. Issue remains and help is highly appreciated.

[2015-12-23 10:48] RichiH opened #2667 "CTRL-click / middle mouse click on links opens target URL in current and new tab"
If I open a link in a new tab, I have a reason to do so.

Sadly, many new-ish JS web UIs tend to open the target URL in the current tab as well, and LibreNMS is falling into the same trap.

[2015-12-23 12:09] f0o commented on #2667
Which links are you referring to?

[2015-12-23 13:34] markuspachali commented on #2625
@laf
I've added the lines. There are good and bad news. The storage graph is now displayed, but the graph for the memory is still not working. I think the problem is, that QNAP does not support the UCD MIB and so there are also no UCD graphs which can be used. In the rrd folder I have the following files:
-rw-rw-r--. 1 librenms librenms 123K Dec 23 14:30 hr_processes.rrd
-rw-rw-r--. 1 librenms lib

[2015-12-23 14:03] RichiH commented on #2667
For example, any link on the left side of the lists of:
* http://librenms.foo/devices/type=network/
* http://librenms.foo/device/device=X/tab=ports/

[2015-12-23 15:25] MauJFernandez commented on #1622
Hi @paulgear, sorry for the delay, I'm now deploying a test server to play with this.

Thank you!

[2015-12-24 22:30] Rosiak commented on #1631
Closing due to inactivity.

[2015-12-24 22:30] #1631 closed

[2015-12-24 22:31] Rosiak commented on #1775
Proposing to close this one as I don't see this being a problem.

[2015-12-25 00:21] Rosiak commented on #1343
Closing due to inactivity.

[2015-12-25 00:21] #1343 closed

[2015-12-25 00:35] Rosiak commented on #1877
Any news? @spaprzycki

[2015-12-25 00:36] Rosiak commented on #1863
@f0o With the notification system in place, where are we at now?

[2015-12-25 00:37] Rosiak commented on #1897
Will see if I can close this one before new year :)

[2015-12-25 00:46] Rosiak commented on #2013
This one still relevant?

[2015-12-25 00:50] Rosiak commented on #2140
Closing, fixed in #2621

[2015-12-25 00:50] #2140 closed

[2015-12-25 16:47] #1775 closed

[2015-12-25 16:49] f0o commented on #1863
Can do!

[2015-12-27 14:15] vitalisator opened #2673 "Add spanning tree (STP, RSTP, MSTP) support"
It would be nice to have some spanning tree information inside librenms.
That would improve troubleshooting with STP related problems.
The most of STP information could be taken from BRIDGE-MIB, RSTP-MIB.

On the bridge (device) side we could have something like that in the new device STP tab:
- STP protocol (STP, RSTP, MSTP, ...)
- STP version
- Time since last topology change (e.g. 3 Days, 23:42

[2015-12-28 08:38] vitalisator opened #2674 "missing service decription information"
on html services page i dont see service description

[2015-12-28 14:57] markuspachali commented on #2673
:+1:

[2015-12-28 17:07] mneth1 commented on #2664
I actually don't have my own fork or anything, I was just tinkering with the files I pulled down to see if I could figure it out. I'm not entirely positive that regex is totally correct, either.

[2015-12-28 20:21] jcounsell1222 commented on #2673
I agree this would be a pretty cool feature to have.

[2015-12-28 20:49] Rosiak commented on #2532
@paulgear Are you on this or should we remove you from this task?

[2015-12-28 20:55] Rosiak commented on #2667
Unable to reproduce this in:
- Chrome Version 47.0.2526.106 (64-bit)
- Firefox 43.0.1 Build-ID 	20151216175450
- Safari Version 9.0.2 (11601.3.9)

[2015-12-28 20:59] paulgear commented on #2532
I started making a patch and then got sidetracked. :-)  I'll have a look now.

[2015-12-29 07:33] RichiH commented on #2667
* http://foo/device/device=240/tab=ports/
* Click 1. FastEthernet0/1
* Reproduced using Chrome 46.0.2490.86 (64-bit)

[2015-12-29 15:20] adamboutcher opened #2677 "LibreNMS not detecting Enterasys B5-Series Correctly"
I asked for help on IRC and was told to open an issue on here.

My Enterasys B5-Series switches don't get discovered as Enterasys but show as "Generic".

I ran this command to get the output below
php /opt/librenms/discovery.php -h core-ms.net.local-domain.tld -d -m os

[code]

[2015-12-29 18:06] #2677 closed

[2015-12-29 18:12] #2674 closed

[2015-12-29 21:04] elcangri2124 opened #2681 "add option to change traffic speed in graphs"
was discussing this in the IRC but, the reason is to be able to show this and explain in more detail to none technical personnel or management. If I show them the graph and say we get 50000000 bps this hour they are like uh? so to be able to show them or they can see the graph themselves and it shows more like mbps or gbps would easier to explain :)

[2015-12-29 21:08] laf commented on #2681
imho I don't think this is worth doing, having config options for every little item is just overkill and hard to maintain.

However, if you are referring to the actual values in the graphs then these autoscale already:

![image](https://cloud.githubusercontent.com/assets/3941142/12042166/349ae2e8-ae70-11e5-9c21-e528709b4aca.png)

[2015-12-30 12:25] Rosiak commented on #1236
@librenms/core-team
Should we try to see if we can pick this up in Q1 16' ?
I think it's a pretty vital part, we've been sorta missing out on for some time.

[2015-12-30 12:41] SaaldjorMike commented on #1236
:+1:

[2015-12-30 14:59] f0o commented on #1236
:+1:

[2015-12-30 16:41] MHammett commented on #1920
I am having this problem as well. I have pasted below the MariaDB version, the Debian version and the output of show processlist

root@LibreNMS-MySQL:/opt/librenms-agent/agent-local# mysql -v -u root -p
Enter password:
Welcome to the MariaDB monitor.  Commands end with ; or \g.
Your MariaDB connection id is 32675
Server version: 10.0.22-MariaDB-0+deb8u1 (Debian)

Copyright (c) 2000, 2015, Oracle,

[2015-12-30 16:59] elcangri2124 commented on #2681
how did you get it to change like that? mine only show bps or in the total M or G. Which is easy for me to tell but, not for others. The screenshot you showed me works for me.

[2015-12-30 22:34] paulgear commented on #1236
I don't think this has much overlap with MIB-based polling.

[2015-12-30 23:23] djtecha opened #2682 "visjs issues with overlapping links"
There is an issue where if you have 2 edges between the same 2 nodes you get overlapping labels. Here I have 2 cables connected between a server and switch so it doesn't render great.

![map](https://cloud.githubusercontent.com/assets/3084627/12059085/3507368e-af09-11e5-943b-5ae67e0601cf.png)

[2015-12-30 23:28] djtecha commented on #2682
current layout:

$config['network_map_vis_options'] = '{
  layout:{
    improvedLayout: true
  },
  "edges": {
    "arrows": {
        "to": {
            enabled: true,
            "scaleFactor": .25
        }
    },
    font: {
        align: "middle",
        strokeColor: "red",
        background: "black",
        size: 12
    },
    selfReferenceSize: true,
    "color": {
        "color": "re

[2015-12-31 00:27] SaaldjorMike commented on #2681
@elcangri2124 Can you provide a screenshot with an explanation of exactly what is not how you expect it to be? The y-axis is AFAIK usually always auto-scaling, so a screenshot and a very precise comment for it would be appreciated.

[2016-01-01 15:52] digitalpilotnm opened #2683 "GUI Search fails to return proper results"
LibreNM version: 	041f9a1

When using the GUI search to search for ports, the returned choices are not complete.
For example, if one types in   hv003  to see all ethernet ports related to hv003, the dynamic search drop down only returns 1 choice, when there are 4 choices.
If one searches for  hv002  one gets two choices out of 4.

Here is what the SQL db shows

mysql> select ifAlias, ifDescr  from

[2016-01-01 21:01] #2376 closed

[2016-01-01 21:20] paulgear commented on #2667
I reproduced this on Firefox 43.0 (64-bit) on Ubuntu Linux using the ports page on my switch, but only with Ctrl-Click.  Middle button click works as expected.

[2016-01-01 21:22] paulgear commented on #2683
I sort-of reproduced this.  I started typing a port name which I know exists on my switch; it didn't find it first try, but when I backspaced over the last character and retyped it, it appeared.  Not sure what to make of that.

[2016-01-02 01:38] Rosiak opened #2685 "Default dash corrections"
edituser.php
and tiles.php.

Add username to the dash name in edituser.php, so one can correctly identify the dash one wants to use.
If using anothers users dash as default, username is not printed on tiles.php in the dropdown.

[2016-01-02 02:19] jarischaefer opened #2686 "Wrong uptime"
One of my boxes has 160 days of uptime, according to LibreNMS. Running uptime via SSH reports 527 days, though.

I have lots of other boxes with less than 300 days of uptime reporting properly.

The monitoring server runs LibreNMS 8aecf71 on Ubuntu 14.04. The target runs snmpd 5.4.3 on Debian 7.